<extend name="Public/base"/>
<block name="body">
<style type="text/css">
  .num {padding:0px 10px 0 10px;color:#4e4e4e;}
  .next{color:#4e4e4e;}
  .prev{color:#4e4e4e;}
  .num:hover,.next:hover,.prev:hover{color:green;}
</style>

  <div id="content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
      <button class="close fixed" style="margin-top: 4px;">×</button>
      <div class="alert-content">返回内容！</div>
    </div>
    <div id="content-wrap">

 <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>{$ctitle}</a> <a href="#" class="current">APP互动</a> <a href="#" class="current">详情</a></div>
    <h1>{$atitle}</h1>
  </div>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12" id="Yu-db-backup">

            <div class="widget-yu-btn">
              <div class="widget-yu-btn widget-right-search">
              <div class="search">
             </div>
              <form id="export-form" method="post" action="{:U('Message/MessagedelSelect')}">
               </div>
              <div class="widget-content nopadding">
                <input type="hidden" name="id" value={$info.id} />
            <table class="table table-bordered table-striped with-check" id="Yu-db-backup">
              <thead>
                <tr>                
                  <th>会员</th>
                  <th>回复内容</th>                
                  <th>时间</th>
                  <th>赞数</th>
                  <th>操作</th>                                  
                </tr>
	              </thead>
	              <tbody>
	              	<volist name="info" id="vol">
	                <tr>                 
	                  <td>{$vol.username}</td>
	                  <td>{$vol.content}</td> 
					          <td>{$vol.createtime}</td>
                    <td></td>                 
	                  <td><a title="删除" href="{:U('Message/appReplyDel?id='.$vol['id'])}">删除</a></td>
	                </tr>
	                </volist>              
	              </tbody>
            </table>
              </form>
            </div>
            <div class="viciao">
              {$pagelist}
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
 <script src="/Public/Admin/js/date/WdatePicker.js"></script>
</block>