<extend name="Public/base"/>
<block name="body">
    <script src="http://www.gouchehui.com/Public/Home/js/app/jquery.cxselect.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        #userlove select{ margin: -2px 100px 0 0;}
        #userlove .text_input_2{ margin-right: 100px; width: 180px;}
        #userlove .last-row{ margin: 8px 0 20px;}
        #userlove .row-fluid{ margin-bottom: 15px;}
        #userlove .dcright{ float: right;}
        #user_lists{ margin-top: 40px;}

        .pager{text-align:center;}
        .pager a{padding:3px 8px;margin-left:3px;line-height:20px;background:#f9f9f9;border:1px solid #DBDBDB;text-decoration: none}
        .pager a:hover,
        .pager a.current{background-color:#7CD5B1;color:#fff;border:1px solid #7CD5B1;cursor:pointer;}
    </style>
    <div id="content">
        <div id="top-alert" class="fixed alert alert-error" style="display: none;">
            <button class="close fixed" style="margin-top: 4px;">×</button>
            <div class="alert-content">返回内容！</div>
        </div>
        <div id="content-wrap">
            <div id="content-header">
                <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>{$ctitle}</a> <a href="#" class="current">{$atitle}</a> </div>
            </div>
            <p id='ajax_delete_id' style="text-align:center;color:#51A726;font-size:16px;line-height:30px;display:none;background-color:#D9EFE0"></p>
            <div class="container-fluid" id="userlove">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="text_input22" >
                            <!--新换的页面头部-->
                            <div class="row-fluid">
                                来源入口：
                                <select name="" class="span2" id="page_entry">
                                    <option value="">全部</option>
                                    <volist name="from_plan" id="vo">
                                    <option value="{$vo.from_plan}">{$vo.from_plan}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="row-fluid" id="user_select">
                                品牌：
                                <select class="span2 brand" id="" data-required="false" data-first-title="请选择活动品牌" data-first-value="" data-url="{:U('Ajax/brand')}" name="brand_id"></select>
                                车型：
                                <select class="span2 model" id="" data-required="false" data-first-title="请选择车型" data-url="{:U('Ajax/addModelHandle')}" data-first-value="" name="car_model_id"></select>
                                车款：
                                <select class="span2 car" id="" data-required="false" data-first-title="请选择车款" data-url="{:U('Ajax/addModelHandle')}" data-first-value="" name="car_id"></select>
                            </div>
                            <div class="row-fluid last-row">
                                <div class="span6">
                                    开始时间：
                                    <input type="text" class="text_input_2" id='begin_time' name="begin_time" value="{$starttime|date="Y-m-d",###}" onClick="WdatePicker()" >
                                    结束时间：
                                    <input type="text" class="text_input_2" id="end_time" name="end_time" value="{$endtime|date="Y-m-d",###}" onclick="WdatePicker()">
                                </div>
                                <button type="submit" class="btn btn-primary" id="user_btn1">筛选</button>
                                <a  href="{:U('Excel/expUserLove')}" class="btn btn-danger dcright">导出</a>
                            </div>

                            <div class="content" id="userl_lists">
                                <div class="widget-content nopadding newslist">
                                    <h4>总计：<span class="userdata badge"></span>个 </h4>
                                    <table class="table table-bordered table-striped with-check" id="Yu-db-backup">
                                        <thead>
                                        <tr>
                                            <th>用户名</th>
                                            <th>页面入口</th>
                                            <th>关注品牌</th>
                                            <th>关注车型</th>
                                            <th>关注车款</th>
                                            <th>提交时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="pager">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
        <script type="text/javascript">
            $(function(){
                $('#user_select').cxSelect({
                    selects: ['brand', 'model', 'car'],
                    jsonName: 'name',
                    jsonValue: 'value'
                });
            });
            $(function(){
                $("#userl_lists").delegate(".pager a", "click", function(){
                    var page = $(this).attr("data-page");
                    getPage(page);
                })
                getPage(1);

            });

            $("#user_btn1").on("click", function() {
                getPage(1);
            });

            function getPage(page) {
                $("#userl_lists h4").css('display','none');
                $("#userl_lists thead").css('display','none');
                $('#userl_lists tbody').empty();
                $("#userl_lists").prepend("<div class='onload' style='text-align:center'><img src='/public/admin/images/loading.gif' alt='loading'>数据加载中....</div>");

                if($('select.brand').val() ==null){
                    var brand  = '';
                }else{
                    var brand  = $('select.brand').val();
                }
                if($('select.model').val() ==null){
                    var model  = '';
                }else{
                    var model  = $('select.model').val();
                }
                if($('select.car').val() ==null){
                    var car    = '';
                }else{
                    var car    = $('select.car').val();
                }

                var page_entry  =$("#page_entry").val();
                var begin_time  =$('#begin_time').val();
                var end_time    =$('#end_time').val();

                $.post( "/admin.php/Ajax/userlove",
                        {
                            brand_id:brand,
                            car_model_id:model,
                            car_id:car,
                            begin_time:begin_time,
                            end_time:end_time,
                            from_plan:page_entry,
                            p:page
                        },
                        function(data,textStatus){
                        	if(data.count==null){
	                    		$(".userdata").text("0");
	                    	}else{
	                    		$(".userdata").text(data.count);
	                    	}
                            $('tbody').empty();
                            $('#userl_lists > .onload').remove();
                            $("#userl_lists h4").css('display','');
                            $("#userl_lists thead").css('display','');
                            var pagelist=data[0];
                            $('#userl_lists .pager').html(pagelist);
                            var info=data[1];
                            $.each(info,function(key,val){
                                $('tbody').append(
                                        "<tr>" +
                                        "<td>"+val.user_name+"</td>" +
                                        "<td>"+val.from_plan+"</td>" +
                                        "<td>"+val.brand_name+"</td>" +
                                        "<td>"+val.car_model_name+"</td>" +
                                        "<td>"+val.car_name+"</td>" +
                                        "<td>"+val.createtime+"</td>" +
                                        "</tr>")
                            });
                        },
                        "json");

            }


        </script>
        <script src="/Public/Admin/js/date/WdatePicker.js"></script>
</block>