.table_tb{font-size:18px;width:100%}
.table_tr{border-bottom:2px solid #d9d8d8;height:40px;}
.shouye_gly{width:100%;height:auto;background:#fff;float:left;padding-bottom:30px;border-radius:5px;}
.shouye_gly2{height:auto;margin-right:10px;}
.shouye_gly21,.shouye_gly22,.shouye_gly23,.shouye_gly24{margin-left:10px;height:75px;margin-top:40px;border-radius:5px;font-size:18px;color:#fff;float:left;}
.shouye_gly21{background:#578ebe;}
.shouye_gly22{background:#e04d4c;}
.shouye_gly23{background:#40aba4;}
.shouye_gly24{background:#7f6da2;}
.shouye_gly21_1{margin-top:25px;margin-left:20px;float:left;}
.shouye_gly21_2{margin-top:25px;margin-left:20px;float:left;margin-right:10px;}
.shouye_xtxx{ margin-top:30px;float:left;width:100%;margin-bottom:30px;}
.shouye_xtxx1{width:50%;background:#fff;border-radius:5px;font-size:16px;float:left;}
.table_width{width:100%;}
.table_td{width:50%;padding-left:20px;height:40px;}
.table_tr2{border-bottom:1px dotted #d9d8d8;height:40px;}
.table_tr3{ border-bottom:2px solid #d9d8d8;height:40px;}
.shouye_xtxx2{width:48.5%;background:#fff;border-radius:5px;font-size:16px;float:left;margin-left:1.5%;}


