<extend name="Public/base"/>
<block name="body">
    <style type="text/css">
        .num {padding:0px 10px 0 10px;color:#4e4e4e;}
        .next{color:#4e4e4e;}
        .prev{color:#4e4e4e;}
        .num:hover,.next:hover,.prev:hover{color:green;}
        .pager{text-align:center;}
        .pager a{padding:3px 8px;margin-left:3px;line-height:20px;background:#f9f9f9;border:1px solid #DBDBDB;text-decoration: none}
        .pager a:hover,
        .pager a.current{background-color:#7CD5B1;color:#fff;border:1px solid #7CD5B1;cursor:pointer;}
    </style>
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>{$ctitle}</a><a href="#" class="current">{$atitle}</a> </div>
    </div>
    <p id='ajax_delete_id' style="text-align:center;color:#51A726;font-size:16px;line-height:30px;display:none;background-color:#D9EFE0"></p>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-yu-btn">

                    <div class="widget-yu-btn widget-right-search" style="">
                        <div class="search" style="">
                            <a class="btn btn-primary"  href="{:U('Members/Dealeradd')}">
                                +创建账号
                            </a>
                        </div>
                        <input id="keyvalue" name="search_name" placeholder="公司账号" type="text">
                        <input type="submit" class="btn button_sou" id="commit" onclick="getPage(1)" value="搜索">
                    </div>
                    <div class="content" id="ajax_lists">
                        <div class="widget-content nopadding" >
                        	<h4>总计：<span class="userdata badge"></span>个 </h4>
                            <table class="table table-bordered table-striped with-check" id="Yu-db-backup">
                                <thead>
                                <tr>
                                    <th>公司名称</th>
                                    <th>账号</th>
                                    <th>创建时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="pager">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $("#ajax_lists").delegate(".pager a", "click", function() {
                var page = $(this).attr("data-page");
                getPage(page);
            })
            getPage(1);

        });
        function getPage(page) {
            $("thead").css('display','none');
            $('tbody').empty();
            $("#ajax_lists").prepend("<div class='onload' style='text-align:center'><img src='/public/admin/images/loading.gif' alt='loading'>数据加载中....</div>");
            var keyvalue =$('#keyvalue').val();

            $.post( "__MODULE__/Ajax/Dealer_ajax",
                    {keyvalue:keyvalue, p:page},
                    function(data,textStatus){
                    	if(data.count==null){
							$(".userdata").text("0");
						}else{
							$(".userdata").text(data.count);
						}

                        $('tbody').empty();
                        $('#ajax_lists > .onload').remove();
                        $("thead").css('display','');
                        var pagelist=data[0];
                        $('#ajax_lists .pager').html(pagelist);
                        var info=data[1];

                        $.each(info,function(key,val){
                            /*if(val.createtime==null) {
                                val.createtime='';
                            }else{
                                var d = new Date(val.createtime * 1000);    //根据时间戳生成的时间对象
                                val.createtime = (d.getFullYear()) + "-" + (d.getMonth() + 1) + "-" +(d.getDate()) + " " + (d.getHours()) + ":" + (d.getMinutes()) + ":" + (d.getSeconds());
                            }*/
                            if(val.status==1){
                                var td5="<td><font color='green'>启用</font></td>";
                            }else{
                                var td5="<td><font color='red'>禁用</font></td>";
                            }
                            if(val.createtime==null)  val.createtime='';
                            if(val.dealer_name==null) val.dealer_name='';
                            $('tbody').append("<tr><td>"+val.dealer_name+"</td><td>"+val.user_name+"</td><td>"+val.createtime+"</td>"+td5+"<td><a class='btn btn-info' href='__CONTROLLER__/Dealerupd/id/"+val.id+"'>编辑</a><a class='btn btn-danger' title='删除' value='"+val.id+"' href='javascript:;' onclick='ajax_delete(this)'>删除</a></td></tr>")
                        });

                    },
                    "json");
        }
        function ajax_delete(aa){
            var id = $(aa).attr("value");
            if(confirm('确定要删除吗？')){
                $.post("__CONTROLLER__/user_dealer_delete_ajax",
                        {id:id},
                        function(data,textStatus){
                            if(data){
                                $(aa).parent().parent().remove();
                                $('#ajax_delete_id').css('display','block');
                                $('#ajax_delete_id').html('删除成功');
                                window.setTimeout("$('#ajax_delete_id').css('display','none')",1200);
                            }else{
                                $('#ajax_delete_id').css('display','block');
                                $('#ajax_delete_id').html('删除失败');
                                window.setTimeout("$('#ajax_delete_id').css('display','none')",1200);
                            }
                        }
                );
            }
        }

    </script>
</block>
