<extend name="Public/base"/>

<block name="body">
 <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>{$ctitle}</a> <a href="#" class="current">创建账号</a> </div>
    <h1>{$atitle}</h1>
  </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">

                <form action="{:U('Members/shopAddHandle')}" class="form-horizontal" method="post">
                    <fieldset>

                        <div class="control-group">
                            <label class="control-label" for="webname"><span style="color:red;">* </span>账号：</label>
                            <div class="controls">
                                <input id="webname" name="username" type="text">
                                <p class="help-block">6-22字母或数字</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="webname"><span style="color:red;">* </span>密码：</label>
                            <div class="controls">
                                <input id="webname" name="password" type="password">
                                <p class="help-block">用户密码不能少于6位</p>
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label class="control-label" for="webname"><span style="color:red;">* </span>状态：</label>
                            <div class="controls">
                             <label class="radio inline">
                                <input type="radio" id="webname" name="status" value="1" checked="checked">启用</label>
                                 <label class="radio inline">
                                <input id="webname" name="status" type="radio" value="0">禁用</label>
                        </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="webname"><span style="color:red;">* </span>公司名称：</label>
                            <div class="controls">
                                <input name="name_4s" type="text">
                                 <p class="help-block">公司名称</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="webname"><span style="color:red;">* </span>公司地址：</label>
                            <div class="controls">
                            	<select name="province" id="province">
                            		<option>选择省份</option>
                            		<volist name="province" id="vol">
                            			<option value="{$vol.province_id}">{$vol.province_name}</option>
                            		</volist>                                 
                                </select>
                            	<select name="city_id" id="city">
                            	<option value=''>选择城市</option>                                                                    
                                </select>
                                <input name="addr" type="text">
                                 <p class="help-block">公司详细地址</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="webname"><span style="color:red;">* </span>经营品牌：</label>
                            <div class="controls">
                                <select name="brand_4s" id="brand">
                            	<option value=''>选择品牌</option>
                            	<volist name="brand" id="vol">
                            		<option value='{$vol.id}'>{$vol.brand_name}</option>
                            	</volist>                                                                   
                                </select>
                                 <p class="help-block">主营品牌</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="webname"><span style="color:red;">* </span>联系人：</label>
                            <div class="controls">
                                <input name="contacts" type="text">
                                 <p class="help-block">联系人</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="webname"><span style="color:red;">* </span>联系电话：</label>
                            <div class="controls">
                                <input name="tel" type="text">
                                 <p class="help-block">联系电话</p>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit"  id="submit" class="btn btn-primary">确定</button>
                        <button class="btn btn-primary" onClick="javascript:history.back(-1);return false;">返回</button>
                    </div>
                </form>
                <!-- Button to trigger modal -->
            </div>
        </div>
    </div>
    <!--<script type="text/javascript">-->
        <!--Think.setValue("pid", 0);-->
        <!--Think.setValue("hide", 0);-->
        <!--Think.setValue("is_dev", 0);-->
    <!--</script>-->
    </div>
    <script type="text/javascript">
    $(function(){
    	//获得城市ID
    	$("#province").change(function(){
    	    var $obj=$('#province').find('option:selected');
    	    $("#city").empty();
    	    $("#city").append("<option value=''>选择城市</option>");

    	    $.post( "__MODULE__/Ajax/city",
    	            {province_id : $obj.val()},
    	            function(data,textStatus){
    	                   $.each(data,function(key,val){
    	                   $("#city").append("<option value='"+val.id+"'>"+val.city_name+"</option>");
    	                 });

    	            },
    	            "json");
    	    })
    	
    })
    </script>
</block>
