<div class="backTop" id="J_bar">
    <ul>
        <li id="J_talk">
            <a href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes" target="_blank" >
                <div class="hidebox">
                    <s></s>
                    <em></em>
                    <span>企业QQ交谈</span>
                </div>
                <i>在线客服</i>
            </a>
            <i></i>
        </li>
        <li id="J_Cus">
            <a href="####" target="_blank">
                <div  class="hidebox">
                    <s></s>
                    400-038-0808
                </div>
                <i>客服电话</i>
            </a>
            <i></i>
        </li>
        <li id="J_feedBack">
            <a href="++++" target="_blank">
                <div class="hidebox">
                    <s></s>
                    我要反馈
                </div>
                <i>意见反馈</i>
            </a>
            <i></i>
        </li>
        <li id="J_backTop" >
            <a href="####" target="_blank">
                <i>回到顶部</i>
            </a>
            <i></i>
        </li>
    </ul>
</div>
<div class="footwrap">
<div class="foot_underline">
  <div class="foot">
     <ul>
      <li>
        <img src="{$Think.const.IMG_URL}logo_foot.png" alt="购车惠">
      </li>
      <li>
        <div class="txtbox">
          <h3>关于我们</h3>
          <a href="#####">关于购车惠</a>
        </div>
      </li>
      <li>
        <div class="txtbox">
          <h3>联系我们</h3>
          <a href="####">客服电话</a>
          <a href="####">商务合作</a>
          <a href="####">联系电话</a>
        </div>
      </li>
      <li>
        <img src="{$Think.const.IMG_URL}wechat_servse.png" alt="微信公众号">
        <img src="{$Think.const.IMG_URL}app_down.png" alt="app下载">
      </li>
    </ul>
  </div>
  </div>
<div class="copyright_info_wrap">
    <div class="copyright_info">
        <p>CopyRight @2015 - 2016 gouchehui.com All rights reserved 版权所有南京易橙汇网络科技有限公司</p>
        <p> Powered By Jiangsu ERUN备案号:苏ICP备13031090号-2</p>
    </div>
</div>

</div>



























