	<div id="site_nav">
		<div id="sn_bd">
			<div class="sn_container">
			<ul class="sn_quick_menu">
				<li class="menu_item"><a href="#">注册</a></li>
				<li class="sn_separator"></li>
				<li class="menu_item"><a href="#">登录</a></li>
			</ul>
			<div class="sign_in" id="J_signIn">
				<div class="user">
					<div class="user_face">
						<img src="" alt="">
					</div>
					<span class="user_name" data-name="取个名字真难啊">
						取个名字真难啊
					</span>
					<div class="arrow">
					</div>
				</div>
				<ul class="user_msg">
					<li><a href="#">我的订单</a></li>
					<li><a href="#">我的询价</a></li>
					<li><a href="#">消息通知<span class="icon_num_yellow">8</span></a></li>
					<li><a href="#" class="sign_out">退出</a></li>
				</ul>
			</div>
		</div>
		</div>
		
	</div>
	<div id="header">
		<div class="headerLayout">
			<div class="headerCon">
				<h1 id="gchLogo">
						<div id="J_FpLogo">
							<a href="/" target="_self"> <img id="J_FpDoodle" class="fp-doodle" src="images/logo_new.png" alt="购车惠"></a>
						</div>
				</h1>
				<div class="local_city">
					<span class="lc_name" id="J_switchCity">
						南京市
						<i class="ui_icon ui_icon_da_2"></i>
					</span>
				</div>
				<div class="header_extra">
					<div class="header_banner">
					<div id="J_FpEventBanner" class="fp-event-banner  hidden" style="display: block;">
						<ul class="hot_query clearfix">
					<li><strong>热门搜索：</strong></li>
					      	<li><a href="search.php?keywords=%E6%9C%BA%E6%B2%B9%E6%BB%A4%E6%B8%85%E5%99%A8" title="机油滤清器">机油滤清器</a></li>
						      	<li class="hot-query-highlight"><a href="search.php?keywords=%E6%9B%B2%E9%9D%A2%E9%95%9C" title="曲面镜">曲面镜</a></li>
						      	<li><a href="search.php?keywords=%E7%81%AB%E8%8A%B1%E5%A1%9E" title="火花塞">火花塞</a></li>
						      	<li class="hot-query-highlight"><a href="search.php?keywords=%E5%88%B9%E8%BD%A6%E7%9B%98" title="刹车盘">刹车盘</a></li>
						      </ul>
					</div>
					</div>
					<div id="gchSearch" class="gch_search">
					<form name="searchTop" action="search.php" class="gchSearch_form" target="_top">
					<div class="gchSearch_input clearfix">
					<label for="mq" style="visibility: visible; display: none;">搜索 买车</label>
					<div class="s_combobox">
					<div class="s_combobox_input_wrap">
					<input type="text" name="keywords" onkeydown="javascript:if(event.keyCode==13) search('mq');" accesskey="s" autocomplete="off" x-webkit-speech="" x-webkit-grammar="builtin:translate" value="" id="mq" class="s-combobox-input" role="combobox" aria-haspopup="true" title="请输入搜索文字" aria-label="请输入搜索文字" value="奥迪">
					</div>
					</div>
					<button onclick="search('mq ');return false;" type="submit">搜索<s></s></button>
					</div>
					</form>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="main_nav">
		<div class="main_container">
			<ul class="main_nav_ctn">
				<li><a href="#">首页<span class="mnc_line"></span></a></li>
				<li><a href="#">底价车</a></li>
				<li><a href="#">特价车</a></li>
				<li><a href="#">购车指南</a></li>
				<li><a href="#">商城</a></li>
			</ul>
		</div>
	</div>
