<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Document</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/reg.css">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

</head>
<body>
	<div class="RL_header">
		<div class="main_container clearfix">
			<h1 class="RL_logo">
				<a href="/" title="购车惠"><img src="images/logo_145X75.png" alt="购车惠"></a>
			</h1>
			<div class="RL_gradient_line G_fl"></div>
			<h2 class="RL_ftitle G_fl G_f22">
				找回密码
			</h2>
			<div class="RL_returnHome G_fr">
				<a href="/" title="返回购车惠首页" class="G_f20">返回购车惠首页</a>
			</div>
		</div>
	</div>
	<div class="main_container">
		<div class="find_pw_frame">
			<ul class="step step_arrow nav_pills clearfix">
				<li class="cur"><a><i class="icon_num_white">1</i>填写账号</a></li>
				<li><a><i class="icon_num_white">2</i>验证身份</a></li>
				<li><a><i class="icon_num_white">3</i>重置密码</a></li>
				<li><a><i class="icon_num_white">4</i>重置密码成功</a></li>
			</ul>
			<div class="find_Pwd_Form">
				<div class="ui_input_text clearfix">
					<span class="label"><b class="ftx04">*</b>用户名：</span>
					<div class="item_info G_fl">
						<input type="text"  name="login_name" class="login_name" placeholder="输入邮箱/手机号" autofocus="" autocomplete="off" value="">
						<div class="tips G_f14">填写注册账号时使用的手机号或邮箱</div>
					</div>
					
				</div>
				<div class="ui_input_btn G_mt60">
					<input type="submit" class="submit_btn G_btn_a btn_54px" value="登录" name="mobileCommit">
				</div>
			</div>
		</div>
	</div>	

</body>
</html>