<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta  name="description" content=""/>
    <meta  name="keywords" content="" />
    <link rel="stylesheet" href="{$Think.const.CSS_URL}base.css">
    <link rel="stylesheet" href="{$Think.const.CSS_URL}activity.css">
    <title>底价购车_购车惠</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
{~W('Cate/header')}
    <div class="D_pages">
        <div class="cont_wrap">
            <i class="header_icon"></i>
            <div class="contbox">
                <dl>
                    <dt class="step1"></dt>
                    <dd>
                        <p>价值决定商品价格，我们的价值在于给您提供最底的车价。付出99元询价费获得更大力度的优惠、体验全新的服务模式，物超所值。在您购车时，询价费还可抵车款，不是底价我们承诺退费，您没有任何损失。</p>
                    </dd>
                </dl>
                <dl>
                    <dt class="step2"></dt>
                    <dd>
                        <p>大多数购车平台，4S店，团车网，车展平台都无法摆脱四大费用支出</p>
                        <p><span><i>1</i></span>“回扣”和“返点”费，平台售出车辆，4S店给予回扣或返点。</p>
                        <p><span><i>2</i></span> 广告投放费用：根据最近数据显示2015年12月汽车网站投放广告费用达到了4亿之多，广告的支出   占各大汽车平台开支的大头。</p>
                        <p><span><i>3</i></span> 车展场地费用、展台搭建 、车辆运输、音响设备等</p>
                        <p><span><i>4</i></span> 人工服务费，佣金。</p>
                    </dd>
                </dl>
                <dl>
                    <dt class="step3"></dt>
                    <dd>
                        <p>包含这四大成本支出因素的底价，是真正的底价么？答案当然是NO</p>
                        <p>购车惠作为自运营的新型汽车平台，摒弃传统收取4S店费用或团车抽头的盈利方法，降低4S店的成本，同时利用售车各环节中竞争态势，挤压车价水份，把四大支出费用省出，全部回馈消费者。</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</body>
</html>