<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta  name="description" content=""/>
    <meta  name="keywords" content="" />
    <link rel="stylesheet" href="{$Think.const.CSS_URL}base.css">
    <link rel="stylesheet" href="{$Think.const.CSS_URL}activity.css">
    <title>底价购车_购车惠</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
{~W('Cate/header')}
<div class="C_pages">
    <div class="banner"></div>
    <div class="cont">
        <div class="wrap">
            <i class="car_head"></i>
            <div class="content">
                <div class="header_box">
                        <span class="icon_wrapper">
                            <i></i>
                        </span>
                </div>
                <div class="arrange_wrap G_f18">
                    <div class="arrange_box">
                        <div class="title step1"></div>
                        <p>第一步：注册购车惠会员。每个注册会员都会生成一个唯一的邀请码，邀请码可以通过会员中心->账号资料查看；</p>
                        <p>第二步：分享本页面或者底价车详情页，每个会员分享出去的页面都会附带相应的邀请码，如果新会员注册时绑定邀请人的邀请码，那么新会
                            员与邀请人之间就形成被邀请和邀请的关系。</p>
                    </div>
                    <div class="arrange_box">
                        <div class="title step2"></div>
                        <p>（1）被邀请会员通过购车惠订车，邀请人可获得300元提成奖励，同时被邀请会员可获得200元返利。</p>
                        <p>（2）一个会员邀请码可以被绑定多次；</p>
                        <p>（3）被邀请会员通过购车惠订车次数不限，每产生一个有效订车订单，双方就能获得一次奖励；</p>
                    </div>
                    <div class="arrange_box">
                        <div class="title step3"></div>
                        <p>2016年3月10日至2016年4月10日</p>
                        <p><strong>如有任何疑问，可咨询客服电话：400-138-0808</strong></p>
                    </div>
                    <div class="code_wrap">
                        <h2>简单购车惠</h2>

                        <h2>快乐车生活</h2>
                        <img src="{$Think.const.IMG_URL}activity.jpg" alt="app下载"/>
                    </div>
                </div>
                <div class="footer_box">
                        <span class="icon_wrapper">
                            <i>扫描二维码</i>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>