<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>特价车_底价购车_购车惠</title>
	<meta name="keywords" content="特价车，底价购车，汽车底价" />
    <meta name="description" content="购车惠底价购车平台推荐底价车款。购车惠是一家汽车4S店实时在线报底价的平台，是国内首家提供汽车底价购买服务平台，保证上架车型所售底价均是正规4S店报价，且价格低于市场价格。购车惠提供全程购车服务，让客户买车更加方便快捷。" />
	<link rel="stylesheet" href="{$Think.const.CSS_URL}base.css">
	<link rel="stylesheet" href="{$Think.const.CSS_URL}ZZ_front.css">
	<link rel="stylesheet" href="{$Think.const.CSS_URL}Css.css">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
<a href="/index.php/subject/double_eleven" id="J_topAdv" style="display:block;width:100%;height:80px;background: url(/Public/Home/images/Subject/double11/images/double_tit_ele.gif) center center no-repeat" target="_blank" title="双十一狂欢，限量抢1元上牌费"></a>
{~W('Cate/header')}
<div class="special_car">	
	<div class="main_container">
	<div class="special_car_fiter">
	<dl class="scf_brand clearfix">
		<dt class="dt-center">品牌：</dt>
			
				<dd id="J_hotBrands">
					<a href="#"  data-nh="1" title="全部"  class="all active" data-name='全部'>
						<p>全部</p>
					</a>
				<volist name="brand" id="vol">
				<a href="#" title="" data-id="{$vol.brand_id}" data-name='{$vol.brand_name}'>
				<div class="picWrap"><div class="pic"><img src="{:OSS}{$vol.brand_logo}"></div></div>
				<p>{$vol.brand_name}</p>
				</a>
				</volist>
				</dd>
			
	</dl>
	<div class="line"></div>
	<dl class="scf_price clearfix">
		<dt>价格：</dt>
		<dd id="J_priceRange">
			<a href="#" data-nh="1" class="active">全部</a>
		<a href="#" data-minp="0" data-maxp="8">8万以下</a>
		<a href="#" data-minp="8" data-maxp="10">8-10万</a>
		<a href="#" data-minp="10" data-maxp="15">10-15万</a>
		<a href="#" data-minp="15" data-maxp="20">15-20万</a>
		<a href="#" data-minp="20" data-maxp="30">20-30万</a>
		<a href="#" data-minp="30" data-maxp="50">30-50万</a>
		<a href="#" data-minp="50" data-maxp="80">50-80万</a>
		<a href="#" data-minp="80" data-maxp="10000">80万以上</a>
		<div  id="J_CustomPriceBox" class="G_fl custom_price"><input type="text" name="price1" class="J_jiagekuang_txt" id="J_StartPrice" value="">
                -
                <input type="text" class="J_jiagekuang_txt" name="price2" id="J_EndPrice" value="">
                万
				<button class="G_btn_a" id="J_CustomPriceSubmit">确定</button></div>
		</dd>
	</dl>
	<div class="line"></div>
	<dl class="selected_condition clearfix" id="J_selectedCondition" style="display: none;">
                <dt>已选：</dt>
                <dd>
                    <div class="select-cars-term">
                        <ul>
                            <li><a style="display: none;" href="javascript:;"><b></b></a></li>
                            <li><a style="display: none;" href="javascript:;"><b></b></a></li>
                            <li><a style="display: none;" href="javascript:;"><b></b></a></li>

                        </ul>
                    </div>
                </dd>
            </dl>
	</div>
	</div>
	<div class="especial">
		<div class="filter-box">
			<div class="filter-classify" id="J_FilterClassify">
				<a href="#" rel="nofollow" data-status="" class="active">全部</a>
				<a href="#" rel="nofollow" data-status="3" class=" ">进行中</a>
				<a href="#" rel="nofollow" data-status="2" class=" ">未开始</a>
				<!--<a href="#" rel="nofollow" data-status="5" class=" ">已过期</a>-->
			</div>
			<div class="filt-service-box">
				<div class="filt-service clearfix"  id="J_FiltService">
					<div class="G_fl">
							<a href="#" rel="nofollow" class="active" data-type="end_date" data-val="DESC" title="活动时间从大到小">活动时间 <i class="icon-new icon-new-arrow icon-new-arrow-d"></i></a>
							<a href="#" rel="nofollow" class="" data-type="discount" data-val="DESC"  title="优惠幅度从大到小">优惠幅度 <i class="icon-new icon-new-arrow icon-new-arrow-d"></i></a>
							<a href="#" rel="nofollow" class="" data-type="special_price" data-val="ASC"   title="底价从小到大">底价 <i class="icon-new icon-new-arrow icon-new-arrow-u"></i></a>
					</div>
					<div class="filt-pager">
						<div class="filt-pager-all">共： <span class="s j_allNum">-</span> 条数据</div>
					</div>
				</div>

			</div>
		</div>
	<div class="especial_content">

		<div class="sale-car-list" id="J_SaleLists">

			<div class="bd">
				<ul id="J_SaleCarBd">

				</ul>
			</div>
		</div>
		<div class="G_pager" id="J_Pager"></div>
	</div>
	</div>
</div>

<script id="tplLi" type="text/html">
	{{each list as value index}}
	<li>
		<div class="icon-new icon-new-bg G_f18">直降<span class="G_f24">{{value.discount}}</span>万</div>
		<div class="pic G_fl">
			<div class="count-down"><i class="icon-new icon-new-clock"></i>

				{{if value.status == 1}}
				<span class="">审核中</span>
				{{else if value.status == 2}}
				<span class="">未开始</span>
				{{else if value.status == 3}}
				剩<span class="j_countDownTime"></span>
				{{else if value.status == 4}}
				<span class="">已停售</span>
				{{else if value.status == 5}}
				<span class="">已过期</span>
				{{else if value.status == 6}}
				<span class="">审核失败</span>
				{{/if}}

			</div>
			<img src="{{value.imgurl}}" alt="" width="780" height="347"/>
		</div>
		<div class="con {{if value.status == 3}}{{else}}out{{/if}}">
			<div class="sold-out">
				<i class="icon-new icon-new-soldout">
					{{if value.status == 1}}
					<span class="">审核中</span>
					{{else if value.status == 2}}
					<span class="">未开始</span>
					{{else if value.status == 3}}
					剩<span class="j_countDownTime"></span>
					{{else if value.status == 4}}
					<span class="">已停售</span>
					{{else if value.status == 5}}
					<span class="">已过期</span>
					{{else if value.status == 6}}
					<span class="">审核失败</span>
					{{/if}}
				</i>
			</div>
			<h3 class="tit G_f18">{{value.brand_name}} {{value.car_model_name}} {{value.car_name}}</h3>
			<div class="gch-price G_f18"><span class="s G_f16">购车惠特价 ：<span class="G_f24">{{value.special_price}}</span>万</span><span class="G_fr hide">共12辆</span></div>
			<p class="gf-price G_f16">官方指导价：<s>{{value.price}}万</s></p>
			<p class="surplus-nums G_f24">仅剩 <span class="G_f36">{{value.number}}</span>辆</p>
			<div class="G_tc">
				<a href="{{value.url}}" title="立即订购" class="G_btn_a btn_34px" target="_blank">立即订购</a>
			</div>
			<div class="ft">
				<p>活动时间：<span class="j_startTime">{{value.start_date}}</span>——<span class="j_endTime">{{value.end_date}}</span></p>
				<p>活动厂商：{{value.name_4s}}</p>
			</div>
		</div>
	</li>
	{{/each}}

</script>


   <script type="text/javascript" src="{$Think.const.js_URL}jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="{$Think.const.js_URL}app.js"></script>
    <script type="text/javascript" src="{$Think.const.js_URL}filter_car.js"></script>
	<script type="text/javascript">
	 $.brand.init({
            pageSize:5,
            currentmasterBrandId: "",
            extractCityName:"",
			currentmasterBrandName:"",
            carLevel:0
        });

	</script>
{~W('Cate/footer')}		
</body>
</html>