<extend name="n_uc_base" />
<block name="body">
		<div class="uc_main GB_main_r">
			<div class="uc_main_wrapper">
				<div class="uc_baseinfo">
					<div class="cheb">
						<div class="chebWrapper clearfix">
							<div class="ChebRaiders">
								<a href="#" title="如何获取车币？">如何获取车币？</a>
							</div>
							<div class="myCheb Skin_color">
								<p class="G_f16">我的车币</p>
								<p class="G_tr G_f26">0</p>
							</div>
						</div>
						<div class="punchTheClock">
							<a href="#" class="punchTheClock_btn G_f16">
								今日打卡
								<span>+5分</span>
							</a>
						</div>
					</div>
					<div class="info">
						<div class="name">
							<strong class="Skin_txt G_f20">他妈的起个名字真麻烦</strong>
    						<span class="uc_icon_level">
    							<span class="txt_out">
    								<span class="txt_in">
    									<span title="升级有好礼">Lv.9</span>
    								</span>
    							</span>
    						</span>
						</div>
						<div class="dynamic">
							<a href="#" title="车友会"><span>0</span>个车友会</a>
							<a href="#" title="动态"><span>0</span>个动态</a>
							<a href="#" title="关注"><span>0</span>个关注</a>
						</div>
						<dl class="lvlBox">
							<dt>等级：</dt>
							<dd>
								<div class="lvl_energy_bar tenths-1">
									<span></span>
								</div>
								<div class="lvl_energy_percentage">1/10</div>
							</dd>
						</dl>
						<dl class="integral">
							<dt>积分：</dt>
							<dd>
								<span>暂无积分</span>
								<a href="#" class="get">如何获得积分？>></a>
							</dd>
						</dl>
					</div>
				</div>
				<div class="mod_item my_footprint">
					<div class="hd"><h3>我的足迹</h3></div>
					<div class="bd">
						<p class="null">
							你还没有浏览记录，请前往购车惠网站浏览吧！
						</p>
					</div>
				</div>
				<div class="mod_item my_car">
					<div class="hd"><a href="#" class="G_fr">更多&gt;&gt;</a><h3>我的爱车</h3></div>
					<div class="bd">

						<div class="car_box">
							<div class="car_face">
								<div class="productImg_wrap">
                                        <span class="productImg">
                                            <img src="http://img3.bitautoimg.com/autoalbum/files/20120614/545/16535954515369_2253406_6.jpg" alt="">
                                        </span>
								</div>
							</div>
							<div class="car_info">
								<h5 class="G_f18" title="阿斯顿马丁DBS">阿斯顿马丁DBS</h5>
								<p>2016款 Sportback 35TFSI 进取型</p>
								<p class="guide_price">官方指导价：<span class="price"><em>199</em>万元起</span></p>
								<p class="details"><a href="#">查看详情</a></p>
							</div>
						</div>
						<div class="car_box">
							<div class="car_face">
								<div class="productImg_wrap">
                                        <span class="productImg">
                                            <img src="http://img3.bitautoimg.com/autoalbum/files/20120614/545/16535954515369_2253406_6.jpg" alt="">
                                        </span>
								</div>
							</div>
							<div class="car_info">
								<h5 class="G_f18" title="阿斯顿马丁DBS">阿斯顿马丁DBS</h5>
								<p>2016款 Sportback 35TFSI 进取型</p>
								<p class="guide_price">官方指导价：<span class="price"><em>199</em>万元起</span></p>
								<p class="details"><a href="#">查看详情</a></p>
							</div>
						</div>
						<div class="car_box">
							<div class="car_face">
								<div class="productImg_wrap">
                                        <span class="productImg">
                                            <img src="http://img3.bitautoimg.com/autoalbum/files/20120614/545/16535954515369_2253406_6.jpg" alt="">
                                        </span>
								</div>
							</div>
							<div class="car_info">
								<h5 class="G_f18" title="阿斯顿马丁DBS">阿斯顿马丁DBS</h5>
								<p>2016款 Sportback 35TFSI 进取型</p>
								<p class="guide_price">官方指导价：<span class="price"><em>199</em>万元起</span></p>
								<p class="details"><a href="#">查看详情</a></p>
							</div>
						</div>


					</div>
				</div>
				<div class="mod_item car_buy_plan">
					<div class="hd"><a href="#" class="G_fr">更多&gt;&gt;</a><h3>计划购车</h3></div>
					<div class="bd">
						<div class="car_box">
							<div class="car_face">
								<div class="productImg_wrap">
                                        <span class="productImg">
                                            <img src="http://img3.bitautoimg.com/autoalbum/files/20120614/545/16535954515369_2253406_6.jpg" alt="">
                                        </span>
								</div>
							</div>
							<div class="car_info">
								<h5 class="G_f18" title="阿斯顿马丁DBS">阿斯顿马丁DBS</h5>
								<p>2016款 Sportback 35TFSI 进取型</p>
								<p class="guide_price">官方指导价：<span class="price"><em>199</em>万元起</span></p>
								<p class="details"><a href="#">查看详情</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="mod_item car_atten">
					<div class="hd"><a href="#" class="G_fr">更多&gt;&gt;</a><h3>关注的车</h3></div>
					<div class="bd">
						<div class="car_box">
							<div class="car_face">
								<div class="productImg_wrap">
                                        <span class="productImg">
                                            <img src="http://img3.bitautoimg.com/autoalbum/files/20120614/545/16535954515369_2253406_6.jpg" alt="">
                                        </span>
								</div>
							</div>
							<div class="car_info">
								<h5 class="G_f16" title="阿斯顿马丁DBS">阿斯顿马丁DBS</h5>
								<p class="guide_price"><span class="price"><em>199</em>万元起</span></p>
								<p class="details"><a href="#">查看详情</a></p>
							</div>
						</div>
					</div>
					<div class="ft_other">
						<div class="tit"><h4 class="G_f18">看看其他车友都在关注什么车</h4></div>
						<div class="list">
							<ul class="clearfix">
								<li>
									<div class="productImg_wrap">
										<a href="#" title="" class="productImg">
											<img src="http://img3.bitautoimg.com/autoalbum/files/20120614/545/16535954515369_2253406_6.jpg" alt="">
										</a>
									</div>
									<div class="nameBox">
										<span class="name">途观</span>
										<a href="#" class="atten_btn">关注</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>


			</div>
		</div>
</block>