<extend name="n_uc_base" />
<block name="body">
    <div class="uc_main GB_main_r">
        <div class="uc_main_wrapper">
            <h2 class="uc_middle_title">资产中心  >  车币</h2>

            <ul class="uc_sub_nav clearfix">
                <li class="cur"><a href="n_uc_car_currency_rule_wrapper.html" title="">获取车币方式</a></li>
                <li><a href="n_uc_car_currency_rule_wrapper_mx.html" title="">车币明细</a></li>
            </ul>
            <div class="uc_car_currency_rule_wrapper ohd">
        <div class="table">
            <table class="grid_bundle table_fontsize" style="margin-bottom:20px;">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr class="col_name">
                    <th>操作</th>
                    <th>可获车币</th>
                    <th>车币说明</th>
                    <th>上限说明</th>
                </tr>
                </thead>
                <tbody class="">
                <tr>
                    <td class="tips_y">新手操作</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新用户首次登录</td>
                    <td>10</td>
                    <td>注册成功即可获得10车币 </td>
                    <td class="tips_y">一次性10车币</td>
                </tr>
                <tr>
                    <td>完善个人资料（首次填写得分）</td>
                    <td>50</td>
                    <td>全部填完资料可以一次性获得50车币</td>
                    <td class="tips_y">一次性50车币</td>
                </tr>
                <tr>
                    <td>头像设置（首次填写得分） </td>
                    <td>10</td>
                    <td>头像设置可以一次性获得10车币 </td>
                    <td class="tips_y">一次性10车币</td>
                </tr>
                <tr>
                    <td class="tips_y">车主秀</td>
                    <td></td>
                    <td></td>
                    <td class="tips_y">动态总上限每人每天30车币</td>
                </tr>
                <tr>
                    <td>发动态</td>
                    <td>2</td>
                    <td>发布1条动态且审核通过获得2车币</td>
                    <td>每日最多获得10车币</td>
                </tr>
                <tr>
                    <td>被回复动态</td>
                    <td>1</td>
                    <td>动态被回复，获得1车币</td>
                    <td>每日最多获得10车币</td>
                </tr>
                <tr>
                    <td>被点赞动态</td>
                    <td>1</td>
                    <td>动态被点赞，获得1车币</td>
                    <td>每日最多获得10车币</td>
                </tr>
                <tr>
                    <td class="tips_y">个人中心</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td >打卡</td>
                    <td>5</td>
                    <td>每天打卡领取</td>
                    <td class="tips_y">每日现领一次</td>
                </tr>
                </tbody>
            </table>
            <h3 style="font-size:14px;margin-left:30px;">友情提示：车币目前通过上面的方式获取，后期会针对车币与积分兑换比例进行调整，尽情期待。</h3>
        </div>
        </div>
    </div>
        </div>

</block>