<extend name="n_uc_base" />
<block name="body">
    <div class="uc_main GB_main_r">
        <div class="uc_main_wrapper">
            <h2 class="uc_middle_title">我的订单</h2>
            <ul class="uc_sub_nav clearfix">
                <li><a href="n_uc_myorder.html" title="">我的订单</a></li>
                <li><a href="n_uc_myinquiry.html" title="">我的询价</a></li>
                <li class="cur"><a href="n_uc_credits.html" title="">车币订单</a></li>
                <li><a href="n_uc_shop_order_list.html" title="">商城订单</a></li>
            </ul>
            <div class="uc_credits_details ohd">
                <ul class="border_b">
                    <div class="tit">车币订单信息</div>
                    <li class="ui_txt">
                        <dl>
                            <dt>车币订单号:</dt>
                            <dd>GC4158608295949d</dd>
                        </dl>
                    </li>
                    <li class="ui_txt">
                        <dl>
                            <dt>商 品 名 称:</dt>
                            <dd>天堂伞</dd>
                        </dl>
                    </li>
                    <li class="ui_txt">
                        <dl>
                            <dt>所 耗 车 币:</dt>
                            <dd>1500车币</dd>
                        </dl>
                    </li>
                    <li class="ui_txt">
                        <dl>
                            <dt>下 单 时 间:</dt>
                            <dd>2016-04-21 09:33:20</dd>
                        </dl>
                    </li>
                </ul>
                <ul>
                    <div class="tit">订单人信息</div>
                    <li class="ui_txt">
                        <dl>
                            <dt>订单人姓名:</dt>
                            <dd>张三</dd>
                        </dl>
                    </li>
                    <liv class="ui_txt">
                        <dl>
                            <dt>订单人电话:</dt>
                            <dd>13012345678</dd>
                        </dl>
                    </liv>
                    <li class="ui_txt">
                        <dl>
                            <dt>所 耗 车 币:</dt>
                            <dd>1500车币</dd>
                        </dl>
                    </li>
                    <li class="ui_txt">
                        <dl>
                            <dt>收 货 地 址:</dt>
                            <dd>江苏省南京市栖霞区仙鹤门街道徐庄软件园F幢</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</block>