<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>近期活动</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}base.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}manual.css"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}metisMenu.min.css"/>
</head>
<body>
{~W('Cate/header')}
<include file="Guide/manual_nav" />
		<div class="manual-con manual-h">
			<h3>当前位置：<a href="/index.php/index/index" title="购车惠">购车惠</a> > 购车指南 > 公司新闻 > <span>近期活动</span></h3>
			<div class="manual-activity">
				<div class="activity-list">
					<ul>
						<li>
							<a href=""><img src="{$Think.const.IMG_URL}manual/activity_01.jpg" class="G_fl"/></a>
							<div class="activity-div G_fr">
								<h4><a href="">七夕来相会</a></h4>
								<dl>
									<dt>2016-07-20至2016-08-20</dt>
									<dd>POLO6.3万起 限量抢购！</dd>
								</dl>
								<a href="" title="立即参与" class="activity-a">立即参与<i></i></a>
								<span>进行中</span>
							</div>
						</li>
						<li>
							<a href=""><img src="{$Think.const.IMG_URL}manual/activity_02.jpg" class="G_fl"/></a>
							<div class="activity-div G_fr">
								<h4><a href="">购车惠口号征集大赛</a></h4>
								<dl>
									<dt>2016-07-20至2016-08-20</dt>
									<dd>POLO6.3万起 限量抢购！</dd>
								</dl>
								<a href="" title="立即参与" class="activity-a">立即参与<i></i></a>
								<span>进行中</span>
							</div>
						</li>
						<li>
							<a href=""><img src="{$Think.const.IMG_URL}manual/activity_03.jpg" class="G_fl"/></a>
							<div class="activity-div G_fr">
								<h4><a href="">扫描二维码 免费看低价</a></h4>
								<dl>
									<dt>2016-07-20至2016-08-20</dt>
									<dd>POLO6.3万起 限量抢购！</dd>
								</dl>
								<a href="" title="立即参与" class="activity-a">立即参与<i></i></a>
							</div>
						</li>
						<li>
							<a href=""><img src="{$Think.const.IMG_URL}manual/activity_04.jpg" class="G_fl"/></a>
							<div class="activity-div G_fr">
								<h4><a href="">购车惠口号征集大赛</a></h4>
								<dl>
									<dt>2016-07-20至2016-08-20</dt>
									<dd>POLO6.3万起 限量抢购！</dd>
								</dl>
								<a href="" title="立即参与" class="activity-a">立即参与<i></i></a>
							</div>
						</li>
					</ul>
				</div>
				<!--<div class="activity-page">
					
				</div>-->
			</div>
		</div>
	</div>
</div>
<!--<include file="Guide/manual_bottom" />-->
{~W('Cate/footer')}
</body>
</html>
