<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>关注我们</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}base.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}manual.css"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}metisMenu.min.css"/>
</head>
<body>
{~W('Cate/header')}
<include file="Guide/manual_nav" />
		<div class="manual-con manual-h">
			<h3>当前位置：<a href="/index.php/index/index" title="购车惠">购车惠</a> > 购车指南 > 关于我们 > <span>关注我们</span></h3>
			<div class="manual-concern">
				<div class="concern-top">
					<ul>
						<li>
							<img src="{$Think.const.IMG_URL}manual/concern_01.gif"/>
							<p>即刻下载购车惠APP<br />手机获取报价更及时</p>
						</li>
						<li>
							<img src="{$Think.const.IMG_URL}manual/concern_02.gif"/>
							<p>关注购车惠公众账号<br />了解更多底价信息</p>
						</li>
					</ul>
				</div>
				<div class="concern-boot">
					<ul>
						<li>
							<img src="{$Think.const.IMG_URL}manual/concern_03.gif"/>
							<dl>
								<dt>最新低价</dt>
								<dd>最新低价车，第一时间通知您</dd>
							</dl>
						</li>
						<li class="no-right">
							<img src="{$Think.const.IMG_URL}manual/concern_04.gif"/>
							<dl>
								<dt>品牌选车</dt>
								<dd>您可以快速定位有明确意向的车</dd>
							</dl>
						</li>
						<li class="no-bottom">
							<img src="{$Think.const.IMG_URL}manual/concern_05.gif"/>
							<dl>
								<dt>特价车</dt>
								<dd>免费查看，更多特价</dd>
							</dl>
						</li>
						<li class="no-right no-bottom">
							<img src="{$Think.const.IMG_URL}manual/concern_06.gif"/>
							<dl>
								<dt>互动</dt>
								<dd>提出您的问题，购车惠在线答疑</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{~W('Cate/footer')}
</body>
</html>
