<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>联系我们</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}base.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}manual.css"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}metisMenu.min.css"/>
</head>
<body>
{~W('Cate/header')}
<include file="Guide/manual_nav" />
		<div class="manual-con manual-h">
			<h3>当前位置：<a href="/index.php/index/index" title="购车惠">购车惠</a> > 购车指南 > 联系我们 > <span>联系我们</span></h3>
			<div class="manual-contact">
				<p>联系电话：400-138-0808</p>
				<p>商务合作：夏总  17715272228</p>
				<p>公司邮箱：njyichenghui@163.com</p>
				<p>公司地址：南京市玄武区徐庄软件园研发三区F栋7号楼-2区3楼</p>
				<p>邮政编码：210000</p>
			</div>
		</div>
	</div>
</div>
{~W('Cate/footer')}
</body>
</html>
