<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>公司简介</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}base.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}manual.css"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}metisMenu.min.css"/>
</head>
<body>
{~W('Cate/header')}
<include file="Guide/manual_nav" />
		<div class="manual-con manual-h">
			<h3>当前位置：<a href="/index.php/index/index" title="购车惠">购车惠</a> > 购车指南 > 关于我们 > <span>公司简介</span></h3>
			<div class="manual-about">
				<p>南京易橙汇网络科技有限公司是一家帮助消费者在线底价购车，提供围绕汽车使用过程中的各种服务，涵盖消费者买车后保养， 零配件，油品等服务，以及汽车销售领域的保险，广告，维护与保养等,协助传统汽车经销商寻找新的销售增长点的汽车类互联网 公司。</p>
				<p>公司由数十位经验丰富的汽车行业精英和技术精湛的软件科技人才创建于2015年1月，坐落在江苏省会南京市徐庄高科技 软件园，本着行业+科技创业理念，深耕汽车服务领域，我们与4S店等线下实体战略合作，结合PC端汽车商城、购车惠APP、 微信平台号等新媒体渠道，以线上线下O2O无缝对接的电子商务模式，加大渠道的垂直深度和业务全面覆盖，成为汽车+互联网 高效、便捷、惠民的汽车服务平台的领军企业。</p>
				<p>易橙汇旗下网站购车惠，为广大购车、用车民众提供汽车底价咨询、线上订车；购车惠高端车商城，提供各类汽车内饰，养护 商品和养护服务；此外还不定期举办各式线上购车节、汽车用品节等大型活动，增强用户体验和参与感，同时也为4S店提供卓有 成效的互联网营销解决方案。成为汽车行业一站式服务首选品牌。</p>
				<p>我们秉承“开创汽车美好生活”使命，用心做产品，坚定信仰，全心全意为汽车消费者服务，勇于学习、开拓创新，与合作商 同心、同行，用信心和勇气, 力争使购车惠汽车网络平台成为最有价值的汽车互联网行业先锋。同赢美好未来!</p>
				<h4>企业理念</h4>
				<p>与消费者同心，以客户利益价值最大化为前提，服务至上</p>
				<p>与合作商精诚合作，共赢未来 </p>
				<h4>服务宗旨</h4>
				<p>为广大汽车消费者提供更便捷的购车途径，更优惠的购车价格，以及用车，养车与汽车生活相关的全程服务，以权威、专业、可信赖 的内容服务汽车消费者，为客户打造专业、专属、快捷、超值的服务体验，创造客户惊喜和感动。</p>
				<img src="{$Think.const.IMG_URL}manual/about_01.jpg"/>
			</div>
		</div>
	</div>
</div>
{~W('Cate/footer')}
</body>
</html>
