<div class="commitment_wrap">
    <div class="commitmentbox main_container">
        <div class="wrap">
            <div class="item">
                <div class="imgbox">
                    <img src="/Public/Home/images/index/promiss1.png" alt="底价"></div>
                <div class="txtbox">
                    <h3 class="G_f18 ftx07">底价</h3>
                    <p class="G_f14 ftx02">一键看底价，买车更安心</p>
                </div>
            </div>
            <div class="item">
                <div class="imgbox"><img src="/Public/Home/images/index/promiss2.png" alt="认证"></div>
                <div class="txtbox">
                    <h3 class="G_f18 ftx07">认证</h3>
                    <p class="G_f14 ftx02">正规4S店提车，买车更放心</p>
                </div>
            </div>
            <div class="item">
                <div class="imgbox"><img src="/Public/Home/images/index/promiss3.png" alt="真实"></div>
                <div class="txtbox">
                    <h3 class="G_f18 ftx07">真实</h3>
                    <p class="G_f14 ftx02">买到底价，节省不是一点点</p>
                </div>
            </div>
            <div class="item">
                <div class="imgbox"><img src="/Public/Home/images/index/promiss4.png" alt="安全"></div>
                <div class="txtbox">
                    <h3 class="G_f18 ftx07">安全</h3>
                    <p class="G_f14 ftx02">购车惠担保，安全有保障</p>
                </div>
            </div>
        </div>
    </div>
</div>