<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>上牌地相关</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}base.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}manual.css"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}metisMenu.min.css"/>
</head>
<body>
{~W('Cate/header')}
<include file="Guide/manual_nav" />
		<div class="manual-con manual-h">
			<h3>当前位置：<a href="/index.php/index/index" title="购车惠">购车惠</a> > 购车指南 > 常见问题 > <span>上牌地相关</span></h3>
			<div class="manual-problem">
				<dl>
					<dt>问：上牌地中的不限是什么意思？</dt>
					<dd>答：上牌地选择不限，表示您对上牌地无要求，即您愿意按照4S店指定区域上牌。</dd>
				</dl>
				<dl>
					<dt>问：为什么要选择上牌地？</dt>
					<dd>答：4S店销售汽车时，并不是全国各地随意上牌，同一个4S店，不同的车款能提供给买车者的上牌地也不尽相同， 上牌地的选择也是影响你看到底价的条件，如果您对上牌地无要求，只是想看底价，建议您上牌地选择不限。</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
{~W('Cate/footer')}
</body>
</html>
