<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>定金相关</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}base.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}manual.css"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}metisMenu.min.css"/>
</head>
<body>
{~W('Cate/header')}
<include file="Guide/manual_nav" />
		<div class="manual-con manual-h">
			<h3>当前位置：<a href="/index.php/index/index" title="购车惠">购车惠</a> > 购车指南 > 常见问题 > <span>定金相关</span></h3>
			<div class="manual-problem">
				<dl>
					<dt>问：所有的车款支付的定金一样吗？</dt>
					<dd>答：不一样，不同价位的车款与定金的对应关系为：小于20万，定金2000元；20万到50万，定金5000元； 大于50万，10000元。</dd>
					<div class="manual-problem-payment">
						<ul class="J_ulTop">
							<li>20万<i></i></li>
							<li>50万<i></i></li>
						</ul>
						<ul class="J_ulBot">
							<li>￥2000元</li>
							<li class="l2">￥5000元</li>
							<li>￥10000元</li>
						</ul>
					</div>
				</dl>
				<dl>
					<dt>问：我支付过定金后，如果因为个人主观原因不想购买该车，定金还能退还吗？</dt>
					<dd>答：购车惠是信息提供平台，定车定金直接转交授权经销商作为购车定金。如因您个人原因造成合同不能履行 定车定金不予返还。</dd>
				</dl>
				<dl>
					<dt>问：为什么我需要交定金？</dt>
					<dd>答：在您交付定金后，定金将第一时间转交4S店， 作为4S店为您预留车辆的保证。</dd>
				</dl>
				<dl>
					<dt>问：定金是否可以退？</dt>
					<dd>答：如果4S店缺货或断货无法供应等情况，定金可以退还。</dd>
				</dl>
				<dl>
					<dt>问：定金是否抵扣车款？</dt>
					<dd>答：定金抵扣车款。</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
{~W('Cate/footer')}
</body>
</html>
