<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>贷款相关</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}base.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}manual.css"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}metisMenu.min.css"/>
</head>
<body>
{~W('Cate/header')}
<include file="Guide/manual_nav" />
		<div class="manual-con manual-h">
			<h3>当前位置：<a href="/index.php/index/index" title="购车惠">购车惠</a> > 购车指南 > 常见问题 > <span>贷款相关</span></h3>
			<div class="manual-problem">
				<dl>
					<dt>问：购置什么车可以申请贷款购车？</dt>
					<dd>答：客户购买自用汽车，不含经营性车辆和二手车。</dd>
				</dl>
				<dl>
					<dt>问：我想贷款买车，最高额度可以贷款多少？期限最长多久？</dt>
					<dd>答：最高可贷到汽车净车价的8成，所购车抵押最高6成。期限最长5年。多种还款方式，灵活选择！</dd>
				</dl>
				<dl>
					<dt>问：买车贷款需要哪些申请资料？</dt>
					<dd>答：身份证明、婚姻证明、收入证明、首付款证明、用途证明等。</dd>
					<ul class="manual-problem-loan">
						<li><img src="{$Think.const.IMG_URL}manual/problem_loan_01.gif"/></li>
						<li><img src="{$Think.const.IMG_URL}manual/problem_loan_02.gif"/></li>
						<li><img src="{$Think.const.IMG_URL}manual/problem_loan_03.gif"/></li>
					</ul>
				</dl>
				<dl>
					<dt>问：购车惠可以帮我办理购车贷款吗？办理流程是什么？</dt>
					<dd>答：您可选择购车惠或者4S店办理购车贷款。办理流程为：客户申请—银行审批—落实担保等—银行放款。</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
{~W('Cate/footer')}
</body>
</html>
