<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>询价费相关</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}base.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}manual.css"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}metisMenu.min.css"/>
</head>
<body>
{~W('Cate/header')}
<include file="Guide/manual_nav" />
		<div class="manual-con manual-h">
			<h3>当前位置：<a href="/index.php/index/index" title="购车惠">购车惠</a> > 购车指南 > 常见问题 > <span>询价费相关</span></h3>
			<div class="manual-problem">
				<dl>
					<dt>问：我支付完询价费能看到几款车的底价？</dt>
					<dd>答：因不同车款或者同一车款不同颜色等因素影响车价相差都很大，所以看到的是选定颜色、车型的底价。</dd>
				</dl>
				<dl>
					<dt>问：我支付完询价费后，我能一直看到这款车的底价吗？</dt>
					<dd>答： 受时间的影响车价变动幅度较大我们为您提供的车价有效期为2天如果价格满意请尽快订购以免损失。</dd>
				</dl>
				<dl>
					<dt>问：我支付的询价费是否抵扣车款？</dt>
					<dd>答：询价后通过购车惠下单定车我们将抵扣99元询价费。</dd>
				</dl>
				<dl>
					<dt>问：如果我支付询价费看到的底价不是底价，购车惠还退还询价费吗?</dt>
					<dd>答：购车惠是提供汽车询价标准的信息平台，我们保证在同等购车条件下（无贷款手续费、无强制消费、无车损情况等等）您的购车 价低于平台报价1001元以上的，全额退还。</dd>
				</dl>
				<dl>
					<dt>问：如何办理退款手续？</dt>
					<dd>答：请提供正规4S店的购车合同、购车发票、刷卡单后24小时内退款，遇节假日顺延。</dd>
				</dl>
				<dl>
					<dt>问：询价费，为什么有的时候是99元，有的时候是119元、有的时候是139元？</dt>
					<dd>答：购车惠提供的底价类型有4钟：城市底价、省份底价、地区底价、全国底价，询价时，您选择的底价个数不同，询价费不同，一个 底价的询价费为99元，两个底价的询价费为119元，三个底价的询价费为139。底价个数最多选择3个。</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
{~W('Cate/footer')}
</body>
</html>
