<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>购车流程</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}base.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}manual.css"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}metisMenu.min.css"/>
</head>
<body>
{~W('Cate/header')}
<include file="Guide/manual_nav" />
		<div class="manual-con manual-h">
			<h3>当前位置：<a href="/index.php/index/index" title="购车惠">购车惠</a> > 购车指南 > <span>购车流程</span></h3>
			<div class="manual-process">
				<div class="manual-process-step">
					<div class="process-step">
						<img src="{$Think.const.IMG_URL}manual/process_01.gif"/>
					</div>
					<dl>
						<dt>选车</dt>
						<dd>您可以通过搜索或通过热门搜索品牌，进入匹配的车型选车页面。在汽车详情页，选择车款和颜色。</dd>
					</dl>
					<p class="p1"><img src="{$Think.const.IMG_URL}manual/process_07.gif"/></p>
					<p class="p2"><img src="{$Think.const.IMG_URL}manual/process_08.gif"/></p>
				</div>
				<div class="manual-process-step">
					<div class="process-step">
						<img src="{$Think.const.IMG_URL}manual/process_02.gif"/>
					</div>
					<dl>
						<dt>询价</dt>
						<dd>在汽车详情页中，点击询价按钮，询价费99元，支付完成后可在汽车详情页中看到底价。</dd>
						<dd>不是底价退还询价费。【特别提示：退还需为同等购车条件下，即无强制保险、无强制装潢、无贷款买车、无质保损 车等，裸车的价格与购车惠平台提供的底价差价大于1000元】。通过平台购车，询价费可抵扣车款。</dd>
					</dl>
					<p class="p3"><img src="{$Think.const.IMG_URL}manual/process_09.gif"/></p>
				</div>
				<div class="manual-process-step">
					<div class="process-step">
						<img src="{$Think.const.IMG_URL}manual/process_03.gif"/>
					</div>
					<dl>
						<dt>定车</dt>
						<dd>询价后在汽车详情页中，点击底价买车，填写订单信息，提交订单，完成定金支付（不同价位区间的底价车，定金 不同，详见购车指南中的常见问题），定金将第一时间转交4S店，通知4S店预留车辆）定金抵扣车款。</dd>
					</dl>
					<p class="p4"><img src="{$Think.const.IMG_URL}manual/process_10.gif"/></p>
				</div>
				<div class="manual-process-step">
					<div class="process-step">
						<img src="{$Think.const.IMG_URL}manual/process_04.gif"/>
					</div>
					<dl>
						<dt>看车</dt>
						<dd>购车惠服务人员将第一时间与您联系，确认看车时间，购车惠有专人全程陪同看车，看车满意交付尾款。</dd>
					</dl>
					<p class="p5"><img src="{$Think.const.IMG_URL}manual/process_11.gif"/></p>
				</div>
				<div class="manual-process-step">
					<div class="process-step">
						<img src="{$Think.const.IMG_URL}manual/process_05.gif"/>
					</div>
					<dl>
						<dt>验车</dt>
						<dd>购车惠验车顾问陪同验车，现场详细指导，帮助您识别车款、把握车款品质。</dd>
					</dl>
				</div>
				<div class="manual-process-step laststep">
					<div class="process-step">
						<img src="{$Think.const.IMG_URL}manual/process_06.gif"/>
					</div>
					<dl>
						<dt>提车</dt>
						<dd>购车惠将由资深顾问协助您办理提车，重点注意事项提醒，装潢养护等建议，售后问题协助维权。</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
{~W('Cate/footer')}
</body>
</html>
