<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>购车惠</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}base.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}manual.css"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}metisMenu.min.css"/>
</head>
<body>
{~W('Cate/header')}
<include file="Guide/manual_nav" />
		<div class="manual-con manual-h">
			<h3>当前位置：<a href="/index.php/index/index" title="购车惠">购车惠</a> > 购车指南 > 特色服务 > <span>购车惠</span></h3>
			<div class="manual-service">
				<p>购车惠（gouchehui.com)，是一个新型的汽车互联网平台，我们与4S店合作,得到多家底价。您只要在平台挑选中意车款， 在线支付询价费，即可获得购车惠多家4S店比对后筛选出的最底价，支付定金后由我们的买车顾问带您到购车惠认证的4S店看 车、试驾、验车并支付购车尾款（定金可直接抵扣车款），并且全程保障您的个人信息，隐私安全。</p>
				<img src="{$Think.const.IMG_URL}manual/manual_service_01.jpg"/>
				<img src="{$Think.const.IMG_URL}manual/manual_service_02.jpg"/>
			</div>
		</div>
	</div>
</div>
{~W('Cate/footer')}
</body>
</html>
