<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="{$Think.const.CSS_URL}base.css">
    <link rel="stylesheet" href="{$Think.const.CSS_URL}order.css">
    <link rel="stylesheet" href="{$Think.const.CSS_URL}jquery.datetimepicker.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <title>::在线支付:: 活动订车订单 —— 购车惠</title>
</head>
<body>
{~W('Cate/header_order')}
<div class="C_page">
    <div class="main_container">
        <!--用户位置 开始-->
        <div class="US_position G_f14">
            订单提交时间：<span class="time ftx03">{$order_info.createtime}</span>
        </div>
        <!--用户位置 结束-->

        <!--oeder start-->
        <div class="orderbox">
            <form action="{:U('Pay/index')}" method="post">
                <div class="orderwrap">

                    <div class="order_info">
                        <div class="title G_f22 ftx02">
                            <h3>订单信息</h3>
                        </div>
                        <div class="bd">

                            <p><span class="t">订单号：</span>{$order_info.out_trade_no}</p>
                            <p><span class="t">品牌车型：</span>{$order_info.carstyle} 
                                <select name="car" id="J_car">
                                    <option value="1">2016款 18T 双离合运动旗舰型-1</option>
                                    <option value="2">2016款 18T 双离合运动旗舰型-2</option>
                                    <option value="3">2016款 18T 双离合运动旗舰型-3</option>
                                    <option value="4">2016款 18T 双离合运动旗舰型-4</option>
                                    <option value="5">2016款 18T 双离合运动旗舰型-5</option>
                                    <option value="6">2016款 18T 双离合运动旗舰型-6</option>
                                </select>
                            </p>
                            <p><span class="t">订单金额：</span><span class="s"><b class="G_f28">{$order_info.money}</b>元</span>（定金可抵用车款）</p>
                        </div>
                    </div>
                    <div class="line"></div>
                    <!--pay_style start-->
                    <if condition="$order_info.status eq 0">
                    <div class="pay_style" id="J_payOrder">
                        <div class="title G_f22 ftx02">
                            <h3>支付方式</h3>
                        </div>
                        <div class="paystylebox j_payItem" data-paynumber="1">
                            <div class="paybox">
                                <label class="j_defaultBankBtn selected" data-val="alipay"><img src="{$Think.const.IMG_URL}zhifubao.jpg" alt="支付宝支付"/><i></i></label>
                            </div>
                            <div class="paybox">
                                <label class="j_defaultBankBtn" data-val="weixin"><img src="{$Think.const.IMG_URL}icon_wechat.jpg" alt="微信支付"/><i></i></label>
                            </div>
                        </div>
                    </div>
                    <!--pay_style end-->
                    <input type="hidden" name="pay_id" value="{$order_info.id}">
                    <input type="hidden" name="pay_number" value="1">
                    <input type="hidden" name="defaultbank" value="alipay" /> <!-- alipay -->
                    <!--zhifu start-->
                    <div class="pay">
                        <input type="submit" class="G_btn_a" value="立即支付"/>
                    </div>
                    </if>
                    <!--zhifu end-->
                 </div>
            </form>
        </div>
    </div>
</div>
<script src="{$Think.const.js_URL}jquery-1.8.1.min.js"></script>
<script src="{$Think.const.js_URL}app.js"></script>
<script>
    $(function(){
       var $payCon = $('#J_payOrder'),
           $defaultBankBtn = $(".j_defaultBankBtn");
        $defaultBankBtn.on("click", function(){
            var $this = $(this),
                    $defaultBankInp = $("input[name=defaultbank]"),
                _val = $this.data('val');
            $defaultBankBtn.removeClass("selected");
            $this.addClass("selected");
            $defaultBankInp.val(_val);
        });
    });
</script>
</body>
</html>