<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="{$Think.const.CSS_URL}base.css">
    <link rel="stylesheet" href="{$Think.const.CSS_URL}order.css">
    <link rel="stylesheet" href="{$Think.const.CSS_URL}jquery.datetimepicker.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

    <title>::支付成功:: 活动订车订单 —— 南京底价购车_汽车价格_汽车团购_汽车用品_汽车保养_购车惠</title>
</head>
<body>
{~W('Cate/header_order')}
<div class="C_page">
    <div class="main_container">
        <!-- tips -->
        <div class="flowstep-tip step-2">
            <i class="icon-top-arrow"></i>
            <p class="G_f20 G_fb">
                <i class="icon-tips icon-tips-ok"></i>您已通过{$info.pay_way}成功支付<span class="s">¥{$info.money}</span>到购车惠
            </p>
            <if condition="$info.from_activityid eq 29">
                <p class="G_tc G_f18">请前往个人中心查看<a href="{$info.userorder_url}">活动订单</a>。</p>
                <else/>
                <p class="G_tc G_f18">请<a href="{$info.next}">完善信息</a>，或者前往个人中心查看<a href="{$info.userorder_url}">活动订单</a>。</p>
            </if>
        </div>

        <!-- tips end -->
        <div class="ewm-box">
            <span><img src="/Public/Home/images/app-ewm.png" alt=""/></span>
            <span><img src="/Public/Home/images/weixin-ewm.png" alt=""/></span>
        </div>
    </div>
</div>
<script src="{$Think.const.js_URL}jquery-1.8.1.min.js"></script>
<script src="{$Think.const.js_URL}app.js"></script>

</body>
</html>