<extend name="uc_base" />
<block name="body">
	<div id="uc_main">
		<div class="UC_main_r">
			<h2 class="UC_main_r_tit">积分相关</h2>

			<div class="UC_main_r_score  G_f14">
                <div class="scores" style="padding-top: 10px">
                    <h3>1、报价数量超过该品牌车款（包括外观颜色和内饰颜色）总数量50%，获得积分2000。</h3>
                </div>
                <div class="scores">
                    <h3>2、每个月有10个不同的车款的报价被判定为底价且需要超过24小时不上调价格，获得积分500，30款奖励800分</h3>
                </div>
                <div class="scores">
                    <h3>3、以季度为单位（1-3月，4-6月，7-9月，10-12月），车款报价成为底价次数少于200次，扣除积分500</h3>
                    <ul>
                        <p>次数的计算方式：</p>
                        <li>1）车款报价成为底价超过24小时算一次数</li>
                        <li>2）车款报价成为底价被计分，价格不变仍为底价的条件下后每3天为一个单位，计算一次。</li>
                        <span>【备注：该逻辑4月1号实行】</span>
                    </ul>
                </div>
                <div class="scores">
                    <h3>4、底价车款每被询价一次，增加20积分。（不退单）</h3>
                </div>
                <div class="scores">
                    <h3>5、如果因线上报价高于线下销售价格，发生询价退单，扣50积分</h3>
                </div>
                <div class="scores">
                    <h3>6、产生订车订单（包括底价车和特价车），根据价格区间不同，获得不同的积分，价格与积分对应关系：</h3>
                    <ul>
                        <li>1）15万以下得300积分，</li>
                        <li>2）15-30万得500积分，</li>
                        <li>3）30万以上的得800积分；</li>
                    </ul>
                </div>
                <div class="scores">
                    <h3>7、如果有订车订单，无法完成交车，扣除500积分；</h3>
                </div>
                <div class="scores">
                    <h3>8、月获得积分超过3000分的，月底再返还当月积分的30%。</h3>
                </div>

			</div>

		</div>
	</div>
</block>