<extend name="Public/base"/>
<block name="body">
<div id="content">
<div id="top-alert" class="fixed alert alert-error" style="display: none;">
            <button class="close fixed" style="margin-top: 4px;">×</button>
            <div class="alert-content">返回内容！</div>
        </div>
<div id="content-wrap">
 <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>{$ctitle}</a><a href="#" class="current">{$atitle}</a> </div>
    <h1>{$atitle}</h1>
  </div>
  <div class="container-fluid">
<div class="row-fluid">
<div class="span12">

<form action="{:U('Password/editPassWordHandle')}" class="form-horizontal" method="post">
    	<fieldset>
	    	<div class="control-group">
	    		<label class="control-label" for="title">旧密码：</label>
	    		<div class="controls">
	    			<input type="password" type="password" name="oldpassword" value="">
	    			<p class="help-block">6-22字母或数字</p>
	    		</div>
	    	</div>	
			<div class="control-group">
				<label class="control-label" for="sort">新密码：</label>
				<div class="controls">
			    			<input  type="password" name="newpassword" value=""/>
			    			<p class="help-block">用户密码不能少于6位</p>
			    		</div>
			  </div>
			<div class="control-group">
				<label class="control-label" for="url">确认新密码:</label>
				<div class="controls">
			    			<input  type="password" name="repassword" value="" />
			    			<p class="help-block">用户密码不能少于6位</p>
			    		</div>
			  </div>	 		
    	</fieldset>
    	<div class="form-actions">
    		<button type="submit"  id="submit" class="btn btn-primary">确定</button>
			<button class="btn btn-primary" onClick="javascript:history.back(-1);return false;">返回</button>
    	</div>	
    	</form>
		<!-- Button to trigger modal -->

</div>
</div>
</div>
</div>
</div>
</block>