<extend name="Public/base"/>

<block name="body">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom"> <i class="icon-home"></i>
                汽车管理
            </a>
            <a href="#" class="current">所有车款</a>
        </div>
        <h1>添加品牌</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <form action="{:U('addcar_brand')}" class="form-horizontal" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="big_brand_name">所属大品牌：</label>
                            <div class="controls">
                                <select name="fid">
                                    <option value="">请选择所属的大品牌</option>
                                    <volist name="bigBrandList" id="vol">
                                        <option value="{$vol.id}">{$vol.big_brand_name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="brand_name">品牌：</label>
                            <div class="controls">
                                <input id="webname" name="brand_name" type="text"></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="brand_name">品牌首字母：</label>
                            <div class="controls">
                                <input id="webname" name="alif" type="text"></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="logo">LOGO：</label>
                            <div class="controls">
                            <input type="file" name="logo"  id="file_0" value="" ></div>
                            <p>(建议上传图片尺寸：40*40px)</p>
                        </div>
                    
                </fieldset>
                <div class="form-actions">
                    <button type="submit"  id="submit" class="btn btn-primary">添加</button>
                </div>
            </form>
        </div>
    </div>
</div>

</block>