<extend name="Public/base"/>

<block name="body">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom"> <i class="icon-home"></i>
                汽车管理
            </a>
            <a href="#" class="current">所有车款</a>
        </div>
        <h1>添加车款</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <form action="{:U('addcar')}" class="form-horizontal" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="webname">品牌：</label>
                            <div class="controls">
                                <select name="brand_id" id="pinpai">
                                    <option value="">请选择品牌</option>
                                    <volist name="infomodel" id="vo">
                                        <option value="{$vo.id}" <if condition="$vo.id eq $brand_id">selected</if>>{$vo.brand_name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="webname">车型：</label>
                            <div class="controls">
                                <select name="model_id" id="chexing">
                                    <if condition="$infom neq null">
                                        <option value="{$infom.id}">{$infom.car_model_name}</option>
                                        <else />
                                        <option value="">请选择车型</option>
                                    </if>
                                </select>
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="car_name">车款：</label>
                            <div class="controls">
                                <input id="webname" name="car_name" type="text"></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="car_name">车款状态：</label>
                            <div class="controls">
                                <input value="1" name="status" type="radio" checked><span style="font-size:13px;margin-right:20px;">在售</span>
                                <input value="0" name="status" type="radio"><span style="font-size:13px;">停售</span>
                            </div>
                        </div>
						<div class="control-group">
                            <label class="control-label" for="displacement">排量：</label>
                            <div class="controls">
                                <input id="webname" name="displacement" type="text" value=""></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="car_name">官方指导价：</label>
                            <div class="controls">
                                <input id="webname" name="auth_price" type="text"  style="width:100px" />
                                <span style='font-size:13px'>单价：元</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="order">排序：</label>
                            <div class="controls">
                                <input id="webname" name="order" type="text"></div>
                        </div>

                        <!--<div class="control-group">
                            <label class="control-label" for="tip">车款描述：</label>

                            <div class="controls">
                                <textarea class="form-control" id="tip" name="description" rows="7"></textarea>
                            </div>
                        </div>-->
                        
                       <!--  <div class="control-group">
                            <label class="control-label" for="colorname">颜色：</label>
                            <div class="controls">
                                <input id="webname" name="colorname" type="text"></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="colorvalue">颜色值：</label>
                            <div class="controls">
                                <input id="webname" name="colorvalue" type="text"></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="colorimage">封面图片：</label>
                            <div class="controls">
                                <input type="file" name="imgurl"  id="file_0" value="" >

                            </div>
                        </div> -->
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit"  id="submit" class="btn btn-primary">添加</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $("#pinpai").change(function(){
                var $obj=$('#pinpai').find('option:selected');
                $("#chexing").empty();
                $("#chexing").append("<option value=''>请选择车型</option>");

                $.post( "__MODULE__/Ajax/addModelHandle",
                        {brand_id : $obj.val()},
                        function(data,textStatus){
                            $.each(data,function(key,val){
                                $("#chexing").append("<option value='"+val.id+"'>"+val.car_model_name+"</option>");
                            });

                        },
                        "json");
            })

        });
    </script>

</block>