<extend name="Public/base"/>

<block name="body">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom"> <i class="icon-home"></i>
                汽车管理
            </a>
            <a href="#" class="current">所有车款</a>
        </div>
        <h1>编辑车型</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <form action="{:U('editcar_model')}" class="form-horizontal" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="webname">品牌：</label>
                            <div class="controls">
                                <select name="brand_id">                               
                                    <volist name="infobrand" id="vo">
                                        <option value="{$vo.id}" <if condition="$vo.brand_name eq $infob['brand_name']">selected</if>>{$vo.brand_name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="webname">车型：</label>
                            <div class="controls">
                                <input id="webname" name="car_model_name" type="text" value="{$infom.car_model_name}"></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="car_name">车型状态：</label>
                            <div class="controls">
                                <input value="1" name="status" type="radio" <if condition='$infom.status eq 1'>checked</if>><span style="font-size:13px;margin-right:20px;">在售</span>
                                <input value="0" name="status" type="radio" <if condition='$infom.status eq 0'>checked</if>><span style="font-size:13px;">停售</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="webname">车型分类：</label>
                            <div class="controls">
                                <select name="car_type_id">                                 
                                    <volist name="infocartype" id="vo">
                                        <option value="{$vo.id}" <if condition="$vo.car_type_name eq $infot['car_type_name']">selected</if>>{$vo.car_type_name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="imgurl">修改图：</label>
                            <div class="controls">
                                <input type="file" name="imgurl"  id="file_0" value="" ></div>
                                <p>(建议上传图片尺寸：600*400px)</p>
                        </div>

                           <div class="control-group">
                             <label class="control-label" for="imgurl">车型图：</label>
                                <img src="{$Think.const.OSS}{$infom.imgurl}" height="150" width="120" />
                        </div>

                       <input type="hidden" name="mid" value="{$infom.id}">
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit"  id="submit" class="btn btn-primary">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</block>