<extend name="Public/base"/>

<block name="body">

 <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 汽车管理</a> <a href="__CONTROLLER__/carlist" class="current">所有车款</a><div class="carmanage_right"><a href="__CONTROLLER__/carlist" style="color:#006dcc;">返回上一页</a></div> </div>
    <h1>价格走势</h1>
  </div>
<div id="main" style="height:500px;width:1200px;border:1px solid #ccc;padding:10px;"></div>
    <script src="{$Think.const.ADMIN_JS_URL}char_js/echarts.js"></script>
    <script type="text/javascript">
      function a(){
          require.config({
              paths: {
                  echarts: '{$Think.const.ADMIN_JS_URL}char_js'
              }
          });
          require(
              [
                  'echarts',
                  'echarts/chart/bar',
                  'echarts/chart/line',
                  'echarts/chart/map'
              ],
              function (ec) {
                  // value1=new Array();
                  //--- 折柱 ---
                  var myChart = ec.init(document.getElementById('main'));
                  myChart.setOption({
                      tooltip : {
                          trigger: 'axis'
                      },
                      legend: {
                          data:['市场价','购车惠低价']
                      },
                      toolbox: {
                          show : true,
                          feature : {
                              mark : {show: true},
                              dataView : {show: true, readOnly: false},
                              magicType : {show: true, type: ['line', 'bar']},
                              restore : {show: true},
                              saveAsImage : {show: true}
                          }
                      },
                      calculable : true,
                      xAxis : [
                          {
                              type : 'category',
                              data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                          }
                      ],
                      yAxis : [
                          {
                              type : 'value',
                              splitArea : {show : true}
                              
                          }
                      ],
                      series : [
                          {

                              name:'市场价',
                              type:'bar',
                              data:[value1[0], value1[1], value1[2], value1[3], value1[4], value1[5], value1[6], value1[7], value1[8], value1[9], value1[10], value1[11]]
                          },
                          {
                              name:'购车惠低价',
                              type:'bar',
                              data:[value2[0], value2[1], value2[2], value2[3], value2[4], value2[5], value2[6], value2[7], value2[8], value2[9], value2[10], value2[11]]
                          }
                      ]
                  });
              }
          );

      }

      $(function(){
        value1=new Array();
        value2=new Array();
        $("input[id='price_value']").each(function(i,n){
          value1[i]=$(this).val(); 
        })
        $("input[id='low_price_value']").each(function(i,n){
          value2[i]=$(this).val(); 
        })
        a();
       
        $("input[id='price_value']").blur(function(){
          value2=new Array();
          value1=new Array();
          $("input[id='price_value']").each(function(i,n){
            value1[i]=$(this).val(); 
          })
          $("input[id='low_price_value']").each(function(i,n){
            value2[i]=$(this).val(); 
          })
          a();
         
        });

        $("input[id='low_price_value']").blur(function(){
          value2=new Array();
          value1=new Array();
          $("input[id='price_value']").each(function(i,n){
            value1[i]=$(this).val(); 
          })
          $("input[id='low_price_value']").each(function(i,n){
            value2[i]=$(this).val(); 
          })
          a();
         
        });
      });

  

    </script>


<div class="container-fluid">
<div class="row-fluid">

<div class="span12">
  
  <div class="widget-yu-btn widget-right-search">                                            
     <div class="order_list" name="del" type="submit" value="" style="margin-left:0px;">价格数据配置</div>
  </div>        
          <div class="widget-content nopadding" >
            <table class="table table-bordered table-striped with-check" id="Yu-db-backup">
              <thead>
                <tr>                
                  <th>年份</th>
                  <th>月份</th>                                  			
                  <th>市场价</th> 
                  <th>购车惠底价</th> 				  
                </tr>
              </thead>
              <tbody>
                <tr>                 
                  <td>2015</td><td>01</td>
                  <td><input type="text" style="width:50px" id="price_value" value="50">万</td>
                  <td><input type="text" style="width:50px" id="low_price_value" value="40">万</td>				  
                </tr>
                <tr>                 
                  <td>2015</td><td>02</td>
                  <td><input type="text" style="width:50px" id="price_value" value="100">万</td>
                  <td><input type="text" style="width:50px" id="low_price_value" value="90">万</td>          
                </tr>
                <tr>                 
                  <td>2015</td><td>03</td>
                  <td><input type="text" style="width:50px" id="price_value" value="110">万</td>
                  <td><input type="text" style="width:50px" id="low_price_value" value="100">万</td>          
                </tr>
                <tr>                 
                  <td>2015</td><td>04</td>
                  <td><input type="text" style="width:50px" id="price_value" value="115">万</td>
                  <td><input type="text" style="width:50px" id="low_price_value" value="105">万</td>          
                </tr>
                <tr>                 
                  <td>2015</td><td>05</td>
                  <td><input type="text" style="width:50px" id="price_value" value="113">万</td>
                  <td><input type="text" style="width:50px" id="low_price_value" value="100">万</td>          
                </tr>
                <tr>                 
                  <td>2015</td><td>06</td>
                  <td><input type="text" style="width:50px" id="price_value" value="100">万</td>
                  <td><input type="text" style="width:50px" id="low_price_value" value="93">万</td>          
                </tr>
                <tr>                 
                  <td>2015</td><td>07</td>
                  <td><input type="text" style="width:50px" id="price_value" value="120">万</td>
                  <td><input type="text" style="width:50px" id="low_price_value" value="96">万</td>          
                </tr>
                <tr>                 
                  <td>2015</td><td>08</td>
                  <td><input type="text" style="width:50px" id="price_value" value="90">万</td>
                  <td><input type="text" style="width:50px" id="low_price_value" value="86">万</td>          
                </tr>
                <tr>                 
                  <td>2015</td><td>09</td>
                  <td><input type="text" style="width:50px" id="price_value" value="96">万</td>
                  <td><input type="text" style="width:50px" id="low_price_value" value="93">万</td>          
                </tr>
                <tr>                 
                  <td>2015</td><td>10</td>
                  <td><input type="text" style="width:50px" id="price_value" value="91">万</td>
                  <td><input type="text" style="width:50px" id="low_price_value" value="86">万</td>          
                </tr>
                <tr>                 
                  <td>2015</td><td>11</td>
                  <td><input type="text" style="width:50px" id="price_value" value="98">万</td>
                  <td><input type="text" style="width:50px" id="low_price_value" value="90">万</td>          
                </tr>
                <tr>                 
                  <td>2015</td><td>12</td>
                  <td><input type="text" style="width:50px" id="price_value" value="100">万</td>
                  <td><input type="text" style="width:50px" id="low_price_value" value="86">万</td>          
                </tr>

                
              </tbody>
            </table>
          </div>
							  
</div>
</div>
  </div>


<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/matrix.js"></script>
</block>
