<div class="carban" id="J_CarBan">
    <div class="carban-bd">
        <ul>
            <li><a href="/index.php/Subject/hd818" target="_blank" style="display: block;width:100%;height:400px;background: url({$Think.const.IMG_URL}818banner.jpg) no-repeat center top;"></a></li>
            <li><a href="" target="_blank" style="display: block;width:100%;height:400px;background: url({$Think.const.IMG_URL}carban_01.jpg) no-repeat center top;"></a></li>
            <li><a href="" target="_blank" style="display: block;width:100%;height:400px;background: url({$Think.const.IMG_URL}carban_02.jpg) no-repeat center top;"></a></li>
            <li><a href="" target="_blank" style="display: block;width:100%;height:400px;background: url({$Think.const.IMG_URL}carban_03.jpg) no-repeat center top;"></a></li>
        </ul>
    </div>
    <div class="carban-hd hd">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li></ul>
    </div>
    <div class="carban-arrow">
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>
    </div>
</div>