<div id="J_bar">
    <ul class="floating-box">
        <li>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=2853051951&site=qq&menu=yes" target="_blank" >
                <i class="icon-new-customerService"></i>
                <p class="message customerService">企业QQ</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-new-tel"></i>
                <p class="message tel">400-138-0808</p>
            </a>
        </li>
        <li>
            <a href="{:U('Guide/feedback')}" target="_blank">
                <i class="icon-new-feedback"></i>
                <p class="message feedback">我要反馈</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" id="J_backTop">
                <i class="icon-new-toTop"></i>
                <p class="top-txt">顶部</p>
            </a>
        </li>

    </ul>
</div>

<div class="commitment_wrap ">
    <div class="commitmentbox main_container">
        <div class="wrap">
            <div class="item">
                <div class="imgbox">
                    <img src="{$Think.const.IMG_URL}index/promiss1.png" alt="底价"/></div>
                <div class="txtbox">
                    <h3 class="G_f18 ftx07">底价</h3>
                    <p class="G_f14 ftx02">一键看底价，买车更安心</p>
                </div>
            </div>
            <div class="item">
                <div class="imgbox"><img src="{$Think.const.IMG_URL}index/promiss2.png" alt="认证"/></div>
                <div class="txtbox">
                    <h3 class="G_f18 ftx07">认证</h3>
                    <p class="G_f14 ftx02">正规4S店提车，买车更放心</p>
                </div>
            </div>
            <div class="item">
                <div class="imgbox"><img src="{$Think.const.IMG_URL}index/promiss3.png" alt="真实"/></div>
                <div class="txtbox">
                    <h3 class="G_f18 ftx07">真实</h3>
                    <p class="G_f14 ftx02">买到底价，节省不是一点点</p>
                </div>
            </div>
            <div class="item">
                <div class="imgbox"><img src="{$Think.const.IMG_URL}index/promiss4.png" alt="安全"/></div>
                <div class="txtbox">
                    <h3 class="G_f18 ftx07">安全</h3>
                    <p class="G_f14 ftx02">购车惠担保，安全有保障</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footerWrap">
	<div class="footerTop">
		<div class="footer-list G_fl">
			<dl>
				<dt>订单服务</dt>
				<dd><a href="{:U('Guide/process')}" title="购车指南">购车指南</a></dd>
				<dd><a href="{:U('Guide/problem_price')}" title="常见问题">常见问题</a></dd>
				<dd><a href="{:U('Guide/notice')}" title="购车需知">购车需知</a></dd>
			</dl>
			<dl>
				<dt>关于我们</dt>
				<dd><a href="{:U('Guide/introduce')}" title="公司简介">公司简介</a></dd>
				<dd><a href="{:U('Guide/feedback')}" title="在线反馈">在线反馈</a></dd>
				<dd><a href="{:U('Guide/concern')}" title="关注我们">关注我们</a></dd>
			</dl>
			<dl>
				<dt>关注我们</dt>
				<dd><a href="{:U('Guide/contact')}" title="客服电话">客服电话</a></dd>
				<dd><a href="{:U('Guide/contact')}" title="商务合作">商务合作</a></dd>
				<dd><a href="{:U('Guide/contact')}" title="联系邮箱">联系邮箱</a></dd>
			</dl>
		</div>
		<div class="footer-ewm G_fl">
			<ul>
				<li>
					<img src="{$Think.const.IMG_URL}wechat_servse.png"/>
					<span>微信服务号</span>
				</li>
				<li>
					<img src="{$Think.const.IMG_URL}app_down.png"/>
					<span>app下载</span>
				</li>
			</ul>
		</div>
		<div class="footer-tel G_fr">
			<p class="p1">400-138-0808</p>
			<p>周一至周五  （节假日除外）</p>
			<p>9:00-17:30（仅收市话费）</p>
		</div>
	</div>
    <div class="footer-link">
        <div class="footer-link-wrap">
            <span>友情链接：</span>
            <span id="J_FooterLink"><a href="http://www.qidongbao.com/" title="启动宝" target="_blank">启动宝</a><span>|</span><a href="http://www.cokecn.net/" title="南京底价购车网" target="_blank">南京底价购车网</a><span>|</span><a href="http://gz.xctuan.cn/ " title="广州学车" target="_blank">广州学车</a><span>|</span><a href="http://www.lscfan.com" title="跑车网" target="_blank">跑车网</a><span>|</span><a href="http://qcyongpin.jiameng.com" title="汽车养护用品加盟" target="_blank">汽车养护用品加盟</a></span>
        </div>
    </div>
	<div class="footerBot">
		<p>CopyRight @2015-2016 gouchehui.com All rights reserved 版权所有南京易橙汇网络科技有限公司</p>
		<p>备案号:苏ICP备13031090号-3</p>
		<!--<div class="footerBot-pic">
			<img src="{$Think.const.IMG_URL}footerBot_01.png"/>
			<img src="{$Think.const.IMG_URL}footerBot_02.png"/>
		</div>-->
	</div>
	<div style="display:none">
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?d54eca841141d8a4565de0cc62ccdb42";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8ee160ab7cf066c5b5eadcdb24bb415a' type='text/javascript'%3E%3C/script%3E")); </script>
    	<script src="http://s95.cnzz.com/z_stat.php?id=1258873107&web_id=1258873107" language="JavaScript"></script>
    </div>
</div>