<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>818活动 —— 购车惠</title>
    <link rel="stylesheet" href="{$Think.const.CSS_URL}base.css"/>
    <link rel="stylesheet" href="{$Think.const.IMG_URL}Subject/818/css/818.css"/>
</head>
<body>
<div class="banner">
    <div class="banner1"></div>
    <div class="banner2"></div>
    <div class="banner3">
        <div class="details">
            <p>活动时间：<span>8.18——9.18</span></p>
            <p>客服电话：<span>400-138-0808</span></p>
            <p>活动力度：<span>下单送818购车大礼包（最高价值3580元）</span></p>
        </div>
    </div>
    <div class="banner4"></div>
    <div class="spree">
        <div class="sprees">
            <img src="{$Think.const.IMG_URL}Subject/818/images/banner_spree.jpg">
        </div>
    </div>
</div>

<div class="content">

    <div class="content-wrap">

        <div class="exp-wrap">

            <div class="explosion">

                <div class="exp-1 clearfix">
                    <div class="save">省9.44万
                        <div class="triangle"></div></div>
                    <div class="exp-left fl">
                        <img src="{$Think.const.IMG_URL}Subject/818/images/explosion-1.jpg">
                    </div>
                    <div class="exp-right fl">
                        <h2>宝马5系</h2>
                        <p class="carname">2014款 525Li豪华</p>

                        <div class="details">
                            <img src="{$Think.const.IMG_URL}Subject/818/images/ech1.jpg">
                            <img src="{$Think.const.IMG_URL}Subject/818/images/ech2.jpg">
                            <img src="{$Think.const.IMG_URL}Subject/818/images/ech3.jpg">
                        </div>

                        <div class="details-name clearfix">
                            <p class="fl">内饰</p>
                            <p class="fl">空间</p>
                            <p class="fl">细节</p>
                        </div>

                        <div class="lowp clearfix">
                            <p class="lowp-1 fl"><i class="buy-icon fl"></i>购车惠最低价</p>
                            <p class="lowp-2 fl">已有<span>8</span>人购买</p>
                        </div>

                        <div class="buyrob clearfix">
                            <p class="rob-1 fl">活动价：<span>40.52</span>万</p>
                            <p class="rob-2 fl">原价：49.96万</p>
                            <a href="#"></a>
                        </div>
                    </div>

                </div>

                <div class="exp-2 clearfix">
                    <div class="save">省9.44万<div class="triangle"></div></div>
                    <div class="exp-left fl">
                        <img src="{$Think.const.IMG_URL}Subject/818/images/explosion-2.jpg">
                    </div>
                    <div class="exp-right fl">
                        <h2>雪弗兰 科鲁兹</h2>
                        <p class="carname krz">2015款 1.5L 经典SEAT</p>

                        <div class="details">
                            <img src="{$Think.const.IMG_URL}Subject/818/images/ech1.jpg">
                            <img src="{$Think.const.IMG_URL}Subject/818/images/ech2.jpg">
                            <img src="{$Think.const.IMG_URL}Subject/818/images/ech3.jpg">
                        </div>

                        <div class="details-name clearfix">
                            <p class="fl">内饰</p>
                            <p class="fl">空间</p>
                            <p class="fl">细节</p>
                        </div>

                        <div class="lowp clearfix">
                            <p class="lowp-1 fl"><i class="buy-icon fl"></i>购车惠最低价</p>
                            <p class="lowp-2 fl">已有<span>23</span>人购买</p>
                        </div>

                        <div class="buyrob clearfix">
                            <p class="rob-1 fl">活动价：<span>8.84</span>万</p>
                            <p class="rob-2 fl">原价：10.99万</p>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="public hyundai">
            <div class="public-box">
                <div class="pub-name ">
                    <div class="pub-1 hyn-1 clearfix">
                        <div class="save">省9.44万
                            <div class="triangle"></div></div>
                        <div class="pub-1-left hyn-left fl">
                            <img src="{$Think.const.IMG_URL}Subject/818/images/hyundai.jpg">
                        </div>
                        <div class="pub-1-right hyn-right fl">
                            <h2>北京现代 领动</h2>
                            <p class="carname hyn-name">2016款 1.6L 手动 智炫·青春型</p>

                            <div class="details">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/hyundai1.jpg">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/hyundai2.jpg">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/hyundai3.jpg">
                            </div>

                            <div class="details-name clearfix">
                                <p class="fl">内饰</p>
                                <p class="fl">空间</p>
                                <p class="fl">细节</p>
                            </div>

                            <div class="lowp clearfix">
                                <p class="lowp-1 fl"><i class="buy-icon fl"></i>购车惠最低价</p>
                                <p class="lowp-2 fl">已有<span>8</span>人购买</p>
                            </div>

                            <div class="buyrob  hyundai-rob clearfix">
                                <p class="rob-1 fl">活动价：<span>9.08</span>万</p>
                                <p class="rob-2 fl">原价：9.98万</p>
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>

                    <div class="pub-2 hyn-2">
                        <ul>
                            <li><div class="pub-2-sbox hyn-sbox-1">
                                <div class="pub-sbox-save">省1.44万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/hyundaia.jpg">
                                <p class="pub-2-bn">2015款 1.6L 手动两驱时尚型GS</p>
                                <p class="pub-2-pr">活动价<span>10.54</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：11.98万</p>
                                    <p class="fl">已有<span>8</span>人购买</p>
                                </div>
                                <p class="buynow"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox hyn-sbox-2">
                                <div class="pub-sbox-save">省1.44万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/hyundaib.jpg">
                                <p class="pub-2-bn">2015款 1.6L 自动两驱时尚型GS</p>
                                <p class="pub-2-pr">活动价<span>11.94</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：13.38万</p>
                                    <p class="fl">已有<span>12</span>人购买</p>
                                </div>
                                <p class="buynow"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox hyn-sbox-3">
                                <div class="pub-sbox-save">省2.16万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/hyundaic.jpg">
                                <p class="pub-2-bn">2016款 1.8L 自动智能型GLS</p>
                                <p class="pub-2-pr">活动价<span>12.82</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：14.98万</p>
                                    <p class="fl">已有<span>1</span>人购买</p>
                                </div>
                                <p class="buynow"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox hyn-sbox-4">
                                <div class="pub-sbox-save">省2.16万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/hyundaid.jpg">
                                <p class="pub-2-bn">2016款 1.8L 自动尊贵型DLX</p>
                                <p class="pub-2-pr">活动价<span>13.82</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：15.98万</p>
                                    <p class="fl">已有<span>6</span>人购买</p>
                                </div>
                                <p class="buynow"><a href="#">立即抢购</a></p>
                            </div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="public kia">
            <div class="public-box">
                <div class="pub-name">
                    <div class="pub-1 kia-1 clearfix">
                        <div class="save">省9.44万
                            <div class="triangle"></div></div>
                        <div class="pub-1-left kia-left fl">
                            <img src="{$Think.const.IMG_URL}Subject/818/images/kia.jpg">
                        </div>
                        <div class="pub-1-right kia-right fl">
                            <h2>东风悦达起亚 KX5</h2>
                            <p class="carname kia-name">2016款 2.0L 手动两驱GL</p>

                            <div class="details">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/kia1.jpg">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/kia2.jpg">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/kia3.jpg">
                            </div>

                            <div class="details-name clearfix">
                                <p class="fl">内饰</p>
                                <p class="fl">空间</p>
                                <p class="fl">细节</p>
                            </div>

                            <div class="lowp clearfix">
                                <p class="lowp-1 fl"><i class="buy-icon fl"></i>购车惠最低价</p>
                                <p class="lowp-2 fl">已有<span>11</span>人购买</p>
                            </div>

                            <div class="buyrob kia-rob clearfix">
                                <p class="rob-1 fl">活动价：<span>14.06</span>万</p>
                                <p class="rob-2 fl">原价：15.68万</p>
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>

                    <div class="pub-2 kia-2">
                        <ul>
                            <li><div class="pub-2-sbox kia-2-sbox">
                                <div class="pub-sbox-save">省1.62万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/kiaa.jpg">
                                <p class="pub-2-bn">2016款 2.0L 自动双驱GL</p>
                                <p class="pub-2-pr">活动价<span>14.56</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：16.18万</p>
                                    <p class="fl">已有<span>9</span>人购买</p>
                                </div>
                                <p class="buynow kiaco"><a href="#">立即抢购</a></p>
                            </div></li>
                            <li><div class="pub-2-sbox hyn-2-sbox">
                                <div class="pub-sbox-save">省1.62万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/kiaa.jpg">
                                <p class="pub-2-bn">2016款  2.0L 自动双驱Premium</p>
                                <p class="pub-2-pr">活动价<span>17.36</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：18.98万</p>
                                    <p class="fl">已有<span>8</span>人购买</p>
                                </div>
                                <p class="buynow kiaco"><a href="#">立即抢购</a></p>
                            </div></li>
                            <li><div class="pub-2-sbox hyn-2-sbox">
                                <div class="pub-sbox-save">省1.62万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/kiab.jpg">
                                <p class="pub-2-bn">2016款 2.0L 自动双驱GL</p>
                                <p class="pub-2-pr">活动价<span>15.56</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：17.18万</p>
                                    <p class="fl">已有<span>12</span>人购买</p>
                                </div>
                                <p class="buynow kiaco"><a href="#">立即抢购</a></p>
                            </div></li>
                            <li><div class="pub-2-sbox hyn-2-sbox">
                                <div class="pub-sbox-save">省1.62万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/kiab.jpg">
                                <p class="pub-2-bn">2016款  2.0L 自动双驱Premium</p>
                                <p class="pub-2-pr">活动价<span>21.56</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：23.18万</p>
                                    <p class="fl">已有<span>8</span>人购买</p>
                                </div>
                                <p class="buynow kiaco"><a href="#">立即抢购</a></p>
                            </div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="public bmw">
            <div class="public-box">
                <div class="pub-name ">
                    <div class="pub-1  clearfix">
                        <div class="save">省4.04万
                            <div class="triangle"></div></div>
                        <div class="pub-1-left fl">
                            <img src="{$Think.const.IMG_URL}Subject/818/images/bmw.jpg">
                        </div>
                        <div class="pub-1-right fl">
                            <h2>宝马 3系</h2>
                            <p class="carname bmw-name">2016款 316Li 时尚型</p>

                            <div class="details">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/bmw1.jpg">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/bmw2.jpg">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/bmw3.jpg">
                            </div>

                            <div class="details-name clearfix">
                                <p class="fl">内饰</p>
                                <p class="fl">空间</p>
                                <p class="fl">细节</p>
                            </div>

                            <div class="lowp clearfix">
                                <p class="lowp-1 fl"><i class="buy-icon fl"></i>购车惠最低价</p>
                                <p class="lowp-2 fl">已有<span>6</span>人购买</p>
                            </div>

                            <div class="buyrob bmw-rob clearfix">
                                <p class="rob-1 fl">活动价：<span>26.94</span>万</p>
                                <p class="rob-2 fl">原价：30.98万</p>
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>

                    <div class="pub-2">
                        <ul>
                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省7.84万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/bmwa.jpg">
                                <p class="pub-2-bn">2014款 520Li  典雅型 黑色</p>
                                <p class="pub-2-pr">活动价<span>35.72</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：43.56万</p>
                                    <p class="fl">已有<span>1</span>人购买</p>
                                </div>
                                <p class="buynow bmwco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省8.81万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/bmwa.jpg">
                                <p class="pub-2-bn">2014款 525Li 领先型</p>
                                <p class="pub-2-pr">活动价<span>37.85</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：46.66万</p>
                                    <p class="fl">已有<span>2</span>人购买</p>
                                </div>
                                <p class="buynow bmwco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省7.05万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/bmwb.jpg">
                                <p class="pub-2-bn">2017款 520Li  典雅型</p>
                                <p class="pub-2-pr">活动价<span>36.51</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：43.56万</p>
                                    <p class="fl">已有<span>3</span>人购买</p>
                                </div>
                                <p class="buynow bmwco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省7.55万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/bmwb.jpg">
                                <p class="pub-2-bn">2017款 525Li 领先型</p>
                                <p class="pub-2-pr">活动价<span>39.11</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：46.66万</p>
                                    <p class="fl">已有<span>1</span>人购买</p>
                                </div>
                                <p class="buynow bmwco"><a href="#">立即抢购</a></p>
                            </div></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="public volkswagen">
            <div class="public-box">
                <div class="pub-name ">
                    <div class="pub-1  clearfix">
                        <div class="save">省1.4万
                            <div class="triangle"></div></div>
                        <div class="pub-1-left fl">
                            <img src="{$Think.const.IMG_URL}Subject/818/images/volkswagen.jpg">
                        </div>
                        <div class="pub-1-right fl">
                            <h2>上海大众 Polo</h2>
                            <p class="carname volkswagen-name">2016款 1.6L 手动舒适型</p>

                            <div class="details">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/volkswagen1.jpg">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/volkswagen2.jpg">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/volkswagen3.jpg">
                            </div>

                            <div class="details-name clearfix">
                                <p class="fl">内饰</p>
                                <p class="fl">空间</p>
                                <p class="fl">细节</p>
                            </div>

                            <div class="lowp clearfix">
                                <p class="lowp-1 fl"><i class="buy-icon fl"></i>购车惠最低价</p>
                                <p class="lowp-2 fl">已有<span>15</span>人购买</p>
                            </div>

                            <div class="buyrob volkswagen-rob clearfix">
                                <p class="rob-1 fl">活动价：<span>7.79</span>万</p>
                                <p class="rob-2 fl">原价：9.19万</p>
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>

                    <div class="pub-2">
                        <ul>
                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省2.0万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/volkswagena.jpg">
                                <p class="pub-2-bn volkswagen-name">2015款 280TSI  手动舒适版</p>
                                <p class="pub-2-pr">活动价<span>14.99</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：16.99万</p>
                                    <p class="fl">已有<span>10</span>人购买</p>
                                </div>
                                <p class="buynow volkswagenco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省2.0万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/volkswagenb.jpg">
                                <p class="pub-2-bn">2015款 230TSI  手动风尚版</p>
                                <p class="pub-2-pr">活动价<span>12.59</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：14.59万</p>
                                    <p class="fl">已有<span>6</span>人购买</p>
                                </div>
                                <p class="buynow volkswagenco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省2.8万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/volkswagenc.jpg">
                                <p class="pub-2-bn">2016款 300TSI  自动双驱豪华版</p>
                                <p class="pub-2-pr">活动价<span>23.18</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：25.98万</p>
                                    <p class="fl">已有<span>8</span>人购买</p>
                                </div>
                                <p class="buynow volkswagenco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省3.8万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/volkswagend.jpg">
                                <p class="pub-2-bn">2016款 300TSI 自动四驱豪华版</p>
                                <p class="pub-2-pr">活动价<span>23.88</span>万</p>
                                <div class="pub-2-op  volkswagen-rob clearfix">
                                    <p class="fl">原价：27.68万</p>
                                    <p class="fl">已有<span>8</span>人购买</p>
                                </div>
                                <p class="buynow volkswagenco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省2.5万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/volkswagene.jpg">
                                <p class="pub-2-bn">2016款 280TSI DSG尊容版</p>
                                <p class="pub-2-pr">活动价<span>18.69</span>万</p>
                                <div class="pub-2-op  volkswagen-rob clearfix">
                                    <p class="fl">原价：21.19万</p>
                                    <p class="fl">已有<span>9</span>人购买</p>
                                </div>
                                <p class="buynow volkswagenco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省2.5万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/volkswagenf.jpg">
                                <p class="pub-2-bn">2015款 1.6L 自动风尚版</p>
                                <p class="pub-2-pr">活动价<span>9.69</span>万</p>
                                <div class="pub-2-op  volkswagen-rob clearfix">
                                    <p class="fl">原价：12.19万</p>
                                    <p class="fl">已有<span>7</span>人购买</p>
                                </div>
                                <p class="buynow volkswagenco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省1.4万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/volkswageng.jpg">
                                <p class="pub-2-bn">2016款 280TSI DSG运动版</p>
                                <p class="pub-2-pr">活动价<span>14.19</span>万</p>
                                <div class="pub-2-op  volkswagen-rob clearfix">
                                    <p class="fl">原价：15.59万</p>
                                    <p class="fl">已有<span>12</span>人购买</p>
                                </div>
                                <p class="buynow volkswagenco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省2.0万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/volkswagenh.jpg">
                                <p class="pub-2-bn">2015款 1.6L 手动风尚型</p>
                                <p class="pub-2-pr">活动价<span>7.69</span>万</p>
                                <div class="pub-2-op  volkswagen-rob clearfix">
                                    <p class="fl">原价：9.69万</p>
                                    <p class="fl">已有<span>13</span>人购买</p>
                                </div>
                                <p class="buynow volkswagenco"><a href="#">立即抢购</a></p>
                            </div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="public chevrolet">
            <div class="public-box">
                <div class="pub-name ">
                    <div class="pub-1  clearfix">
                        <div class="save">省3.8万
                            <div class="triangle"></div></div>
                        <div class="pub-1-left fl">
                            <img src="{$Think.const.IMG_URL}Subject/818/images/chevrolet.jpg">
                        </div>
                        <div class="pub-1-right fl">
                            <h2>雪弗兰 迈锐宝</h2>
                            <p class="carname chevrolet-name">2016款 2.0L 自动豪华版</p>

                            <div class="details">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/chevrolet1.jpg">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/chevrolet2.jpg">
                                <img src="{$Think.const.IMG_URL}Subject/818/images/chevrolet3.jpg">
                            </div>

                            <div class="details-name clearfix">
                                <p class="fl">内饰</p>
                                <p class="fl">空间</p>
                                <p class="fl">细节</p>
                            </div>

                            <div class="lowp clearfix">
                                <p class="lowp-1 fl"><i class="buy-icon fl"></i>购车惠最低价</p>
                                <p class="lowp-2 fl">已有<span>11</span>人购买</p>
                            </div>

                            <div class="buyrob chevrolet-rob clearfix">
                                <p class="rob-1 fl">活动价：<span>14.19</span>万</p>
                                <p class="rob-2 fl">原价：17.99万</p>
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>

                    <div class="pub-2">
                        <ul>
                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省1.9万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/chevroleta.jpg">
                                <p class="pub-2-bn volkswagen-name">2016款 1.5T 双离合锐享版</p>
                                <p class="pub-2-pr">活动价<span>16.09</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：17.99万</p>
                                    <p class="fl">已有<span>9</span>人购买</p>
                                </div>
                                <p class="buynow chevroletco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省3.9万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/chevroletb.jpg">
                                <p class="pub-2-bn">2016款 1.6T 自动舒适版</p>
                                <p class="pub-2-pr">活动价<span>13.59</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：17.49万</p>
                                    <p class="fl">已有<span>8</span>人购买</p>
                                </div>
                                <p class="buynow chevroletco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省1.15万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/chevroletc.jpg">
                                <p class="pub-2-bn">2016款 1.5L  自动畅行版</p>
                                <p class="pub-2-pr">活动价<span>367.14</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：8.29万</p>
                                    <p class="fl">已有<span>12</span>人购买</p>
                                </div>
                                <p class="buynow chevroletco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省2.0万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/chevroletd.jpg">
                                <p class="pub-2-bn">2016款 1.4T 自动双驱豪华版</p>
                                <p class="pub-2-pr">活动价<span>11.39</span>万</p>
                                <div class="pub-2-op volkswagen-rob clearfix">
                                    <p class="fl">原价：13.39万</p>
                                    <p class="fl">已有<span>8</span>人购买</p>
                                </div>
                                <p class="buynow chevroletco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省2.2万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/chevrolete.jpg">
                                <p class="pub-2-bn">2015款 2.4L 双驱城市版 7座</p>
                                <p class="pub-2-pr">活动价<span>16.49</span>万</p>
                                <div class="pub-2-op  clearfix">
                                    <p class="fl">原价：18.69万</p>
                                    <p class="fl">已有<span>9</span>人购买</p>
                                </div>
                                <p class="buynow chevroletco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省2.0万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/chevroletf.jpg">
                                <p class="pub-2-bn"> 2015款 2.4L 四驱旗舰版 7座</p>
                                <p class="pub-2-pr">活动价<span>20.79</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：22.79万</p>
                                    <p class="fl">已有<span>8</span>人购买</p>
                                </div>
                                <p class="buynow chevroletco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省7.55万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/chevroletg.jpg">
                                <p class="pub-2-bn">2015款 掀背 1.6L自动舒适版</p>
                                <p class="pub-2-pr">活动价<span>8.80</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：12.39万</p>
                                    <p class="fl">已有<span>21</span>人购买</p>
                                </div>
                                <p class="buynow chevroletco"><a href="#">立即抢购</a></p>
                            </div></li>

                            <li><div class="pub-2-sbox">
                                <div class="pub-sbox-save">省2.7万
                                    <div class="triangle"></div>
                                </div>
                                <img src="{$Think.const.IMG_URL}Subject/818/images/chevroleth.jpg">
                                <p class="pub-2-bn">2016款 1.5L 自动豪华版</p>
                                <p class="pub-2-pr">活动价<span>11.09</span>万</p>
                                <div class="pub-2-op clearfix">
                                    <p class="fl">原价：13.79万</p>
                                    <p class="fl">已有<span>21</span>人购买</p>
                                </div>
                                <p class="buynow chevroletco"><a href="#">立即抢购</a></p>
                            </div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="float-nav">
    <div class="click-to">
        <ul>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
            </li>
        </ul>
    </div>

    <div class="contact">
        <ul>
            <li>
                <a href="#"><div class="tel">400-138-0808</div></a>
            </li>
            <li>
                <a href="#"><div class="qqtalk">企业QQ交谈</div></a>
            </li>
        </ul>
    </div>

    <div class="click-top">
        <a href="#"></a>
    </div>
</div>


<div class="footer">
    <div class="like">
        <div class="like-1"></div>
        <div class="like-2"></div>
        <div class="like-3"></div>
    </div>
    <div>
        <div class="wx"></div>
        <div class="promis"></div>
    </div>
</div>
</body>
</html>