<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>低至8万8，别克带回家，六月行动，劲爆抢购——购车惠</title>
    <link rel="stylesheet" href="{$Think.const.CSS_URL}base.css"/>
    <link rel="stylesheet" href="{$Think.const.CSS_URL}style.css"/>
</head>
<body>
{~W('Cate/header')}
<div class="banner">
<!-- banner Pic -->
</div>
<div class="youhui">
    <ul class="youhui-list">
        <li>全场免询价费</li>
        <li>活动时间：6.24-7.14</li>
        <li>咨询电话：400-138-0808</li>
        <li>低：透明一口价，无附加消费</li>
        <li>免：全场免99元询价费</li>
        <li>礼：购车大礼包 最高3580元</li>
    </ul>
</div>

<!-- floor1 begin -->
<div class="car-list" id="J_f1">
    <div class="car-list-container">
        <h2>别克 · 英朗</h2>
        <dl class="hot j_carInfoWrapper" data-cpid="60b6ada35e3f81b97173d94c9ded2580" data-excolor="雪域白" data-incolor="米色" data-price="109900" data-acprice="88900" data-discount="21000">
            <dt>
                <h3>2015款 15N 手动进取型 <a target="_blank" href="#" class="btn-panic-buying s-1 j_panicBuying">&lt;&lt;立即抢购 <i class="icon-arrow"></i></a><i class="icon-tail"></i></h3>
                <div class="pic">
                    <a target="_blank" href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/f1-hot-700X330.jpg" alt="别克英朗2015款 15N 手动进取型"/></a>
                </div>
                <div class="price">
                    <p class="y-price">
                        <s>原价：￥109900</s>
                    </p>
                    <p class="a-price">活动价：<span class="s-1">￥88900</span></p>
                    <p class="buyer-num">已有 <i class="s-2 j_buyNum">10</i>人购买</p>
                </div>
            </dt>
            <dd>
                <div class="imgArea"><img src="{$Think.const.IMG_URL}Subject/f1-hot-in-233X194.jpg" alt="别克英朗2015款 15N 手动进取型内饰"/></div>
                <p>内饰</p>
            </dd>
            <dd>
                <div class="imgArea"><img src="{$Think.const.IMG_URL}Subject/f1-hot-kj-233X194.jpg" alt="别克英朗2015款 15N 手动进取型空间"/></div>
                <p>空间</p>
            </dd>
        </dl>
        <ul class="list">
            <li class="j_carInfoWrapper" data-cpid="101742754586e169b48ff78754ad1c6d" data-excolor="卡其金"  data-incolor="摩卡棕色/黑色" data-price="119900" data-acprice="98900" data-discount="21000">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f1-list1-330X175.jpg" alt="别克英朗2015款 15N 自动进取型"/>
                </a>
                <div class="des">
                    <p class="active">15N 自动进取型 <span class="fr">活动价：<em class="s">￥98900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克英朗2015款 15N 自动进取型">立即抢购</a></p>
                </div>
            </li>
            <li class="j_carInfoWrapper" data-cpid="85ce9425ee9279774a119fa8a81faef0" data-excolor="雪域白"  data-incolor="灰色" data-price="136900" data-acprice="115900" data-discount="21000">
                <a target="_blank" class="pic j_panicBuying" href="#" title="别克英朗2015款 15N 自动豪华型">
                    <img src="{$Think.const.IMG_URL}Subject/f1-list2-330X175.jpg" alt="别克英朗2015款 15N 自动豪华型"/>
                </a>
                <div class="des">
                    <p class="active">15N 自动豪华型<span class="fr">活动价：<em class="s">￥115900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克英朗2015款 15N 自动豪华型">立即抢购</a></p>
                </div>
            </li>
            <li class="j_carInfoWrapper" data-cpid="70869c7726ce91c0dce731418ed65b62" data-excolor="钢琴黑"  data-incolor="米色" data-price="159900" data-acprice="138900" data-discount="21000">
                <a target="_blank" class="pic j_panicBuying" href="#" title="别克英朗2015款 18T 双离合运动旗舰型">
                    <img src="{$Think.const.IMG_URL}Subject/f1-list3-330X175.jpg" alt="别克英朗2015款 18T 双离合运动旗舰型"/>
                </a>
                <div class="des">
                    <p class="active">18T 双离合运动旗舰型<span class="fr">活动价：<em class="s">￥138900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克英朗2015款 18T 双离合运动旗舰型">立即抢购</a></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- floor1 end -->
<!-- floor2 begin -->
<div class="car-list" id="J_f2">
    <div class="car-list-container">
        <h2>别克 · 昂科拉</h2>
        <dl class="hot j_carInfoWrapper" data-cpid="21519009066554417cd974cf455ad6df" data-excolor="雪域白" data-incolor="黑色/蓝色" data-price="139900" data-acprice="113400" data-discount="26500">
            <dt>
            <h3>2015款 1.4T 手动两驱都市进取型<a target="_blank" href="#" class="btn-panic-buying s-1 j_panicBuying">&lt;&lt;立即抢购 <i class="icon-arrow"></i></a><i class="icon-tail"></i></h3>
            <div class="pic">
                <a target="_blank" href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/f2-hot-700X330.jpg" alt="别克·昂科拉2015款 1.4T 手动两驱都市进取型"/></a>
            </div>
            <div class="price">
                <p class="y-price">
                    <s>原价：￥139900</s>
                </p>
                <p class="a-price">活动价：<span class="s-1">￥113400</span></p>
                <p class="buyer-num">已有 <i class="s-2 j_buyNum">10</i>人购买</p>
            </div>
            </dt>
            <dd>
                <div class="imgArea"><img src="{$Think.const.IMG_URL}Subject/f2-hot-in-233X194.jpg" alt="别克·昂科拉2015款 1.4T 手动两驱都市进取型内饰"/></div>
                <p>内饰</p>
            </dd>
            <dd>
                <div class="imgArea"><img src="{$Think.const.IMG_URL}Subject/f2-hot-kj-233X194.jpg" alt="别克·昂科拉2015款 1.4T 手动两驱都市进取型空间"/></div>
                <p>空间</p>
            </dd>
        </dl>
        <ul class="list">
            <li class="j_carInfoWrapper" data-cpid="0a056ea8eab868745409057290ade52d" data-excolor="电光蓝"  data-incolor="黑色/蓝色" data-price="149900" data-acprice="123400" data-discount="26500">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f2-list1-330X175.jpg" alt="别克昂科拉2015款 1.4T 自动两驱都市精英型"/>
                </a>
                <div class="des">
                    <p class="active">自动两驱都市精英型<span class="fr">活动价：<em class="s">￥123400</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克昂科拉2015款 1.4T 自动两驱都市精英型">立即抢购</a></p>
                </div>
            </li>
            <li class="j_carInfoWrapper" data-cpid="55280d9c8d3bde103768485b5c3ed9b1" data-excolor="雪域白"  data-incolor="黑色" data-price="159900" data-acprice="133400" data-discount="26500">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f2-list2-330X175.jpg" alt="别克昂科拉2015款 1.4T 手动两驱都市运动型"/>
                </a>
                <div class="des">
                    <p class="active">1.4T 手动两驱都市运动型<span class="fr">活动价：<em class="s">￥133400</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克昂科拉2015款 1.4T 手动两驱都市运动型">立即抢购</a></p>
                </div>
            </li>
            <li class="j_carInfoWrapper" data-cpid="2016c88325f4a95d9941475918093ab9" data-excolor="珊瑚橙"  data-incolor="黑色" data-price="186900" data-acprice="159900" data-discount="27000">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f2-list3-330X175.jpg" alt="别克昂科拉2015款 1.4T 自动四驱全能旗舰型"/>
                </a>
                <div class="des">
                    <p class="active">1.4T 自动四驱全能旗舰型 <span class="fr">活动价：<em class="s">￥159900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克昂科拉2015款 1.4T 自动四驱全能旗舰型">立即抢购</a></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- floor2 end -->

<!-- floor3 begin -->
<div class="car-list" id="J_f3">
    <div class="car-list-container">
        <h2>别克 · 昂科威</h2>
        <dl class="hot j_carInfoWrapper" data-cpid="6e1cc72d582ba4368c6f7fd266062f1b" data-excolor="雪域白" data-incolor="燕尾黑色" data-price="219900" data-acprice="204900" data-discount="15000">
            <dt>
            <h3>2015款 20T 两驱领先型<a target="_blank" href="#" class="btn-panic-buying s-1 j_panicBuying">&lt;&lt;立即抢购 <i class="icon-arrow"></i></a><i class="icon-tail"></i></h3>
            <div class="pic">
                <a target="_blank" href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/f3-hot-700X330.jpg" alt="别克·昂科威 2015款 20T 两驱领先型"/></a>
            </div>
            <div class="price">
                <p class="y-price">
                    <s>原价：￥219900</s>
                </p>
                <p class="a-price">活动价：<span class="s-1">￥204900</span></p>
                <p class="buyer-num">已有 <i class="s-2 j_buyNum">10</i>人购买</p>
            </div>
            </dt>
            <dd>
                <div class="imgArea"><img src="{$Think.const.IMG_URL}Subject/f3-hot-in-233X194.jpg" alt="别克·昂科威 2015款 20T 两驱领先型内饰"/></div>
                <p>内饰</p>
            </dd>
            <dd>
                <div class="imgArea"><img src="{$Think.const.IMG_URL}Subject/f3-hot-kj-233X194.jpg" alt="别克·昂科威 2015款 20T 两驱领先型空间"/></div>
                <p>空间</p>
            </dd>
        </dl>
        <ul class="list">
            <li class="j_carInfoWrapper" data-cpid="157b3289e45e88313c654bd25cfeaba8" data-excolor="雪域白"  data-incolor="深酒红色/黑色" data-price="235900" data-acprice="220900" data-discount="15000">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f3-list1-330X175.jpg" alt="别克·昂科威 2016款 20T 两驱精英型"/>
                </a>
                <div class="des">
                    <p class="active">20T 两驱精英型<span class="fr">活动价：<em class="s">￥220900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克·昂科威 2016款 20T 两驱精英型">立即抢购</a></p>
                </div>
            </li>
            <li class="j_carInfoWrapper" data-cpid="1973d5a5c15713311398105f30a7dd02" data-excolor="托帕石棕"  data-incolor="深酒红色/黑色" data-price="259900" data-acprice="244900" data-discount="15000">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f3-list2-330X175.jpg" alt="别克·昂科威 2016款 20T 四驱豪华型"/>
                </a>
                <div class="des">
                    <p class="active">20T 四驱豪华型 <span class="fr">活动价：<em class="s">￥244900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克·昂科威 2016款 20T 四驱豪华型">立即抢购</a></p>
                </div>
            </li>
            <li class="j_carInfoWrapper" data-cpid="9c47470c53f99540e6805af053a7cb12" data-excolor="星空紫"  data-incolor="深酒红色/黑色" data-price="299900" data-acprice="284900" data-discount="15000">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f3-list3-330X175.jpg" alt="别克·昂科威 2016款 28T 四驱豪华型"/>
                </a>
                <div class="des">
                    <p class="active">28T 四驱豪华型<span class="fr">活动价：<em class="s">￥284900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克·昂科威 2016款 28T 四驱豪华型">立即抢购</a></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- floor3 end -->

<!-- floor4 begin -->
<div class="car-list"  id="J_f4">
    <div class="car-list-container">
        <h2>别克 · 君威</h2>
        <dl class="hot j_carInfoWrapper" data-cpid="4d1f96a6ceac0fb7bb076158d76cb9da" data-excolor="恒金" data-incolor="黑色/米色" data-price="178900" data-acprice="144900" data-discount="34000">
            <dt>
            <h3>2015款 2.0L 领先时尚型<a target="_blank" href="#" class="btn-panic-buying s-1 j_panicBuying">&lt;&lt;立即抢购 <i class="icon-arrow"></i></a><i class="icon-tail"></i></h3>
            <div class="pic">
                <a target="_blank" href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/f4-hot-700X330.jpg" alt="别克·君威 2015款 2.0L 领先时尚型"/></a>
            </div>
            <div class="price">
                <p class="y-price">
                    <s>原价：￥178900</s>
                </p>
                <p class="a-price">活动价：<span class="s-1">￥144900</span></p>
                <p class="buyer-num">已有 <i class="s-2 j_buyNum">10</i>人购买</p>
            </div>
            </dt>
            <dd>
                <div class="imgArea"><img src="{$Think.const.IMG_URL}Subject/f4-hot-in-233X194.jpg" alt="别克·君威 2015款 2.0L 领先时尚型内饰"/></div>
                <p>内饰</p>
            </dd>
            <dd>
                <div class="imgArea"><img src="{$Think.const.IMG_URL}Subject/f4-hot-kj-233X194.jpg" alt="别克·君威 2015款 2.0L 领先时尚型空间"/></div>
                <p>空间</p>
            </dd>
        </dl>
        <ul class="list">
            <li class="j_carInfoWrapper" data-cpid="01669701ad09a2dfb1b34598d63387b3" data-excolor="霓虹"  data-incolor="黑色/米色" data-price="193900" data-acprice="159900" data-discount="34000">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f4-list1-330X175.jpg" alt="别克·君威 2015款 2.0L 精英时尚型"/>
                </a>
                <div class="des">
                    <p class="active">2.0L 精英时尚型<span class="fr">活动价：<em class="s">￥159900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克·君威 2015款 2.0L 精英时尚型">立即抢购</a></p>
                </div>
            </li>
            <li class="j_carInfoWrapper" data-cpid="07019bf70ba75cb9e62eb5cb78fc5a7f" data-excolor="炫灰"  data-incolor="黑色" data-price="199900" data-acprice="165900" data-discount="34000">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f4-list2-330X175.jpg" alt="别克·君威 2015款 1.6T 时尚技术型"/>
                </a>
                <div class="des">
                    <p class="active">1.6T 时尚技术型<span class="fr">活动价：<em class="s">￥165900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克·君威 2015款 1.6T 时尚技术型">立即抢购</a></p>
                </div>
            </li>
            <li class="j_carInfoWrapper" data-cpid="b983ae8ac5adcf8d9757faf63081d660" data-excolor="幻白"  data-incolor="黑色/米色" data-price="279900" data-acprice="245900" data-discount="34000">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f4-list3-330X175.jpg" alt="别克·君威 2015款 2.0T GS纵情运动版"/>
                </a>
                <div class="des">
                    <p class="active">2.0T GS纵情运动版<span class="fr">活动价：<em class="s">￥245900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克·君威 2015款 2.0T GS纵情运动版">立即抢购</a></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- floor4 end -->


<!-- floor5 begin -->
<div class="car-list"  id="J_f5">
    <div class="car-list-container">
        <h2>别克 · 威朗</h2>
        <dl class="hot j_carInfoWrapper" data-cpid="72b9ddc9d6c07e195d2f25952e946469" data-excolor="云母蓝" data-incolor="黑色" data-price="135900" data-acprice="114900" data-discount="21000">
            <dt>
            <h3>2015款 15S 手动进取型<a target="_blank" href="#" class="btn-panic-buying s-1 j_panicBuying">&lt;&lt;立即抢购 <i class="icon-arrow"></i></a><i class="icon-tail"></i></h3>
            <div class="pic">
                <a target="_blank" href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/f5-hot-700X330.jpg" alt="别克·威朗 2015款 15S 手动进取型"/></a>
            </div>
            <div class="price">
                <p class="y-price">
                    <s>原价：￥135900</s>
                </p>
                <p class="a-price">活动价：<span class="s-1">￥114900</span></p>
                <p class="buyer-num">已有 <i class="s-2 j_buyNum">10</i>人购买</p>
            </div>
            </dt>
            <dd>
                <div class="imgArea"><img src="{$Think.const.IMG_URL}Subject/f5-hot-in-233X194.jpg" alt="别克·威朗 2015款 15S 手动进取型内饰"/></div>
                <p>内饰</p>
            </dd>
            <dd>
                <div class="imgArea"><img src="{$Think.const.IMG_URL}Subject/f5-hot-kj-233X194.jpg" alt="别克·威朗 2015款 15S 手动进取型空间"/></div>
                <p>空间</p>
            </dd>
        </dl>
        <ul class="list">
            <li class="j_carInfoWrapper" data-cpid="28b64c4b6b6ff29893a15f6f981e0380" data-excolor="玛瑙红"  data-incolor="黑色/棕色" data-price="154900" data-acprice="133900" data-discount="21000">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f5-list1-330X175.jpg" alt="别克·威朗 2015款 15S 自动领先型"/>
                </a>
                <div class="des">
                    <p class="active">15S 自动领先型<span class="fr">活动价：<em class="s">￥133900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克·威朗 2015款 15S 自动领先型">立即抢购</a></p>
                </div>
            </li>
            <li class="j_carInfoWrapper" data-cpid="43e9d1ce5e18136ad186c59962e4ac90" data-excolor="雪域白"  data-incolor="黑色/米色" data-price="172900" data-acprice="151900" data-discount="21000">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f5-list2-330X175.jpg" alt="别克·威朗 2015款 20T 双离合精英型"/>
                </a>
                <div class="des">
                    <p class="active">20T 双离合精英型<span class="fr">活动价：<em class="s">￥165900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">28</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克·威朗 2015款 20T 双离合精英型">立即抢购</a></p>
                </div>
            </li>
            <li class="j_carInfoWrapper" data-cpid="7bc16daca88c804e9175a8be261cff19" data-excolor="珍珠黑"  data-incolor="黑色" data-price="185900" data-acprice="164900" data-discount="21000">
                <a target="_blank" class="pic j_panicBuying" href="#">
                    <img src="{$Think.const.IMG_URL}Subject/f5-list3-330X175.jpg" alt="别克·威朗 2015款 20T 双离合豪华型"/>
                </a>
                <div class="des">
                    <p class="active">20T 双离合豪华型<span class="fr">活动价：<em class="s">￥164900</em></span></p>
                    <p class="buy">已有<span class="s j_buyNum">18</span>人购买 <a target="_blank" class="fr btn j_panicBuying" href="#" title="立即抢购::别克·威朗 20T 双离合豪华型">立即抢购</a></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- floor5 end -->

<div class="process">
    <p>6月底价促销，抢完即止，下单送“超值大礼包”（最高3580元）</p>
</div>
<div class="my-car">
    <div class="my-car-container"  id="J_carSelector">
        <div class="sel-box">
            <select  data-required="false" data-first-title="请选择品牌" data-first-value="" data-url="/index.php/subject/brand" name="brand" id="" class="brand uc_inp190 uc_inpBorder Skin_txt3">
            </select>

            <select  data-required="false" data-first-title="请选择车型" data-url="/index.php/subject/car_model" data-first-value="" name="model" id="" class="model uc_inp190 uc_inpBorder Skin_txt3">
            </select>

            <select  data-required="false" data-first-title="请选择车款" data-url="/index.php/subject/car" data-first-value="" name="car" id="" class="car uc_inp190 uc_inpBorder Skin_txt3">
            </select>

        </div>
        <div class="bd">
            <a target="_blank" href="#" class="add-car-btn">发起我要的特价车</a>
        </div>
    </div>
</div>
<div class="zt-erweima j_erweima">
    <h2>购车惠微信公众号：更多降价车款等着你！</h2>
</div>

<div class="pop_fixed" style="display: none;">
    <a target="_blank" href="f1" class="j_pos">别克·英   朗</a><a target="_blank" href="f2" class="j_pos">别克·昂科拉</a><a target="_blank" href="f3" class="j_pos">别克·昂科威</a><a target="_blank" href="f4" class="j_pos">别克·君   威</a><a target="_blank" href="f5" class="j_pos">别克·威   朗</a><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2853051951&site=qq&menu=yes">在线客服</a><a target="_blank" href="">客服电话 <p class="tel">400-138-0808</p></a><a target="_blank"
        href="/index.php/guide/feedback">意见反馈</a><a target="_blank" class="j_goTop go-top" href=""></a>
</div>
<div class="more-activity">
    <div class="more-activity-container">
        <h2>更多专题</h2>
        <div class="bd">
            <a href="http://www.gouchehui.com/index.php/subject/slogan" target="_blank"><img src="http://www.gouchehui.com/Public/Home/images/Subject/adv_slo_1200X80.jpg" alt="口号征集，3800元奖金抱回家"></a>
        </div>
    </div>
</div>
<div class="footwrap">
    <div class="foot">
        <div class="logobox">
            <img src="{$Think.const.IMG_URL}logo_foot.png" alt="购车惠">
        </div>
        <div class="list">
            <dl>
                <dt>关于我们</dt>
                <dd><a target="_blank" href="{:U('Guide/introduce')}">关于购车惠</a></dd>
            </dl>
            <dl>
                <dt>联系我们</dt>
                <dd><a target="_blank" href="{:U('Guide/contact')}">客服电话</a></dd>
                <dd><a target="_blank" href="{:U('Guide/contact')}">商务合作</a></dd>
                <dd><a target="_blank" href="{:U('Guide/contact')}">联系电话</a></dd>
            </dl>
        </div>
        <div class="erweima">
            <div class="imgbox">
                <img class="erweima" src="{$Think.const.IMG_URL}wechat_servse.png" alt="微信公众号">
                <span>微信公众号</span>
            </div>
            <div class="imgbox">
                <img class="erweima" src="{$Think.const.IMG_URL}app_down.png" alt="微信公众号">
                <span>App下载</span>
            </div>
        </div>
    </div>
    <div class="copyright_info_wrap">
        <div class="copyright_info">
            <p>CopyRight @2015 - 2016 gouchehui.com All rights reserved 版权所有南京易橙汇网络科技有限公司</p>
            <p> Powered By Jiangsu ERUN备案号:苏ICP备13031090号-3</p>
        </div>
        <div style="display:none">
            <script src="http://s95.cnzz.com/z_stat.php?id=1258873107&web_id=1258873107" language="JavaScript"></script>
        </div>
    </div>

<script src="http://www.gouchehui.com/Public/Home/js/jquery-1.8.1.min.js"></script>
<script src="http://www.gouchehui.com/Public/Home/js/app.js"></script>
<script src="http://www.gouchehui.com/Public/Home/js/app/jquery.cxselect.js"></script>
<script>
    $(function(){
        tool && tool.browser && tool.browser.browserRedirect("http://www.gouchehui.com/index.php/subject/bieke", "http://weixin.gouchehui.com/activity/bieKe/activity.jsp");
        //随机数 函数
        function GetRandomNum(Min,Max)
        {
            var Range = Max - Min;
            var Rand = Math.random();
            return(Min + Math.round(Rand * Range));
        }

        $.each($('.j_buyNum'), function(i, o){
            $(o).html(GetRandomNum(1, 60));
        });

        $('.add-car-btn').on('click', function(e){
            event.stopPropagation();
            event.preventDefault();

            if (!$.G.getUSERID()) {
                HUI.PopOut.login();
                return false;
            }
            var $form = $(this).closest('#J_carSelector');
            $.ajax({
                type: "POST",
                url: "/index.php/subject/carplan_add",
                dataType: "json",
                data: {car_id: $form.find("[name=car]").val(), province_id:10, city_id:74, buy_time: '1个月内'},
                success:function(data){
                    if(data.status == 2){
                        HUI && (HUI.PopOut.alert('<div class="prompt prompt-suc"><h3>'+ data.msg +'</h3></div>'), $({}).delay(2e3).queue(function(){HUI.PopOut.closeMask()}));
                    }else if(data.status == 1){
                        HUI && (HUI.PopOut.alert('<div class="prompt prompt-fail"><h3>'+ data.msg +'</h3></div>'), $({}).delay(2e3).queue(function(){HUI.PopOut.closeMask()}));
                    }
                }
            });
        });
		$('.j_pos').on('click', function(event){
			event.preventDefault();
			event.stopPropagation();
			var $this = $(this),
				_href = $this.attr('href'),
				$box = $('#J_' + _href),
				_top = $box.offset().top;
				$('html, body').animate({
					scrollTop: _top
				}, 500);
		});

        $(window).scroll(function(){
            if($(window).scrollTop() > 700 && $(window).scrollTop() < ($('.j_erweima').offset().top - 480)){
                $(".pop_fixed").show();
            } else{
                $(".pop_fixed").hide();
            };
        });
        $('.j_goTop').on('click', function(e){
            e.preventDefault();
            e.stopPropagation();
            $('body, html').animate({ scrollTop: 0 }, 500);
            $(".pop_fixed").hide();
        });
        $('.j_panicBuying').on('click', function(event) {
            var $this = $(this),
                    $carInfoWrapper = $this.closest('.j_carInfoWrapper'),
                    _valNumber = $carInfoWrapper.data('acprice'),
                    sourceDb = {};

            event.stopPropagation();
            event.preventDefault();

            sourceDb.car_price_id = $carInfoWrapper.data('cpid');
            $.ajax({
                url: qianzui + "/subject/activesLog",
                data: {cpid: $carInfoWrapper.data('cpid')},
                success: function(db) {
                    if(db.status != 1) {
                        HUI && (HUI.PopOut.alert('<div class="prompt prompt-fail"><h3>'+ db.info +'</h3></div>'), $({}).delay(2e3).queue(function(){HUI.PopOut.closeMask()}));
                    }

                    if (!$.G.getUSERID()) {
                        HUI.PopOut.login();
                        return false;
                    }

                    $.ajax({
                        url: qianzui + "/car/ajax_activity_order",
                        data: sourceDb,
                        success: function(db) {
                            if(db.status == 1 && db.next) {
                                window.location.href = db.next;
                            }else{
                                HUI && (HUI.PopOut.alert('<div class="prompt prompt-fail"><h3>'+ db.info +'</h3></div>'), $({}).delay(2e3).queue(function(){HUI.PopOut.closeMask()}));
                            }
                        },
                        error: function() {
                            this.errormsg()
                        }
                    });
                },
                error: function() {
                    this.errormsg()
                }
            });
        });
    });

    $('#J_carSelector').cxSelect({
        selects: ['brand', 'model', 'car'],
        jsonName: 'name',
        jsonValue: 'value'
    });
</script>
</body>
</html>