<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>922别克英朗专题活动 —— 购车惠</title>
    <link rel="stylesheet" href="{$Think.const.CSS_URL}base.css"/>
    <link rel="stylesheet" href="{$Think.const.IMG_URL}Subject/bieke/css/hideo.css"/>
</head>
<body>
{~W('Cate/header')}
     <div class="content">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_1.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_2.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_3.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_4.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_5.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_6.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_7.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_8.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_9.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_10.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_11.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_12.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_13.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_14.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_15.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_16.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_17.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_18.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_19.jpg">
         <img src="{$Think.const.IMG_URL}Subject/bieke/images/dream_20.jpg">
     </div>
<div class="sign-up-box">
    <div class="name">
        <input type="text" value="" placeholder="您的姓名" name="name" class="pname" />
    </div>

    <div class="tel-box">
        <input type="text" placeholder="您的电话" class="tel" name="tel"/>

        <button class="send-code-btn">发送验证码</button>
        <input type="text" placeholder="输入动态码" class="enter-codes" name="codes"/>
    </div>

    <div class="choice">
    <form action="" method="post" >
        <select name="type" class="type">
            <option value="" selected="selected" class="buycar">购买车款</option>
            <option value="5abc1fcfe41d0773c95dda57a186c818" data-txt="别克英朗·2016款 15N 手动进取型">别克英朗·2016款 15N 手动进取型</option>
            <option value="a963abcb2cdbaaf340106bad51dd58c9" data-txt="别克英朗·2016款 15N 自动进取型">别克英朗·2016款 15N 自动进取型</option>
            <option value="cc468e07c2465a5926410524a04704bf" data-txt="别克英朗·2016款 15N 手动精英型">别克英朗·2016款 15N 手动精英型</option>
            <option value="05c8aed9aae9007bc8f7d7a1636be03f" data-txt="别克英朗·2016款 15N 自动精英型">别克英朗·2016款 15N 自动精英型</option>
            <option value="4dd7beb4e42397d61b73908103cb62f9" data-txt="别克英朗·2016款 15N 手动豪华型">别克英朗·2016款 15N 手动豪华型</option>
            <option value="af0e1b2451ffc2ba959a213e5004d0ad" data-txt="别克英朗·2016款 15N 自动豪华型">别克英朗·2016款 15N 自动豪华型</option>
        </select>
    </form>
    </div>

    <p ><a href="#" class="j_buyNow" ></a></p>

    <p class="tips">参与报名我们会第一时间与您联系，为您讲解活动细则。</p>
</div>
<div class="footerWrap">
    <div class="footerTop">
        <div class="footer-list G_fl">
            <dl>
                <dt>订单服务</dt>
                <dd><a href="{:U('Guide/process')}" title="购车指南">购车指南</a></dd>
                <dd><a href="{:U('Guide/problem_price')}" title="常见问题">常见问题</a></dd>
                <dd><a href="{:U('Guide/notice')}" title="购车需知">购车需知</a></dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd><a href="{:U('Guide/introduce')}" title="公司简介">公司简介</a></dd>
                <dd><a href="{:U('Guide/feedback')}" title="在线反馈">在线反馈</a></dd>
                <dd><a href="{:U('Guide/concern')}" title="关注我们">关注我们</a></dd>
            </dl>
            <dl>
                <dt>关注我们</dt>
                <dd><a href="{:U('Guide/contact')}" title="客服电话">客服电话</a></dd>
                <dd><a href="{:U('Guide/contact')}" title="商务合作">商务合作</a></dd>
                <dd><a href="{:U('Guide/contact')}" title="联系邮箱">联系邮箱</a></dd>
            </dl>
        </div>
        <div class="footer-ewm G_fl">
            <ul>
                <li>
                    <img src="{$Think.const.IMG_URL}wechat_servse.png"/>
                    <span>微信服务号</span>
                </li>
                <li>
                    <img src="{$Think.const.IMG_URL}app_down.png"/>
                    <span>app下载</span>
                </li>
            </ul>
        </div>
        <div class="footer-tel G_fr">
            <p class="p1">400-138-0808</p>
            <p>周一至周五  （节假日除外）</p>
            <p>9:00-17:30（仅收市话费）</p>
        </div>
    </div>
    <div class="footerBot">
        <p>CopyRight @2015-2016 gouchehui.com All rights reserved 版权所有南京易橙汇网络科技有限公司</p>
        <p>备案号:苏ICP备13031090号-3</p>
        <!--<div class="footerBot-pic">
            <img src="{$Think.const.IMG_URL}footerBot_01.png"/>
            <img src="{$Think.const.IMG_URL}footerBot_02.png"/>
        </div>-->
    </div>
    <div style="display:none">
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?d54eca841141d8a4565de0cc62ccdb42";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8ee160ab7cf066c5b5eadcdb24bb415a' type='text/javascript'%3E%3C/script%3E")); </script>
        <script src="http://s95.cnzz.com/z_stat.php?id=1258873107&web_id=1258873107" language="JavaScript"></script>
    </div>
</div>
<div style="display:none">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?d54eca841141d8a4565de0cc62ccdb42";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8ee160ab7cf066c5b5eadcdb24bb415a' type='text/javascript'%3E%3C/script%3E")); </script>
    <script src="http://s95.cnzz.com/z_stat.php?id=1258873107&web_id=1258873107" language="JavaScript"></script>
</div>
<script src="{$Think.const.JS_URL}jquery-1.8.1.min.js"></script>
<script src="{$Think.const.JS_URL}app.js"></script>
<script src="{$Think.const.JS_URL}layer.js"></script>

     <script>
         $(function() {

             var md5Code;
             USER && USER.tel && ($('input[name=tel]').val(USER.tel), $('input[name=tel]').attr('disabled', 'true'));
             function baoming(e) {
                 e.stopPropagation();
                 e.preventDefault();

                 var personName = $('input[name=name]').val();
                 if (personName == "" || !/^[\u4e00-\u9fa5]+$/.test(personName)) {
                     layer.tips('姓名填写失败', '.pname', {
                         tips: [1, '#0FA6D8']
                     });
                     return false;
                 }
                 var telName = $('input[name=tel]').val();
                 if (telName == "" || !/^[0-9]*$/.test(telName)) {
                     layer.tips('手机号填写失败', '.tel', {
                         tips: [1, '#0FA6D8']
                     });
                     return false;
                 }
                 var enterCodes = $('input[name=codes]').val();
                 if (enterCodes == "" || !/^[0-9]*$/.test(enterCodes)) {
                     layer.tips('验证码填写失败', '.enter-codes', {
                         tips: [1, '#0FA6D8']
                     });
                     return false;
                 }
                 var typeChoice = $('select[name=type]').val(),
                         typeChoiceTxt = $('select[name=type]').find("option:selected").data('txt');
                 if (typeChoice == "") {
                     layer.tips('请选择想购买的车款', '.type', {
                         tips: [1, '#0FA6D8']
                     });
                     return false;
                 }
                 $('.j_buyNow').off();
                 $.ajax({
                     type: "POST",
                     url: "/index.php/Subject/activity_bieke",
                     data: {
                         md5code: md5Code,
                         code: enterCodes,
                         tel: telName,
                         user_name:personName,
                         brand_id: 66,
                         brand_name: '别克',
                         car_model_id: 696,
                         car_model_name: '英朗',
                         car_id: typeChoice,
                         car_name: typeChoiceTxt,
                         activity_name: 'biekeyinglang',
                         source: 1,
                         flag: 2,
                         activity_number: 'biekeyinglang'
                     },
                     success: function (data) {
                         if(data.status === 1){
                             layer.msg(data.msg);

                             setTimeout(function(){
                                 window.location.reload();
                             }, 5000);
                         }else if (data.code == 205405) {
                             layer.msg("号码异常/同一号码发送次数过于频繁");
                             $('.j_buyNow').on('click', baoming);
                         }else{
                             layer.msg(data.msg);
                             $('.j_buyNow').on('click', baoming);
                         }
                     }
                 });

             }

             $('.j_buyNow').on('click', baoming);
             function intervalTime(num) {
                 var num = parseInt(num);
                 var i = 0;

                 $('.send-code-btn').addClass("G_btn_disabled");
                 $('.send-code-btn').html("<span></span>秒重新发送");
                 $(".send-code-btn span").text(num);
                 var inter = setInterval(function() {
                     if (i < num) {
                         i++;
                         $('.send-code-btn span').text(num - i);
                     } else {
                         clearInterval(inter);
                         $('.send-code-btn').removeClass("G_btn_disabled");
                         $('.send-code-btn').html("重新发送").on("click", sendCode);
                     }
                 }, 1000);
             }

             function sendCode(e) {
                 e.stopPropagation();
                 e.preventDefault();
                 var telVal = $('input[name=tel]').val();
                 console.log($('input[name=tel]'));
                 if (telVal == '') {
                     layer.tips('手机号不能为空', '.tel', {
                         tips: [1, '#0FA6D8'] //还可配置颜色
                     });
                     //layer.msg("手机号不能为空！");
                     return false;
                 }

                 var postData = {
                     mobile: telVal,
                     tpl_id: 5774
                 }
                 $.ajax({
                     type: "POST",
                     url: "/index.php/Api/sendMessages",
                     data: postData,
                     success: function (data) {
                         if (data.code == 0) {
                             md5Code = data.md5code;
                             $('.send-code-btn').off();
                             intervalTime(60);
                         } else if (data.code == 205405) {
                             layer.msg("号码异常/同一号码发送次数过于频繁");
                         } else if (data.code == 1) {
                             layer.msg(data.msg);
                         }
                     }
                 });

             }

             $('.send-code-btn').on("click", sendCode);
         });
     </script>
</body>
</html>