<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1元上牌活动</title>
    <link rel="stylesheet" href="{$Think.const.CSS_URL}base.css"/>
    <link rel="stylesheet" href="{$Think.const.IMG_URL}Subject/lichefang/css/lichefang.css"/>
    <script type="text/javascript">
        var USER = {};
        USER.tel= '{$userinfo.tel}';
        USER.ID = '{$userinfo.id}';
        USER.nick = '{$userinfo.nick}';
        USER.face = '{$userinfo.head_url}';
    </script>
</head>
<body>
<div class="banner">
    <div class="banner_1"></div>
    <div class="banner_2"></div>
    <div class="banner_3"></div>
    <div class="banner_4"></div>
</div>
<div class="wrap">
    <div class="bk-box th-box J_carListBox" id="J_f1" data-txt="BKZC1">
        <div class="bieke th-car-box">
            <ul class="carbox">
                <li class="th-box  j_carBox">
                    <i class="tip"></i>
                    <p class="carname">别克·威朗</p>
                    <div class="car-body clearfix">
                        <div class="left bk-1 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">别克·昂科威</p>
                    <div class="car-body clearfix">
                        <div class="left bk-2 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">别克·君越</p>
                    <div class="car-body clearfix">
                        <div class="left bk-3 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">别克·英朗</p>
                    <div class="car-body clearfix">
                        <div class="left bk-4 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


    </div>

    <div class="dz-box th-box J_carListBox" id="J_f2" data-txt="DZZC1">
        <div class="dazhong th-car-box">
            <ul class="carbox">
                <li class="th-box  j_carBox">
                    <i class="tip"></i>
                    <p class="carname">大众·帕萨特</p>
                    <div class="car-body clearfix">
                        <div class="left bk-1 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">大众·凌渡</p>
                    <div class="car-body clearfix">
                        <div class="left bk-2 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">大众·POLO</p>
                    <div class="car-body clearfix">
                        <div class="left bk-3 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">大众·途观</p>
                    <div class="car-body clearfix">
                        <div class="left bk-4 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="xd-box th-box J_carListBox" id="J_f3" data-txt="XDZC1">
        <div class="xiandai th-car-box">
            <ul class="carbox">
                <li class="th-box  j_carBox">
                    <i class="tip"></i>
                    <p class="carname">现代·名图</p>
                    <div class="car-body clearfix">
                        <div class="left bk-1 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">现代·领动</p>
                    <div class="car-body clearfix">
                        <div class="left bk-2 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">现代·朗动</p>
                    <div class="car-body clearfix">
                        <div class="left bk-3 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">现代·IX25</p>
                    <div class="car-body clearfix">
                        <div class="left bk-4 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="xfl-box th-box J_carListBox" id="J_f4" data-txt="XFLZC1">
        <div class="xuefulan th-car-box">
            <ul class="carbox">
                <li class="th-box  j_carBox">
                    <i class="tip"></i>
                    <p class="carname">雪弗兰·迈锐宝</p>
                    <div class="car-body clearfix">
                        <div class="left bk-1 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">雪弗兰·科鲁兹</p>
                    <div class="car-body clearfix">
                        <div class="left bk-2 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="rc-box th-box J_carListBox" id="J_f5" data-txt="RCZC1">
        <div class="richan th-car-box">
            <ul class="carbox">
                <li class="th-box  j_carBox">
                    <i class="tip"></i>
                    <p class="carname">日产·骐达</p>
                    <div class="car-body clearfix">
                        <div class="left bk-1 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">日产·奇骏</p>
                    <div class="car-body clearfix">
                        <div class="left bk-2 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">日产·阳光</p>
                    <div class="car-body clearfix">
                        <div class="left bk-3 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box j_carBox">
                    <i class="tip"></i>
                    <p class="carname">日产·轩逸</p>
                    <div class="car-body clearfix">
                        <div class="left bk-4 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="th-box  j_carBox">
                    <i class="tip"></i>
                    <p class="carname">日产·天籁</p>
                    <div class="car-body clearfix">
                        <div class="left bk-5 G_fl"></div>
                        <div class="right G_fl">
                            <div class="ten"></div>
                            <div class="buy-now"><a href="#"class="j_buyNow">已抢完</a></div>
                        </div>
                    </div>
                </li>

                <li class="time-buy"></li>
            </ul>
        </div>
    </div>
</div>

<div class="float-box">
    <ul>
        <li><a href="f1" class="a1 j_pos"></a></li>
        <li><a href="f2" class="a2 j_pos"></a></li>
        <li><a href="f3" class="a3 j_pos"></a></li>
        <li><a href="f4" class="a4 j_pos"></a></li>
        <li><a href="f5" class="a5 j_pos"></a></li>
        <li class="more"><a href="#" ></a></li>
        <li class="more-spec"><a href="#" class="j_goTop"></a></li>
    </ul>
</div>

<div class="tel-box"></div>

<div class="introduce">
    <div class="introduce1"></div>
    <div class="introduce2"></div>
    <div class="introduce3"></div>
    <div class="introduce4"></div>
</div>

<div class="footer">
    <div class="like">
        <div class="likemes" id="J_carSelector">
            <div class="carbrand">
                <select  data-required="false" data-first-title="请选择品牌" data-first-value="" data-url="/index.php/subject/brand" name="brand" id="" class="brand"></select>
            </div>
            <div class="carmodel">
                <select  data-required="false" data-first-title="请选择车型" data-url="/index.php/subject/car_model" data-first-value="" name="model" id="" class="model"></select></div>
            <div class="carstyle">
                <select  data-required="false" data-first-title="请选择车款" data-url="/index.php/subject/car" data-first-value="" name="car" id="" class="car sel-last"></select></div>
        </div>
        <div class="click-on">
            <a href="#" class="add-car-btn">发起我想要的车</a>
        </div>
    </div>
</div>


<script src="/Public/Home/js/jquery-1.8.1.min.js"></script>
<script src="/Public/Home/js/app.js"></script>
<script src="/Public/Home/js/layer.js"></script>
<script src="/Public/Home/js/app/jquery.validate.js"></script>
<script src="/Public/Home/js/app/jquery.cxselect.js"></script>
<script>
    $(function(){
        var javaInterfaceUrlPrefix = "https://www.woodche.com/YchLrestServer/api",
                phpInterfaceUrlPrefix = "http://www.gouchehui.com";
        $('.add-car-btn').on('click', function(event){
            if($('select[name=brand]').val() === ''){
                layer.tips('请选择品牌', '.brand', {
                    tips: [1, '#0FA6D8'] //还可配置颜色
                });
                return false;
            }
            if($('select[name=model]').val() === ''){
                layer.tips('请选择车型', '.model', {
                    tips: [1, '#0FA6D8'] //还可配置颜色
                });
                return false;
            }
            if($('select[name=car]').val() === ''){
                layer.tips('请选择车款', '.car', {
                    tips: [1, '#0FA6D8'] //还可配置颜色
                });
                return false;
            }
            event.preventDefault();
            event.stopPropagation();
            var popCon = "";

            popCon = '<div class="poper-main">' +
                    '<form class="j_fromPop" action="#">' +
                    '<div class="form-box clearfix"><dl><dt>手机号：</dt><dd><input type="text" placeholder="输入手机号" name="tel" class="j_tel" /></dd></dl><dl><dt>验证码：</dt><dd><input type="text" name="code"  class="code j_code" placeholder="输入动态码"/><button class="send-code-btn">发送动态码</button></dd></dl></div>' +
                    '<div class="submit-box"><span class="G_fr"><input type="submit" class="btn-submit j_submitBtn" value="提交特价车" /></span></div>' +
                    '</form>' +
                    '</div>';

            layer.open({
                type: 1,
                zIndex: 9996,
                title: "添加想要的特价车",
                area: '400px',
                closeBtn: 1,
                move: false,
                shadeClose: true,
                skin: 'addBuyCar_box',
                content: popCon,
                success: function($layer, index){
                    var md5Code = '';

                    function intervalTime(num) {
                        var num = parseInt(num);
                        var i = 0;
                        $layer.find('.send-code-btn').addClass("G_btn_disabled");
                        $layer.find('.send-code-btn').html("<span></span>秒重新发送");
                        $(".send-code-btn span").text(num);
                        var inter = setInterval(function() {
                            if (i < num) {
                                i++;
                                $('.send-code-btn span').text(num - i);
                            } else {
                                clearInterval(inter);
                                $layer.find('.send-code-btn').removeClass("G_btn_disabled");
                                $layer.find('.send-code-btn').html("重新发送").on("click", sendCode);
                            }
                        }, 1000);
                    }

                    function sendCode(e) {
                        e.stopPropagation();
                        e.preventDefault();
                        var telVal = $layer.find('input[name=tel]').val();
                        if (telVal == '') {
                            layer.tips('手机号不能为空', '.telInp', {
                                tips: [1, '#0FA6D8'] //还可配置颜色
                            });
                            //layer.msg("手机号不能为空！");
                            return false;
                        }

                        var postData = {
                            mobile: telVal,
                            tpl_id: 5774
                        }
                        $.ajax({
                            type: "POST",
                            url: phpInterfaceUrlPrefix + "/index.php/Api/sendMessages",
                            data: postData,
                            success: function(data) {
                                if (data.code == 0) {
                                    md5Code = data.md5code;
                                    $layer.find('.send-code-btn').off();
                                    intervalTime(60);
                                }else if(data.code == 205405){
                                    layer.msg("号码异常/同一号码发送次数过于频繁");
                                }else if(data.code == 1){
                                    layer.msg(data.msg);
                                }
                            }
                        });
                    }

                    $layer.find('.send-code-btn').on("click", sendCode);

                    //绑定submit
                    jQuery.validator.addMethod("isMobile", function(value, element) {
                        var length = value.length;
                        var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
                        return this.optional(element) || (length == 11 && mobile.test(value));
                    }, "请正确填写手机号");

                    $layer.find(".j_fromPop").validate({
                        debug: true, //调试模式取消submit的默认提交功能
                        rules:{
                            code:{
                                required:true
                            },
                            tel:{
                                required:true,
                                isMobile : true
                            }
                        },
                        messages:{
                            code:{
                                required:"动态码必填"
                            },
                            tel:{
                                required: "手机号必填",
                                isMobile : "号码格式有误"
                            }
                        },submitHandler: function(form){   //表单提交句柄,为一回调函数，带一个参数：form
                            var $form = $(form);
                            $.ajax({
                                type: "POST",
                                url: phpInterfaceUrlPrefix + "/index.php/Subject/user_activity_add",
                                dataType: "json",
                                data: {
                                    md5code: md5Code,
                                    code: $form.find('[name=code]').val(),
                                    tel: $form.find("[name=tel]").val(),
                                    brand_id: $('#J_carSelector').find("[name=brand]").val(),
                                    brand_name: $('#J_carSelector').find("[name=brand]").find('option:selected').text(),
                                    car_model_id: $('#J_carSelector').find("[name=model]").val(),
                                    car_model_name: $('#J_carSelector').find("[name=model]").find('option:selected').text(),
                                    car_id: $('#J_carSelector').find("[name=car]").val(),
                                    car_name: $('#J_carSelector').find("[name=car]").find('option:selected').text(),
                                    activity_name: "双十一预热_PC",
                                    source:1,
                                    flag: 2,
                                    id:26,
                                    activity_number: '11YR_PC'
                                },
                                success:function(data){
                                    console.log(data);
                                    if(data && data.status && data.status === 1){
                                        layer.close(index);

                                        layer.alert('尊敬的用户，您好，我们的客服已收到您的购车需求，请您耐心等待我们的客服给您致电，帮您用最实惠的价格，挑选最心仪的爱车', {
                                            skin: 'layui-layer-molv' //样式类名
                                            ,closeBtn: 0
                                        });
                                    }else{
                                        layer.close(index);
                                        layer.msg(data.msg);
                                    }
                                }
                            });
                        }
                    });

                }
            });

        });

        $('#J_carSelector').cxSelect({
            selects: ['brand', 'model', 'car'],
            jsonName: 'name',
            jsonValue: 'value'
        });
        $('.j_goTop').on('click', function(e){
            e.preventDefault();
            e.stopPropagation();
            $('body, html').animate({ scrollTop: 0 }, 500);
            $(".sev-rightfix").hide();
        });

        $('.j_pos').on('click', function(event){
            event.preventDefault();
            event.stopPropagation();
            var $this = $(this),
                    _href = $this.attr('href'),
                    $box = $('#J_' + _href),
                    _top = $box.offset().top;
            $('html, body').animate({
                scrollTop: _top
            }, 500);
        });
        $(window).scroll(function(){
            var topHeight = $('.banner_4').offset().top,
                    bottomHeight = $('.introduce3').offset().top;
            if($(window).scrollTop() > topHeight && $(window).scrollTop() < bottomHeight){
                $(".float-box").show();
            } else{
                $(".float-box").hide();
            };
        });

        $.ajax({
            type: "POST",
            url: javaInterfaceUrlPrefix + "/nl/car/activitylist/map/29",
            contentType: 'application/json; charset=utf-8',
            success:function(db) {
                var dbActivityName = db.data.activityinfo.activity_name,
                        endDate = db.data.activityinfo.endtime,
                        dbActivityNumber = db.data.activityinfo.activity_number,
                        dbActivityId = db.data.activityinfo.id;
                        endDateStr = endDate.replace(/-/g,"/");
                if(db.code === 0){
                    $.each($('.J_carListBox'), function(i, ele) {
                        var $cur = $(ele), curTxt = $cur.data('txt');
                        $.each(db['data']['activitylist'][curTxt], function (j, arr) {
                            var $curCarBox = $cur.find('a:eq(' + j + ')').closest('.j_carBox'),
                                    $curCarBoxLiner = $curCarBox.find('a');

                            arr.status == 1 ? ($curCarBoxLiner.addClass('btn-disabled'), $curCarBoxLiner.text("已抢完")) : ($curCarBoxLiner.removeClass('btn-disabled'), $curCarBoxLiner.text("1元立抢"));

                            $cur.find('a:eq(' + j + ')').attr({
                                "data-carid": arr.car_id,
                                "data-bid": arr.car_id,
                                "data-cbname": arr.brand_name,
                                "data-cmname": arr.car_model_name,
                                "data-cmid": arr.car_model_id,
                                "data-excolorid": arr.exterior_color_id,
                                "data-actcid": arr.activity_car_id
                            });
                            $curCarBoxLiner.on('click', function(event) {
                                var $carInfoWrapper = $(this),
                                        dbBrandName = $carInfoWrapper.data('cbname'),
                                        dbCarId = $carInfoWrapper.data('carid'),
                                        dbExId = $carInfoWrapper.data('excolorid'),
                                        dbCmodelName = $carInfoWrapper.data('cmname'),
                                        dbCmodelId = $carInfoWrapper.data('cmid'),
                                        dbCbrandId = $carInfoWrapper.data('bid'),
                                        popCon = '',
                                        sourceDb = {};

                                event.stopPropagation();
                                event.preventDefault();

                                if (!$.G.getUSERID()) {
                                    HUI.PopOut.login();
                                    return false;
                                }

                                if(arr.status == 1){
                                    return false;
                                }

                                var $carInfoWrapper = $(this),
                                        dbUserId = USER && USER.ID,
                                        dbCbrandId = $carInfoWrapper.data('bid'),
                                        dbBrandName = $carInfoWrapper.data('cbname'),
                                        dbCmodelName = $carInfoWrapper.data('cmname'),
                                        dbCmodelId = $carInfoWrapper.data('cmid'),
                                        dbFromCarActId = $carInfoWrapper.data('actcid'),
                                        popCon = '',
                                        sourceDb = {};

                                popCon = '<div class="poper-main">' +
                                        '<form class="j_fromPop" action="#">' +
                                        '<div class="base-info clearfix">' +
                                        '<dl class="mr"><dt>品牌：</dt><dd class="j_carBrand"> - </dd></dl>' +
                                        '<dl class="mr"><dt>车型：</dt><dd class="j_carModel" data-cmid=""> - </dd></dl>' +
                                        '</div>' +
                                        '<dl class="car jiegou">' +
                                        '<dt>车款：</dt>' +
                                        '<dd class="j_carList"></dd>' +
                                        '</dl>' +
                                        '<div class="submit-box G_tc">' +
                                        '<p>97%的人已抢过</p>' +
                                        '<input type="submit" class="btn-submit j_submitBtn" value="立即抢" />' +
                                        '</div>' +
                                        '</form>' +
                                        '</div>';
                                //生成添加到预购车库弹窗
                                layer.open({
                                    type: 1,
                                    zIndex: 9996,
                                    title: "请选择车款",
                                    area: '700px',
                                    closeBtn: 1,
                                    move: false,
                                    shadeClose: true,
                                    skin: 'addBuyCar_box',
                                    content: popCon,
                                    success: function($layer, index){
                                        $layer.find('.j_carBrand').text(dbBrandName);
                                        $layer.find('.j_carModel').text(dbCmodelName);
                                        $layer.find('.j_carModel').attr('data-cmid', dbCmodelId);
                                        $layer.find('.j_carBrand').attr('data-bid', dbCbrandId);
                                        $.ajax({
                                            url: phpInterfaceUrlPrefix + "/index.php/subject/car",
                                            data: {model: dbCmodelId},
                                            success: function(db) {
                                                var wHeight = $(window).height(),
                                                        defH = 420,
                                                        itemHeight = 0,
                                                        maxCarListHeight = wHeight - defH;

                                                db && db.length > 0 && $.each(db, function(i, v){
                                                    $layer.find('.j_carList').append('<a data-cid="' + v.value + '" href="#">'+ v.name +'<i class="icon icon-selected"></i></a>');
                                                });
                                                itemHeight = Math.ceil($layer.find('.j_carList').find('a').length / 2) * $layer.find('.j_carList').find('a').outerHeight(true);

                                                if(itemHeight > maxCarListHeight){
                                                    $layer.find('.poper-main').css({'height': wHeight - 103, 'overflow-y': 'scroll'});
                                                    layer.style(index, {
                                                        top: '10px'
                                                    });
                                                }else{
                                                    layer.style(index, {
                                                        top: ((maxCarListHeight - itemHeight) / 2) +  'px'
                                                    });
                                                }

                                                $.each($layer.find('.j_carList').find('a'), function(i, v){
                                                    if(dbCarId == $(v).data('cid')){
                                                        $(v).siblings().removeClass('hover');
                                                        $(v).addClass('hover');
                                                    }else if(i == 0){
                                                        $(v).siblings().removeClass('hover');
                                                        $(v).addClass('hover');
                                                    }
                                                });
                                                $layer.find('.j_carList').on('click', 'a', function(e){
                                                    e.stopPropagation();
                                                    e.preventDefault();
                                                    var $this = $(this), carId = $this.data('cid');
                                                    $this.siblings().removeClass('hover');
                                                    $this.addClass('hover');
                                                });


                                            }
                                        });
                                        $layer.find('.j_submitBtn').on('click', function(e){
                                            e.stopPropagation();
                                            e.preventDefault();
                                            $.ajax({
                                                type: "POST",
                                                url: phpInterfaceUrlPrefix + "/index.php/api/addActivityOrder",
                                                dataType: "json",
                                                data: {
                                                    brand_id: dbCbrandId,
                                                    user_id: dbUserId,
                                                    brand_name: dbBrandName,
                                                    car_model_id: dbCmodelId,
                                                    car_model_name: dbCmodelName,
                                                    car_id: $layer.find('.j_carList .hover').data('cid'),
                                                    car_name: $layer.find('.j_carList .hover').text(),
                                                    from_caractivityid: dbFromCarActId,
                                                    from_order: "PC端",
                                                    from_activityid: dbActivityId
                                                },
                                                success:function(data){
                                                    if(data.code == 0){
                                                         window.location.href = phpInterfaceUrlPrefix + data.url;
                                                    }else{
                                                        layer.msg(data);
                                                    }
                                                }
                                            });
                                        });


                                        }});

                                    });

                        });
                    });
                        }else if(db.code === -1){
                    layer.msg("未能成功加载，请刷新重试！");
                }
            }
        });


    });
</script>
</body>
</html>