<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>情人节专场，全场免咨询费，下单即送爱情大礼包，最高价值3580元——购车惠</title>
<link rel="stylesheet" href="{$Think.const.CSS_URL}base.css"/>
<link rel="stylesheet" href="{$Think.const.CSS_URL}seven.css"/>
	<link rel="stylesheet" href="http://www.gouchehui.com/Public/Home/js/app/skin/layer.css" id="layui_layer_skinlayercss" />
</head>
<body>
{~W('Cate/header')}
<!-- banner begin -->	
<div class="banner">
	<p><img src="{$Think.const.IMG_URL}Subject/sev_ban1.jpg"/></p>
	<p><img src="{$Think.const.IMG_URL}Subject/sev_ban2.jpg"/></p>
</div>
<!-- banner end -->	
<!-- sev-sec1 begin -->	
<div class="sev-sec1" id="J_f9">
	<div class="sev-sec1-top">
		<img src="{$Think.const.IMG_URL}Subject/sev_sec1_top.png"/>
		<div class="sev-a">
			<a href="f1" class="a1 j_pos"></a><a href="f2" class="a2 j_pos"></a><a href="f3" class="a3 j_pos"></a><a href="f4" class="a4 j_pos"></a><a href="f5" class="a5 j_pos"></a><a href="f6" class="a6 j_pos"></a><a href="f7" class="a7 j_pos"></a><a href="f8" class="a8 j_pos"></a>
		</div>
	</div>
</div>
<!-- sev-sec1 end -->
<!-- sev-sec2 begin -->
<div class="sev-sec2" id="J_f1">
	<div class="sev-sec2top">
		<h3><img src="{$Think.const.IMG_URL}Subject/sev_sec2top_01.png"/></h3>
		<div class="sev-sec2body j_carInfoWrapper" data-bid="752" data-cbname="大众" data-cmname="polo" data-cmid="1263" data-carid="8c415f2b832b0cbc90643a0d727ea9f0" data-cpid="b780d99f1209bc0ef8135254b548e07e" data-excolor="极地白" data-incolor="黑色" data-price="75900" data-acprice="63900" data-discount="12000">
			<div class="sev-sec2top1">
				<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2_03.png"/></a>
				<div class="sev-sec2top-price">
					<dl>
						<dt>原价：7.59万</dt>
						<dd>活动价：<span>6.39</span>万</dd>
					</dl>
					<a href="#" class="j_panicBuying">马上抢</a>
				</div>
			</div>
			<div class="sev-sec2right">
				<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2right_01.png"/></a>
				<p><a href="#" class="j_panicBuying">2016款  1.4手动风尚版</a></p>
			</div>
		</div>
	</div>
</div>
<!-- sev-sec2 end -->
<!-- sev-sec6 begin -->
<div class="sev-sec6" id="J_f5">
	<div class="sev-sec5top j_carInfoWrapper">
		<h3><img src="{$Think.const.IMG_URL}Subject/sev_sec2top_05.png"/></h3>
		<div class="sev-sec2body sev-bg j_carInfoWrapper" data-bid="146" data-cbname="斯柯达" data-cmname="昕动"  data-cmid="591" data-carid="a23efd8a50faf4380c6eef5b6341d498" data-cpid="591ef908534c52d7a2370078739aec44" data-excolor="奔放红" data-incolor="黑色" data-price="89900" data-acprice="74900" data-discount="15000">
			<div class="sev-sec2top1">
				<div class="sev-sec2left">
					<h4><a href="#" class="j_panicBuying">斯柯达昕动</a></h4>
					<p><a href="#" class="j_panicBuying">2016款1.6L手动创行</a></p>
					<ul>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_07.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">内饰</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_08.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">空间</a></dd>
							</dl>
						</li>
					</ul>
					<div class="sev-sec2left-gift"><span>购车惠最低价</span>已有<i class="j_buyNum"></i>人购买</div>
				</div>
				<div class="sev-sec2top-price">
					<dl>
						<dt>原价：8.99万</dt>
						<dd>活动价：<span>7.49</span>万</dd>
					</dl>
					<a href="#" class="j_panicBuying">马上抢</a>
				</div>
			</div>
			<div class="sev-sec2right">
				<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2right_05.png"/></a>
			</div>
		</div>
		<div class="sev-sec2boot">
			<ul>
				<li class="j_carInfoWrapper" data-bid="146" data-cbname="斯柯达" data-carid="b57bf50cf60c3d7b9b1a100564e04d39" data-cmname="新明锐"  data-cmid="589" data-cpid="093b2c1bd2f94ab1d1dc916a6e7aa8cc" data-excolor="流光金" data-incolor="黑色/米色" data-price="141900" data-acprice="109900" data-discount="32000">
					<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2boot_04.jpg"/></a>
					<p><a href="#" class="j_panicBuying">新明锐 2017款1.6L自动创行版</a></p>
					<div class="sev-sec2bot-price">
						<dl>
							<dt>已有<span class="j_buyNum"></span>人购买</dt>
							<dd>活动价：<span><i>￥</i>10.99</span>万</dd>
						</dl>
						<a href="#" class="j_panicBuying">立即抢购</a>
					</div>
				</li>
				<li class="sev-sec2boot-li j_carInfoWrapper" data-bid="146" data-cbname="斯柯达" data-carid="146aa4aeb4699d4f70bef61fbd2ba047" data-cmname="新明锐"  data-cmid="589" data-cpid="eee2c5902fac254e680151ad71f81035" data-excolor="星辉银" data-incolor="黑色/米色" data-price="151900" data-acprice="119900" data-discount="32000">
					<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2boot_05.jpg"/></a>
					<p><a href="#" class="j_panicBuying">新明锐 2017款1.6L自动智行版 </a></p>
					<div class="sev-sec2bot-price">
						<dl>
							<dt>已有<span class="j_buyNum"></span>人购买</dt>
							<dd>活动价：<span><i>￥</i>11.99</span>万</dd>
						</dl>
						<a href="#" class="j_panicBuying">立即抢购</a>
					</div>
				</li>
				<li class="j_carInfoWrapper" data-bid="146" data-cmid="591"  data-cbname="斯柯达" data-carid="3551" data-cmname="昕动" data-cpid="09417523f26f508061ebddea2591aa64" data-excolor="明朗白" data-incolor="黑色/米色" data-price="117900" data-acprice="97900" data-discount="20000">
					<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2boot_06.jpg"/></a>
					<p><a href="#" class="j_panicBuying">昕动 2014款1.4T自动乐享版  </a></p>
					<div class="sev-sec2bot-price">
						<dl>
							<dt>已有<span class="j_buyNum"></span>人购买</dt>
							<dd>活动价：<span><i>￥</i>9.79</span>万</dd>
						</dl>
						<a href="#" class="j_panicBuying">立即抢购</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- sev-sec6 end -->
<!-- sev-sec3 begin -->
<div class="sev-sec3" id="J_f2">
	<div class="sev-sec2top">
		<h3><img src="{$Think.const.IMG_URL}Subject/sev_sec2top_02.png"/></h3>
		<div class="sev-sec2body sev-bg j_carInfoWrapper" data-bid="102" data-cmid="1492" data-carid="5849"  data-cbname="东风雪铁龙" data-cmname="C4L" data-cpid="3112a73ce5d4d0ba339d3711e0e00b26" data-excolor="水晶银" data-excolorid="11606" data-incolor="黑色" data-price="157900" data-acprice="123900" data-discount="34000">
			<div class="sev-sec2top1">
				<div class="sev-sec2left">
					<h4><a href="#" class="j_panicBuying">东风雪铁龙C4L</a></h4>
					<p><a href="#" class="j_panicBuying">2015款1.8L自动尊贵版</a></p>
					<ul>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_01.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">内饰</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_02.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">空间</a></dd>
							</dl>
						</li>
					</ul>
					<div class="sev-sec2left-gift"><span>购车惠最低价</span>已有<i class="j_buyNum"></i>人购买</div>
				</div>
				<div class="sev-sec2top-price">
					<dl>
						<dt>原价：15.79万</dt>
						<dd>活动价：<span>12.39</span>万</dd>
					</dl>
					<a href="#" class="j_panicBuying">马上抢</a>
				</div>
			</div>
			<div class="sev-sec2right">
				<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2right_02.png"/></a>
			</div>
		</div>
	</div>
</div>
<!-- sev-sec3 end -->
<!-- sev-sec4 begin -->
<div class="sev-sec4" id="J_f3">
	<div class="sev-sec2top">
		<h3><img src="{$Think.const.IMG_URL}Subject/sev_sec2top_03.png"/></h3>
		<div class="sev-sec2body sev-bg j_carInfoWrapper" data-bid="6989" data-carid="5998"  data-cbname="一汽马自达" data-cmname="马自达6"  data-cmid="1127" data-cpid="11facb74a3f97bcc6ff4c8d438e6d49c" data-excolor="经典红" data-incolor="黑色" data-price="147800" data-acprice="119800" data-discount="28000">
			<div class="sev-sec2top1">
				<div class="sev-sec2left">
					<h4><a href="#" class="j_panicBuying">一汽马自达 马自达6</a></h4>
					<p><a href="#" class="j_panicBuying">2015款2.0L自动时尚型</a></p>
					<ul>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_03.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">内饰</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_04.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">空间</a></dd>
							</dl>
						</li>
					</ul>
					<div class="sev-sec2left-gift"><span>购车惠最低价</span>已有<i class="j_buyNum"></i>人购买</div>
				</div>
				<div class="sev-sec2top-price">
					<dl>
						<dt>原价：14.78万</dt>
						<dd>活动价：<span>11.98</span>万</dd>
					</dl>
					<a href="#" class="j_panicBuying">马上抢</a>
				</div>
			</div>
			<div class="sev-sec2right">
				<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2right_03.png"/></a>
			</div>
		</div>
	</div>
</div>
<!-- sev-sec4 end -->
<!-- sev-sec5 begin -->
<div class="sev-sec5" id="J_f4">
	<div class="sev-sec5top">
		<h3><img src="{$Think.const.IMG_URL}Subject/sev_sec2top_04.png"/></h3>
		<div class="sev-sec2body sev-bg j_carInfoWrapper" data-bid="973" data-carid="8d7e2dfb402d42f9275656c9083689e4"  data-cbname="东风日产" data-cmname="新轩逸"  data-cmid="1969" data-cpid="11facb74a3f97bcc6ff4c8d438e6d49c" data-excolor="经典红" data-incolor="黑色" data-price="135000" data-acprice="120000" data-discount="28000">
			<div class="sev-sec2top1">
				<div class="sev-sec2left">
					<h4><a href="#" class="j_panicBuying">东风日产新轩逸</a></h4>
					<p><a href="#" class="j_panicBuying">2016款 1.6XL CVT豪华版</a></p>
					<ul>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_05.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">内饰</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_06.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">空间</a></dd>
							</dl>
						</li>
					</ul>
					<div class="sev-sec2left-gift"><span>购车惠最低价</span>已有<i class="j_buyNum"></i>人购买</div>
				</div>
				<div class="sev-sec2top-price">
					<dl>
						<dt>原价：13.5万</dt>
						<dd>活动价：<span>12.00</span>万</dd>
					</dl>
					<a href="#" class="j_panicBuying">马上抢</a>
				</div>
			</div>
			<div class="sev-sec2right">
				<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2right_04.png"/></a>
			</div>
		</div>
		<div class="sev-sec2boot">
			<ul>
				<li class="j_carInfoWrapper" data-bid="973" data-carid="f73e7a98c1dab180b5633fcf54afa024" data-cbname="东风日产" data-cmname="新轩逸"  data-cmid="1969" data-cpid="33e5896569bcb1db9e7d8b6eb9534b90" data-excolor="钨钢灰" data-incolor="灰色/米色" data-price="139800" data-acprice="124800" data-discount="15000">
					<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2boot_01.jpg"/></a>
					<p><a href="#" class="j_panicBuying">新轩逸 2016款 1.6XV CVT智享版</a></p>
					<div class="sev-sec2bot-price">
						<dl>
							<dt>已有<span class="j_buyNum"></span>人购买</dt>
							<dd>活动价：<span><i>￥</i>12.48</span>万</dd>
						</dl>
						<a href="#" class="j_panicBuying">立即抢购</a>
					</div>
				</li>
				<li class="sev-sec2boot-li j_carInfoWrapper" data-bid="973" data-carid="537322a8870960d3b18bcbe789d0d9a5" data-cbname="东风日产" data-cmname="新轩逸"   data-cmid="1969" data-cpid="299b4d4427c9b6122c9ad264412a17ae" data-excolor="钨钢黑" data-incolor="灰色/米色" data-price="146800" data-acprice="131800" data-discount="15000">
					<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2boot_02.jpg"/></a>
					<p><a href="#" class="j_panicBuying">新轩逸 2016款 1.6XV CVT智尊版</a></p>
					<div class="sev-sec2bot-price">
						<dl>
							<dt>已有<span class="j_buyNum"></span>人购买</dt>
							<dd>活动价：<span><i>￥</i>13.18</span>万</dd>
						</dl>
						<a href="#" class="j_panicBuying">立即抢购</a>
					</div>
				</li>
				<li class="j_carInfoWrapper" data-bid="973" data-cbname="东风日产" data-carid="9583201f4a627c74d962a86e0f2cb860" data-cmname="新轩逸"  data-cmid="1969" data-cpid="0673ed4ef22cdd2f637fd6007c5129c2" data-excolor="摩卡棕" data-incolor="灰色/米色" data-price="159000" data-acprice="144000" data-discount="15000">
					<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2boot_03.jpg"/></a>
					<p><a href="#" class="j_panicBuying">新轩逸 2016款 1.8XV CVT智尊版</a></p>
					<div class="sev-sec2bot-price">
						<dl>
							<dt>已有<span class="j_buyNum"></span>人购买</dt>
							<dd>活动价：<span><i>￥</i>14.40</span>万</dd>
						</dl>
						<a href="#" class="j_panicBuying">立即抢购</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- sev-sec5 end -->

<!-- sev-sec7 begin -->
<div class="sev-sec7" id="J_f6">
	<div class="sev-sec5top j_carInfoWrapper">
		<h3><img src="{$Think.const.IMG_URL}Subject/sev_sec2top_06.png"/></h3>
		<div class="sev-sec2body sev-bg j_carInfoWrapper" data-bid="6979"  data-carid="5577" data-cbname="东风悦达起亚" data-cmname="K3" data-cmid="1899" data-cpid="0c2716e5fa7d1f57086cc964fd004d78" data-excolor="新雅兰" data-incolor="黑色/米色" data-price="124800" data-acprice="100800" data-discount="24000">
			<div class="sev-sec2top1">
				<div class="sev-sec2left">
					<h4><a href="#" class="j_panicBuying">东风悦达起亚K3</a></h4>
					<p><a href="#" class="j_panicBuying">2015款1.6L自动GLS</a></p>
					<ul>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_09.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">内饰</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_10.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">空间</a></dd>
							</dl>
						</li>
					</ul>
					<div class="sev-sec2left-gift"><span>购车惠最低价</span>已有<i class="j_buyNum"></i>人购买</div>
				</div>
				<div class="sev-sec2top-price">
					<dl>
						<dt>原价：12.48万</dt>
						<dd>活动价：<span>10.08</span>万</dd>
					</dl>
					<a href="#" class="j_panicBuying">马上抢</a>
				</div>
			</div>
			<div class="sev-sec2right">
				<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2right_06.png"/></a>
			</div>
		</div>
		<div class="sev-sec2boot">
			<ul>
				<li class="j_carInfoWrapper" data-bid="6979" data-carid="5695" data-cbname="东风悦达起亚" data-cmname="智跑" data-cmid="1905" data-cpid="08d74d2bb1349f5af929bd8e58ea5a17" data-excolor="沙滩金" data-incolor="黑色/棕色" data-price="144800" data-acprice="133800" data-discount="11000">
					<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2boot_07.jpg"/></a>
					<p><a href="#" class="j_panicBuying">智跑 2015款2.0L 手动两驱版GL</a></p>
					<div class="sev-sec2bot-price">
						<dl>
							<dt>已有<span class="j_buyNum"></span>人购买</dt>
							<dd>活动价：<span><i>￥</i>11.78</span>万</dd>
						</dl>
						<a href="#" class="j_panicBuying">立即抢购</a>
					</div>
				</li>
				<li class="sev-sec2boot-li j_carInfoWrapper" data-carid="5696" data-bid="6979" data-cbname="东风悦达起亚" data-cmname="智跑" data-cmid="1905" data-cpid="12ad543134e1d418714ba416653a240d" data-excolor="钛银" data-incolor="黑色/棕色" data-price="158800" data-acprice="133800" data-discount="25000">
					<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2boot_08.jpg"/></a>
					<p><a href="#" class="j_panicBuying">智跑 2015款2.0L 自动两驱版GL</a></p>
					<div class="sev-sec2bot-price">
						<dl>
							<dt>已有<span class="j_buyNum"></span>人购买</dt>
							<dd>活动价：<span><i>￥</i>13.18</span>万</dd>
						</dl>
						<a href="#" class="j_panicBuying">立即抢购</a>
					</div>
				</li>
				<li class="j_carInfoWrapper" data-bid="6979" data-carid="6664"  data-cmid="1901" data-cbname="东风悦达起亚" data-cmname="K5" data-cpid="01658b31a6e172f709edb9e2f50d0f21" data-excolor="璀璨银" data-incolor="黑色/米色" data-price="180800" data-acprice="159300" data-discount="21500">
					<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2boot_09.jpg"/></a>
					<p><a href="#" class="j_panicBuying"> K5 2016款 1.6T 自动LUXURY</a></p>
					<div class="sev-sec2bot-price">
						<dl>
							<dt>已有<span class="j_buyNum"></span>人购买</dt>
							<dd>活动价：<span><i>￥</i>15.93</span>万</dd>
						</dl>
						<a href="#" class="j_panicBuying">立即抢购</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- sev-sec7 end -->
<!-- sev-sec8 begin -->
<div class="sev-sec8" id="J_f7">
	<div class="sev-sec2top j_carInfoWrapper">
		<h3><img src="{$Think.const.IMG_URL}Subject/sev_sec2top_07.png"/></h3>
		<div class="sev-sec2body sev-bg j_carInfoWrapper" data-carid="3459" data-bid="016cdf45e1b0ce598cd20201e2f339ec" data-cbname="广汽本田" data-cmname="锋范" data-cmid="506" data-cpid="1ec9a53bc68d32dbe24c043d7a3f5732" data-excolor="瑞丽红" data-incolor="黑色/象牙色" data-price="119800" data-acprice="113800" data-discount="6000">
			<div class="sev-sec2top1">
				<div class="sev-sec2left">
					<h4><a href="#" class="j_panicBuying">广汽本田锋范</a></h4>
					<p><a href="#" class="j_panicBuying">2015款 1.5L CVT旗舰版</a></p>
					<ul>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_11.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">内饰</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_12.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">空间</a></dd>
							</dl>
						</li>
					</ul>
					<div class="sev-sec2left-gift"><span>购车惠最低价</span>已有<i class="j_buyNum"></i>人购买</div>
				</div>
				<div class="sev-sec2top-price">
					<dl>
						<dt>原价：11.98万</dt>
						<dd>活动价：<span>11.38</span>万</dd>
					</dl>
					<a href="#" class="j_panicBuying">马上抢</a>
				</div>
			</div>
			<div class="sev-sec2right">
				<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2right_07.png"/></a>
			</div>
		</div>
	</div>
</div>
<!-- sev-sec8 end -->
<!-- sev-sec9 begin -->
<div class="sev-sec9" id="J_f8">
	<div class="sev-sec5top j_carInfoWrapper">
		<h3><img src="{$Think.const.IMG_URL}Subject/sev_sec2top_08.png"/></h3>
		<div class="sev-sec2body sev-bg j_carInfoWrapper" data-carid="5477" data-bid="6967" data-cbname="北京现代" data-cmname="瑞纳" data-cmid="1300" data-cpid="010cb3dc71be15bfab42424537773a7e" data-excolor="优雅白" data-incolor="黑色/米色" data-price="86900" data-acprice="71900" data-discount="15000">
			<div class="sev-sec2top1">
				<div class="sev-sec2left">
					<h4><a href="#" class="j_panicBuying">北京现代瑞纳</a></h4>
					<p><a href="#" class="j_panicBuying">2014款1.4自动GLS</a></p>
					<ul>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_13.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">内饰</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2left_14.jpg"/></a></dt>
								<dd><a href="#" class="j_panicBuying">空间</a></dd>
							</dl>
						</li>
					</ul>
					<div class="sev-sec2left-gift"><span>购车惠最低价</span>已有<i class="j_buyNum"></i>人购买</div>
				</div>
				<div class="sev-sec2top-price">
					<dl>
						<dt>原价：8.69万</dt>
						<dd>活动价：<span>7.19</span>万</dd>
					</dl>
					<a href="#" class="j_panicBuying">马上抢</a>
				</div>
			</div>
			<div class="sev-sec2right">
				<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2right_08.png"/></a>
			</div>
		</div>
		<div class="sev-sec2boot">
			<ul>
				<li class="j_carInfoWrapper" data-carid="9572ec79348a230aca8fa4dd5c8cd623" data-bid="6967" data-cmid="1307" data-cbname="北京现代" data-cmname="朗动" data-cpid="0ca0afb9e594456958eeddae7653db6a" data-excolor="典雅铜" data-incolor="黑色/米色" data-price="115800" data-acprice="92800" data-discount="23000">
					<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2boot_10.jpg"/></a>
					<p><a href="#" class="j_panicBuying">朗动 2016款 1.6L 手动尊贵型</a></p>
					<div class="sev-sec2bot-price">
						<dl>
							<dt>已有<span class="j_buyNum"></span>人购买</dt>
							<dd>活动价：<span><i>￥</i>9.28</span>万</dd>
						</dl>
						<a href="#" class="j_panicBuying">立即抢购</a>
					</div>
				</li>
				<li class="sev-sec2boot-li j_carInfoWrapper" data-carid="cfaef9eafa4ac135ad1bfe5afc2defe3" data-bid="6967" data-cmid="1307" data-cbname="北京现代" data-cmname="朗动" data-cpid="35eb069e85fee037481ec5c78061f200" data-excolor="极地白" data-incolor="黑色/米色" data-price="127800" data-acprice="104800" data-discount="23000">
					<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2boot_11.jpg"/></a>
					<p><a href="#" class="j_panicBuying">朗动 2016款 1.6L 自动尊贵型</a></p>
					<div class="sev-sec2bot-price">
						<dl>
							<dt>已有<span class="j_buyNum"></span>人购买</dt>
							<dd>活动价：<span><i>￥</i>10.48</span>万</dd>
						</dl>
						<a href="#" class="j_panicBuying">立即抢购</a>
					</div>
				</li>
				<li class="j_carInfoWrapper" data-carid="87d592c9c23feca9f342986742ad43a1" data-bid="6967" data-cmid="1307" data-cbname="北京现代" data-cmname="朗动" data-cpid="a5bf7f8dbb145fb074e6ca2dede95b26" data-excolor="极地白" data-incolor="黑色" data-price="105800" data-acprice="90000" data-discount="15800">
					<a href="#" class="j_panicBuying"><img src="{$Think.const.IMG_URL}Subject/sev_sec2boot_12.jpg"/></a>
					<p><a href="#" class="j_panicBuying">朗动 2016款 1.6L 手动时尚型</a></p>
					<div class="sev-sec2bot-price">
						<dl>
							<dt>已有<span class="j_buyNum"></span>人购买</dt>
							<dd>活动价：<span><i>￥</i>9.00</span>万</dd>
						</dl>
						<a href="#" class="j_panicBuying">立即抢购</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- sev-sec9 end -->
<!-- sev-sec10 begin -->
<div class="sev-sec10">
	<div class="sev-sel" id="J_carSelector">
		<h3>还没有你心仪的？请告诉我你想要<span>特价车</span>！</h3>
		<select  data-required="false" data-first-title="请选择品牌" data-first-value="" data-url="/index.php/subject/brand" name="brand" id="" class="brand"></select>
		<select  data-required="false" data-first-title="请选择车型" data-url="/index.php/subject/car_model" data-first-value="" name="model" id="" class="model"></select>
		<select  data-required="false" data-first-title="请选择车款" data-url="/index.php/subject/car" data-first-value="" name="car" id="" class="car sel-last"></select>
		<p><a class="add-car-btn">发起我想要的特价车</a></p>
	</div>
	<div class="sev-guide">
		<ul>
			<li>
				<dl>
					<dt>底价</dt>
					<dd>一键知底价，询价更便捷</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>认证</dt>
					<dd>正规4S店提车，品质更放心</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>真实</dt>
					<dd>价格透明，不买定金随时退</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>安全</dt>
					<dd>购车惠担保，支付更安全</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
<!-- sev-sec10 end -->
<div class="footwrap">
    <div class="foot">
        <div class="logobox">
            <img src="{$Think.const.IMG_URL}logo_foot.png" alt="购车惠">
        </div>
        <div class="list">
            <dl>
                <dt>关于我们</dt>
                <dd><a target="_blank" href="{:U('Guide/introduce')}">关于购车惠</a></dd>
            </dl>
            <dl>
                <dt>联系我们</dt>
                <dd><a target="_blank" href="{:U('Guide/contact')}">客服电话</a></dd>
                <dd><a target="_blank" href="{:U('Guide/contact')}">商务合作</a></dd>
                <dd><a target="_blank" href="{:U('Guide/contact')}">联系电话</a></dd>
            </dl>
        </div>
        <div class="erweima">
            <div class="imgbox">
                <img class="erweima" src="{$Think.const.IMG_URL}wechat_servse.png" alt="微信公众号">
                <span>微信公众号</span>
            </div>
            <div class="imgbox">
                <img class="erweima" src="{$Think.const.IMG_URL}app_down.png" alt="微信公众号">
                <span>App下载</span>
            </div>
        </div>
    </div>
    <div class="copyright_info_wrap">
        <div class="copyright_info">
            <p>CopyRight @2015 - 2016 gouchehui.com All rights reserved 版权所有南京易橙汇网络科技有限公司</p>
            <p>Powered By Jiangsu ERUN备案号:苏ICP备13031090号-3</p>
        </div>
        <div style="display:none">
            <script src="http://s95.cnzz.com/z_stat.php?id=1258873107&web_id=1258873107" language="JavaScript"></script>
        </div>
    </div>
</div>
<div class="sev-rightfix">
	<ul>
		<li class="sev-right1"><a href="#" class="J_kefu"><img src="{$Think.const.IMG_URL}Subject/sev_rightfix_01.png"/>客服电话<p class="J_tel">400-138-0808</p></a></li>
		<li><a href="f9" class="j_pos"><img src="{$Think.const.IMG_URL}Subject/sev_rightfix_02.png"/>购车送礼</a></li>
		<li><img src="{$Think.const.IMG_URL}Subject/sev_rightfix_03.png"/>扫描二维码</li>
	</ul>
	<a href="" class="j_goTop"></a>
</div>
<div style="display:none">
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?d54eca841141d8a4565de0cc62ccdb42";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>

	<script src="http://s95.cnzz.com/z_stat.php?id=1258873107&web_id=1258873107" language="JavaScript"></script>
</div>


<script src="http://www.gouchehui.com/Public/Home/js/jquery-1.8.1.min.js"></script>
<script src="http://www.gouchehui.com/Public/Home/js/app.js"></script>
<script src="http://www.gouchehui.com/Public/Home/js/layer.js"></script>
<script src="http://www.gouchehui.com/Public/Home/js/app/jquery.validate.js"></script>
<script src="http://www.gouchehui.com/Public/Home/js/app/jquery.cxselect.js"></script>

<script>
    $(function(){
		var qianzui = '/index.php';

//      tool && tool.browser && tool.browser.browserRedirect("http://www.gouchehui.com/index.php/subject/seven", "http://weixin.gouchehui.com/activity/seven/activity.jsp");
        //随机数 函数
        function GetRandomNum(Min,Max)
        {
            var Range = Max - Min;
            var Rand = Math.random();
            return(Min + Math.round(Rand * Range));
        }

        $.each($('.j_buyNum'), function(i, o){
            $(o).html(GetRandomNum(1, 60));
        });

        $('.add-car-btn').on('click', function(event){
			var popCon = "";

			popCon = '<div class="poper-main">' +
					'<form class="j_fromPop" action="#">' +
					'<div class="form-box clearfix"><dl><dt>姓名：</dt><dd><input type="text" name="name" class="j_name" /></dd></dl><dl><dt>手机号：</dt><dd><input type="text" name="tel"  class="j_tel"/></dd></dl></div>' +
					'<div class="submit-box"><span class="G_fr"><input type="submit" class="btn-submit j_submitBtn" value="提交特价车" /></span></div>' +
					'</form>' +
					'</div>';

			layer.open({
				type: 1,
				area: "400px",
				zIndex: 9996,
				title: "添加想要的特价车",
				area: '700px',
				closeBtn: 1,
				move: false,
				shadeClose: true,
				skin: 'addBuyCar_box',
				content: popCon,
				success: function($layer, index){
					//绑定submit
					jQuery.validator.addMethod("isMobile", function(value, element) {
						var length = value.length;
						var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
						return this.optional(element) || (length == 11 && mobile.test(value));
					}, "请正确填写手机号");

					$layer.find(".j_fromPop").validate({
						debug: false, //调试模式取消submit的默认提交功能
						rules:{
							name:{
								required:true
							},
							tel:{
								required:true,
								isMobile : true
							}
						},
						messages:{
							name:{
								required:"姓名必填"
							},
							tel:{
								required:"手机号必填"
							}
						},submitHandler: function(form){   //表单提交句柄,为一回调函数，带一个参数：form
							var $form = $(form);
							$.ajax({
								type: "POST",
								url: qianzui + "/subject/user_activity_add",
								dataType: "json",
								data: {
									user_name: $form.find('[name=name]').val(),
									tel: $form.find("[name=tel]").val(),
									brand_id: $('#J_carSelector').find("[name=brand]").val(),
									brand_name: $('#J_carSelector').find("[name=brand]").find('option:selected').text(),
									car_model_id: $('#J_carSelector').find("[name=model]").val(),
									car_model_name: $('#J_carSelector').find("[name=model]").find('option:selected').text(),
									car_id: $('#J_carSelector').find("[name=car]").val(),
									car_name: $('#J_carSelector').find("[name=car]").find('option:selected').text(),
									activity_name:'情人节专场活动',
									flag: 2,
									activity_number: 'zt01_qrj'
								},
								success:function(data){
									if(data.status === 1){
										layer.close(index);
										layer.msg(data.msg);
									}else{
										layer.close(index);
										layer.msg(data.msg);
									}
								}
							});
						}
					});

				}
			});

        });

		$('.j_pos').on('click', function(event){
			event.preventDefault();
			event.stopPropagation();
			var $this = $(this),
				_href = $this.attr('href'),
				$box = $('#J_' + _href),
				_top = $box.offset().top;
				$('html, body').animate({
					scrollTop: _top
				}, 500);
		});

        $(window).scroll(function(){
            if($(window).scrollTop() > 500){
                $(".sev-rightfix").show();
            } else{
                $(".sev-rightfix").hide();
            };
        });

        $('.j_goTop').on('click', function(e){
            e.preventDefault();
            e.stopPropagation();
            $('body, html').animate({ scrollTop: 0 }, 500);
            $(".sev-rightfix").hide();
        });

        $('.j_panicBuying').on('click', function(event) {
            var $this = $(this),
                    $carInfoWrapper = $this.closest('.j_carInfoWrapper'),
					dbBrandName = $carInfoWrapper.data('cbname'),
					dbCarId = $carInfoWrapper.data('carid'),
					dbExId = $carInfoWrapper.data('excolorid'),
					dbCmodelName = $carInfoWrapper.data('cmname'),
					dbCmodelId = $carInfoWrapper.data('cmid'),
					dbCbrandId = $carInfoWrapper.data('bid'),
					popCon = '',
                    sourceDb = {};

            event.stopPropagation();
            event.preventDefault();

			popCon = '<div class="poper-main">' +
					'<form class="j_fromPop" action="#">' +
					'<div class="alert"> <i class="icon icon-laba"></i>活动已有<span class="total-number j_totalNumber"> - </span>人报名 <span class="reg-info">报名参加信息：<span class="user-info"><ul class="j_userInfoList"></ul></span></span></div>' +
					'<div class="base-info clearfix">' +
					'<dl class="mr"><dt>品牌：</dt><dd class="j_carBrand"> - </dd></dl>' +
					'<dl class="mr"><dt>车型：</dt><dd class="j_carModel" data-cmid=""> - </dd></dl>' +
					'<dl><dt>活动价：</dt><dd><b class="G_f16 price"><span class="j_activePrice"> - </span>元</b>  <span class="tips">（立即报名享受更低优惠）</span></dd></dl>' +
					'</div>' +
					'<dl class="car jiegou">' +
					'<dt>车款：</dt>' +
					'<dd class="j_carList"></dd>' +
					'</dl>' +
					'<dl class="color ex jiegou">' +
					'<dt>外观：</dt>' +
					'<dd class="j_carExColor j_color"></dd>' +
					'</dl>' +
					'<dl class="color in jiegou">' +
					'<dt>内饰：</dt>' +
					'<dd class="j_carInColor j_color"></dd>' +
					'</dl>' +
					'<div class="form-box clearfix"><dl><dt>姓名：</dt><dd><input type="text" name="name" class="j_name" /></dd></dl><dl><dt>手机号：</dt><dd><input type="text" name="tel"  class="j_tel"/></dd></dl></div>' +
					'<div class="submit-box"><span class="G_fr">97%的人已报名参与<input type="submit" class="btn-submit j_submitBtn" value="立即报名" /></span></div>' +
					'</form>' +
					'</div>';

			//生成添加到预购车库弹窗
			layer.open({
				type: 1,
				area: "400px",
				zIndex: 9996,
				title: "品牌基本信息",
				area: '700px',
				closeBtn: 1,
				move: false,
				shadeClose: true,
				skin: 'addBuyCar_box',
				content: popCon,
				success: function($layer, index){
					$.post(qianzui + "/subject/user_activity_info", {activity_number: 'zt01_qrj'}, function(db){
						var userInfo = '', i = 0;
						$layer.find('.j_totalNumber').text(db.count);
						db.info.length > 0 && $.each(db.info, function(i, v){
							userInfo += '<li>用户 <b class="info"> '+ v.tel +' </b> 已报名车型为 <b class="info"> '+ v.car_name +' </b></li>'
						});
						$layer.find('.j_userInfoList').append(userInfo);
						var liLen = $layer.find('.j_userInfoList').find('li').length,
								liHeight = $layer.find('.j_userInfoList').find('li').height();
						setInterval(function(){
							var liH = 0;
							if(liLen == i){
								i = 0;
							}
							liH = liHeight * i;
							$layer.find('.j_userInfoList').animate({"top":"-" + liH + "px"});
							i += 1;
						}, 4e3);
					});

					$layer.find('.j_carBrand').text(dbBrandName);
					$layer.find('.j_carModel').text(dbCmodelName);
					$layer.find('.j_carModel').attr('data-cmid', dbCmodelId);
					$layer.find('.j_carBrand').attr('data-bid', dbCbrandId);

					$.ajax({
                        url: qianzui + "/subject/car_query",
                        data: {model: dbCmodelId},
                        success: function(db) {
							var wHeight = $(window).height(),
									defH = 430,
									itemHeight = 0,
									maxCarListHeight = wHeight - defH;

							db && db.length > 0 && $.each(db, function(i, v){
								$layer.find('.j_carList').append('<a data-cid="' + v.value + '" href="#">'+ v.name +'<i class="icon icon-selected"></i></a>');
							});

							itemHeight = Math.ceil($layer.find('.j_carList').find('a').length / 2) * $layer.find('.j_carList').find('a').outerHeight(true);
							if(itemHeight > maxCarListHeight){
								$layer.find('.j_carList').css({'height': maxCarListHeight, 'overflow-y': 'scroll'});
								layer.style(index, {
									top: '25px'
								});
							}else{
								console.log(maxCarListHeight - itemHeight);
								layer.style(index, {
									top: ((maxCarListHeight - itemHeight) / 2) +  'px'
								});
							}
							function defCar($layer, carId, dbExId){
								var exId = dbExId;
								$.ajax({
									url: qianzui + "/subject/color",
									data: {car_id: carId},
									success: function(db) {
										function updatePrice(exId, inId){
											$.ajax({
												url: qianzui + "/subject/getprice",
												data: {exterior_color_id: exId, interior_color_id: inId},
												success: function(db) {
													$layer.find('.j_activePrice').html(db);
												}
											});
										}

										var exColor = '', inColor = '';
										db.exterior_color.length > 0 && $.each(db.exterior_color, function(i, v){
											exColor += '<a data-cid="'+ v.exterior_color_id +'" title="'+ v.exterior_color_name +'" href="#"><span style="background: ' + v.exterior_color_value + ';"></span></a>';
										});
										db.interior_color.length > 0 && $.each(db.interior_color, function(i, v){
											var inColorArr = v.interior_color_value.split(' '), colorVal = '';
											if(inColorArr.length > 1){
												$.each(inColorArr, function(i, v){
													colorVal += '<span style="height:9px;background: '+ v +';"></span>';
												});
											}else{
												colorVal = '<span style="background: '+ v.interior_color_value +';"></span>'
											}
											inColor += '<a data-cid="'+ v.interior_color_id +'" title="'+ v.interior_color_name +'" href="#">'+ colorVal +'</a>';
										});
										$layer.find('.j_carExColor').html(exColor);
										$layer.find('.j_carInColor').html(inColor);
										if(dbExId !== undefined){
											$.each($layer.find('.j_carExColor').find('a'), function(i, v){
												if(dbExId == $(v).data('cid')){
													$(v).siblings().removeClass('hover');
													$(v).addClass('hover');
													exId = $(v).data('cid');
												}
											});
										}else{
											$layer.find('.j_carExColor').find('a:first').addClass('hover');
											exId = $layer.find('.j_carExColor').find('a:first').data('cid');
										}

										$layer.find('.j_carInColor').find('a:first').addClass('hover');
										var defInId = $layer.find('.j_carInColor').find('a:first').data('cid');
										updatePrice(exId, defInId);

										$layer.find('.j_color').on('click', 'a', function(e){
											var $this = $(this);
											e.stopPropagation();
											e.preventDefault();
											$this.siblings().removeClass('hover');
											$this.addClass('hover');
											var exId = $layer.find('.j_carExColor').find('.hover').data('cid'),
													inId = $layer.find('.j_carInColor').find('.hover').data('cid');
											updatePrice(exId, inId);
										});
										//绑定submit
										jQuery.validator.addMethod("isMobile", function(value, element) {
											var length = value.length;
											var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
											return this.optional(element) || (length == 11 && mobile.test(value));
										}, "请正确填写手机号");

										$layer.find(".j_fromPop").validate({
											debug: false, //调试模式取消submit的默认提交功能
											rules:{
												name:{
													required:true
												},
												tel:{
													required:true,
													isMobile : true
												}
											},
											messages:{
												name:{
													required:"姓名必填"
												},
												tel:{
													required:"手机号必填"
												}
											},submitHandler: function(form){   //表单提交句柄,为一回调函数，带一个参数：form
												var $form = $(form);
												$.ajax({
													type: "POST",
													url: qianzui + "/subject/user_activity_add",
													dataType: "json",
													data: {
														user_name: $form.find('[name=name]').val(),
														tel: $form.find("[name=tel]").val(),
														activity_price: $form.find(".j_activePrice").text(),
														brand_id: $form.find(".j_carBrand").data('bid'),
														brand_name: $form.find(".j_carBrand").text(),
														car_model_id: $form.find(".j_carModel").data('cmid'),
														car_model_name: $form.find(".j_carModel").text(),
														car_id: $form.find(".j_carList").find('.hover').data('cid'),
														car_name: $form.find(".j_carList").find('.hover').text(),
														exterior_color_id: $form.find(".j_carExColor").find('.hover').data('cid'),
														interior_color_id: $form.find(".j_carInColor").find('.hover').data('cid'),
														exterior_color_name: $form.find(".j_carExColor").find('.hover').attr('title'),
														interior_color_name: $form.find(".j_carInColor").find('.hover').attr('title'),
														activity_name:'情人节专场活动',
														flag: 1,
														activity_number: 'zt01_qrj'
													},
													success:function(data){
														if(data.status === 1){
															layer.msg(data.msg);
														}else{
															layer.msg(data.msg);
														}
													}
												});
											}
										});

									},
									error: function() {
										this.errormsg()
									}
								});
							}

							$.each($layer.find('.j_carList').find('a'), function(i, v){
								if(dbCarId == $(v).data('cid')){
									$(v).siblings().removeClass('hover');
									$(v).addClass('hover');
									defCar($layer, dbCarId, dbExId);
								}
							});

							$layer.find('.j_carList').on('click', 'a', function(e){
								e.stopPropagation();
								e.preventDefault();
								var $this = $(this), carId = $this.data('cid');
								$this.siblings().removeClass('hover');
								$this.addClass('hover');
								defCar($layer, carId);
							});
                        },
                        error: function() {
                            this.errormsg()
                        }
                    });

				}
			});
        });
    });

    $('#J_carSelector').cxSelect({
        selects: ['brand', 'model', 'car'],
        jsonName: 'name',
        jsonValue: 'value'
    });
    
    $(function(){
    	$(window).scroll(function(){
            if($(window).scrollTop() > 980){
                $(".sev-sec1-top").addClass("sev-fixed").show();
            } else{
                $(".sev-sec1-top").removeClass("sev-fixed").hide();
            };
        });
    });
</script>

</body>
</html>
