<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}base.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}slogan.css"/>
</head>
<body>
<div class="slo-banner">
	<a href="" title=""><img src="{$Think.const.IMG_URL}Subject/slo_banner.jpg"/></a>
</div>
<div class="slo-body">
	<div class="slo-sec se1">
		<h3>大赛引言</h3>
		<dl class="se1dl">
			<dt><img src="{$Think.const.IMG_URL}Subject/slo_ewm.gif"/></dt>
			<dd class="dd1">购车惠面向各路小伙伴，征集宣传口号啦！</dd>
       		<dd>不仅有丰厚的大奖等着你，而且您创作的广告语有可能成为我们的官方宣传口号。</dd>
       		<dd>够你炫耀N多年！</dd>
		</dl>
	</div>
	<div class="slo-sec se2">
		<h3>大赛时间</h3>
		<div class="se2ul">
			<ul>
				<li>
					<dl>
						<dt>报名时间</dt>
						<dd>2016.6.24-2016.7.10</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>投票时间</dt>
						<dd>2016.6.24- 2016.7.15</dd>
					</dl>
				</li>
				<li class="se2ull3">
					<dl>
						<dt>公布结果</dt>
						<dd>2016.7.22</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<div class="slo-sec se3">
		<h3>奖项设置</h3>
		<div class="se3ul">
			<ul>
				<li>
					<dl>
						<dt>特等奖（一名）</dt>
						<dd>3800元</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>创意奖（一名）</dt>
						<dd>2800元</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>优秀奖（一名）</dt>
						<dd>1800元</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>智慧奖（一名）</dt>
						<dd>800元</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>鼓励奖（一名）</dt>
						<dd>580元</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<div class="slo-sec se4">
		<h3>征集要求</h3>
		<div class="se4ul">
			<ul>
				<li>
					<dl>
						<dt>目标消费群体：</dt>
						<dd>有购车意向，爱车之人。</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>关键字： </dt>
						<dd>可靠，活力，激情，底价购车，值得信赖。</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>品牌：</dt>
						<dd>购车惠。</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>字数要求：</dt>
						<dd>15字之内。</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<div class="slo-sec se5">
		<h3>公司简介</h3>
		<p class="se5p">易橙汇网络科技有限公司全力打造的网络底价购车平台——购车惠（www.gouchehui.com）。作为一个新型的汽车互联网平台，我们与4S店合作,得到多家4S店的底价。您只要在平台挑选中意车款，在线支付询价费，即可获得购车惠多家4S店比对后筛选出的最底价，支付定金后由我们的买车顾问带您到购车惠认证的4S店看车、试驾、验车并支付购车尾款（定金可直接抵扣车款），并且全程保障您的个人信息，隐私安全。购车惠全新O2O汽车电商平台，让您买车不再四处奔波，让您领略轻松购车一站式体验。</p>
		<p>购车惠秉承“与消费者同心，服务至上；与合作商精诚合作，共赢未来”的理念，全心全意为汽车消费者服务并与合作商同心，同行，共赢美好未来。</p>
	</div>
	<div class="slo-sec se6">
		<h3>获奖通知</h3>
		<ul class="se6ul">
			<li>
				<dl>
					<dt>1,</dt>
					<dd>获奖通知将在7月22号后，在购车惠微信公众号（购车惠平台）公布，请确认提供真实有效的联系方式。届时尽请关注。</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>2,</dt>
					<dd>获奖名单中获奖人员，凭借参与活动的相关资料（身份证或证明材料）至承办方办事处领取相应名额的奖金。</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>3,</dt>
					<dd>若获奖者在规定时间内对获奖通知未做回应或放弃履行相关版权转让或授权义务，则视为放弃奖项，由其他获奖者取代。</dd>
				</dl>
			</li>
		</ul>
	</div>
	<div class="slo-sec se7">
		<h3>参赛须知</h3>
		<ul class="se6ul">
			<li>
				<dl>
					<dt>1,</dt>
					<dd>参赛者在提交作品前请确保已经阅读并且愿意遵守相关比赛规则，任何违反比赛规则的作品，主办方有权取消其参赛资格。</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>2,</dt>
					<dd>参赛者提交的参赛作品均须未被商用或授权他人使用，必须为参赛者原创，不得抄袭、盗用他人作品，且版权未移交他人。若在比赛或商业应用过程中发生版权纠纷，其法律责任由参赛者本人承担。</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>3,</dt>
					<dd>购车惠对本活动保留最终解释权。</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>4,</dt>
					<dd>购车惠拥有对获奖作品的所有权。</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>

<div class="more-activity">
	<div class="more-activity-container">
		<h2>更多专题</h2>
		<div class="bd">
			<a href="http://www.gouchehui.com/index.php/subject/bieke" target="_blank"><img src="http://www.gouchehui.com/Public/Home/images/Subject/adv_slo_bike_1200X120.gif" alt="低至8.8万起，别克劲爆抢购"></a>
		</div>
	</div>
</div>

<div class="footwrap">
  <div class="foot">
      <div class="logobox">
          <img src="{$Think.const.IMG_URL}Subject/logo_foot.png" alt="购车惠">
      </div>
      <div class="list">
          <dl>
            <dt>关于我们</dt>
            <dd><a href="/index.php/guide/introduce">关于购车惠</a></dd>
          </dl>
          <dl>
            <dt>联系我们</dt>
            <dd><a href="/index.php/guide/contact">客服电话</a></dd>
            <dd><a href="/index.php/guide/contact">商务合作</a></dd>
            <dd><a href="/index.php/guide/contact">联系电话</a></dd>
          </dl>
      </div>
      <div class="erweima">
          <div class="imgbox">
              <img class="erweima" src="{$Think.const.IMG_URL}Subject/wechat_servse.png" alt="微信公众号">
              <span>微信公众号</span>
          </div>
          <div class="imgbox">
              <img class="erweima" src="{$Think.const.IMG_URL}Subject/app_down.png" alt="微信公众号">
              <span>App下载</span>
          </div>
      </div>
</div>
<div class="copyright_info_wrap">
    <div class="copyright_info">
        <p>CopyRight @2015 - 2016 gouchehui.com All rights reserved 版权所有南京易橙汇网络科技有限公司</p>
        <p> Powered By Jiangsu ERUN备案号:苏ICP备13031090号-3</p>
    </div>
    <div style="display:none">
    <script src="http://s95.cnzz.com/z_stat.php?id=1258873107&amp;web_id=1258873107" language="JavaScript"></script><script src="http://c.cnzz.com/core.php?web_id=1258873107&amp;t=z" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1258873107" target="_blank" title="站长统计">站长统计</a>
    </div>
</div>

</div>
</body>
</html>
