<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1元上牌活动</title>
    <link rel="stylesheet" href="{$Think.const.CSS_URL}base.css"/>
    <link rel="stylesheet" href="{$Think.const.IMG_URL}Subject/yr11/css/1111.css"/>
</head>
<body>
{~W('Cate/header')}
<div class="banner">
    <div class="banner_1"></div>
    <div class="banner_2"></div>
    <div class="banner_3"></div>
    <div class="banner_4"></div>
    <div class="car-brand">
        <ul>
            <li><img src="{$Think.const.IMG_URL}Subject/yr11/images/car-1.png"></li>
            <li><img src="{$Think.const.IMG_URL}Subject/yr11/images/car-2.png"></li>
            <li><img src="{$Think.const.IMG_URL}Subject/yr11/images/car-3.png"></li>
            <li><img src="{$Think.const.IMG_URL}Subject/yr11/images/car-4.png"></li>
            <li><img src="{$Think.const.IMG_URL}Subject/yr11/images/car-5.png"></li>
            <li><img src="{$Think.const.IMG_URL}Subject/yr11/images/car-6.png"></li>
            <li><img src="{$Think.const.IMG_URL}Subject/yr11/images/car-7.png"></li>
            <li class="lianjie">
                <a href="http://gouchehui.com/index.php/car/product_search"><img src="{$Think.const.IMG_URL}Subject/yr11/images/lianjie.png"></a></li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="back_1"></div>
    <div class="back_2"></div>
    <div class="back_3"></div>
    <div class="back_4"></div>
</div>

<div class="footer">
    <div class="like">
            <div class="likemes" id="J_carSelector">
                <div class="carbrand">
                    <select  data-required="false" data-first-title="请选择品牌" data-first-value="" data-url="/index.php/subject/brand" name="brand" id="" class="brand"></select>
                </div>
                <div class="carmodel">
                    <select  data-required="false" data-first-title="请选择车型" data-url="/index.php/subject/car_model" data-first-value="" name="model" id="" class="model"></select></div>
                <div class="carstyle">
                    <select  data-required="false" data-first-title="请选择车款" data-url="/index.php/subject/car" data-first-value="" name="car" id="" class="car sel-last"></select></div>
            </div>
            <div class="click-on">
                <a href="#" class="add-car-btn">发起我想要的车</a>
            </div>
        </div>
</div>

<div class="footerWrap">
    <div class="footerTop">
        <div class="footer-list G_fl">
            <dl>
                <dt>订单服务</dt>
                <dd><a href="{:U('Guide/process')}" title="购车指南">购车指南</a></dd>
                <dd><a href="{:U('Guide/problem_price')}" title="常见问题">常见问题</a></dd>
                <dd><a href="{:U('Guide/notice')}" title="购车需知">购车需知</a></dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd><a href="{:U('Guide/introduce')}" title="公司简介">公司简介</a></dd>
                <dd><a href="{:U('Guide/feedback')}" title="在线反馈">在线反馈</a></dd>
                <dd><a href="{:U('Guide/concern')}" title="关注我们">关注我们</a></dd>
            </dl>
            <dl>
                <dt>关注我们</dt>
                <dd><a href="{:U('Guide/contact')}" title="客服电话">客服电话</a></dd>
                <dd><a href="{:U('Guide/contact')}" title="商务合作">商务合作</a></dd>
                <dd><a href="{:U('Guide/contact')}" title="联系邮箱">联系邮箱</a></dd>
            </dl>
        </div>
        <div class="footer-ewm G_fl">
            <ul>
                <li>
                    <img src="{$Think.const.IMG_URL}wechat_servse.png"/>
                    <span>微信服务号</span>
                </li>
                <li>
                    <img src="{$Think.const.IMG_URL}app_down.png"/>
                    <span>app下载</span>
                </li>
            </ul>
        </div>
        <div class="footer-tel G_fr">
            <p class="p1">400-138-0808</p>
            <p>周一至周五  （节假日除外）</p>
            <p>9:00-17:30（仅收市话费）</p>
        </div>
    </div>
    <div class="footerBot">
        <p>CopyRight @2015-2016 gouchehui.com All rights reserved 版权所有南京易橙汇网络科技有限公司</p>
        <p>备案号:苏ICP备13031090号-3</p>
        <!--<div class="footerBot-pic">
            <img src="{$Think.const.IMG_URL}footerBot_01.png"/>
            <img src="{$Think.const.IMG_URL}footerBot_02.png"/>
        </div>-->
    </div>
    <div style="display:none">
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?d54eca841141d8a4565de0cc62ccdb42";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8ee160ab7cf066c5b5eadcdb24bb415a' type='text/javascript'%3E%3C/script%3E")); </script>
        <script src="http://s95.cnzz.com/z_stat.php?id=1258873107&web_id=1258873107" language="JavaScript"></script>
    </div>
</div>
</div>
<div style="display:none">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?d54eca841141d8a4565de0cc62ccdb42";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8ee160ab7cf066c5b5eadcdb24bb415a' type='text/javascript'%3E%3C/script%3E")); </script>
    <script src="http://s95.cnzz.com/z_stat.php?id=1258873107&web_id=1258873107" language="JavaScript"></script>
</div>
</div>
<script src="/Public/Home/js/jquery-1.8.1.min.js"></script>
<script src="/Public/Home/js/app.js"></script>
<script src="/Public/Home/js/layer.js"></script>
<script src="/Public/Home/js/app/jquery.validate.js"></script>
<script src="/Public/Home/js/app/jquery.cxselect.js"></script>
<script>
$(function(){

    $('.add-car-btn').on('click', function(event){
        if($('select[name=brand]').val() === ''){
            layer.tips('请选择品牌', '.brand', {
                tips: [1, '#0FA6D8'] //还可配置颜色
            });
            return false;
        }
        if($('select[name=model]').val() === ''){
            layer.tips('请选择车型', '.model', {
                tips: [1, '#0FA6D8'] //还可配置颜色
            });
            return false;
        }
        if($('select[name=car]').val() === ''){
            layer.tips('请选择车款', '.car', {
                tips: [1, '#0FA6D8'] //还可配置颜色
            });
            return false;
        }
        event.preventDefault();
        event.stopPropagation();
        var popCon = "";

        popCon = '<div class="poper-main">' +
                '<form class="j_fromPop" action="#">' +
                '<div class="form-box clearfix"><dl><dt>手机号：</dt><dd><input type="text" placeholder="输入手机号" name="tel" class="j_tel" /></dd></dl><dl><dt>验证码：</dt><dd><input type="text" name="code"  class="code j_code" placeholder="输入动态码"/><button class="send-code-btn">发送动态码</button></dd></dl></div>' +
                '<div class="submit-box"><span class="G_fr"><input type="submit" class="btn-submit j_submitBtn" value="提交特价车" /></span></div>' +
                '</form>' +
                '</div>';

        layer.open({
            type: 1,
            zIndex: 9996,
            title: "添加想要的特价车",
            area: '400px',
            closeBtn: 1,
            move: false,
            shadeClose: true,
            skin: 'addBuyCar_box',
            content: popCon,
            success: function($layer, index){
                var md5Code = '';

                USER && USER.tel && ($layer.find('input[name=tel]').val(USER.tel), $layer.find('input[name=tel]').attr('disabled', 'true'));

                function intervalTime(num) {
                    var num = parseInt(num);
                    var i = 0;
                    $layer.find('.send-code-btn').addClass("G_btn_disabled");
                    $layer.find('.send-code-btn').html("<span></span>秒重新发送");
                    $(".send-code-btn span").text(num);
                    var inter = setInterval(function() {
                        if (i < num) {
                            i++;
                            $('.send-code-btn span').text(num - i);
                        } else {
                            clearInterval(inter);
                            $layer.find('.send-code-btn').removeClass("G_btn_disabled");
                            $layer.find('.send-code-btn').html("重新发送").on("click", sendCode);
                        }
                    }, 1000);
                }

                function sendCode(e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var telVal = $layer.find('input[name=tel]').val();
                    if (telVal == '') {
                        layer.tips('手机号不能为空', '.telInp', {
                            tips: [1, '#0FA6D8'] //还可配置颜色
                        });
                        //layer.msg("手机号不能为空！");
                        return false;
                    }

                    var postData = {
                        mobile: telVal,
                        tpl_id: 5774
                    }
                    $.ajax({
                        type: "POST",
                        url: "/index.php/Api/sendMessages",
                        data: postData,
                        success: function(data) {
                            if (data.code == 0) {
                                md5Code = data.md5code;
                                $layer.find('.send-code-btn').off();
                                intervalTime(60);
                            }else if(data.code == 205405){
                                layer.msg("号码异常/同一号码发送次数过于频繁");
                            }else if(data.code == 1){
                                layer.msg(data.msg);
                            }
                        }
                    });
                }

                $layer.find('.send-code-btn').on("click", sendCode);

                //绑定submit
                jQuery.validator.addMethod("isMobile", function(value, element) {
                    var length = value.length;
                    var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
                    return this.optional(element) || (length == 11 && mobile.test(value));
                }, "请正确填写手机号");

                $layer.find(".j_fromPop").validate({
                    debug: true, //调试模式取消submit的默认提交功能
                    rules:{
                        code:{
                            required:true
                        },
                        tel:{
                            required:true,
                            isMobile : true
                        }
                    },
                    messages:{
                        code:{
                            required:"动态码必填"
                        },
                        tel:{
                            required: "手机号必填",
                            isMobile : "号码格式有误"
                        }
                    },submitHandler: function(form){   //表单提交句柄,为一回调函数，带一个参数：form
                        var $form = $(form);
                        $.ajax({
                            type: "POST",
                            url: qianzui + "/Subject/user_activity_add",
                            dataType: "json",
                            data: {
                                md5code: md5Code,
                                code: $form.find('[name=code]').val(),
                                tel: $form.find("[name=tel]").val(),
                                brand_id: $('#J_carSelector').find("[name=brand]").val(),
                                brand_name: $('#J_carSelector').find("[name=brand]").find('option:selected').text(),
                                car_model_id: $('#J_carSelector').find("[name=model]").val(),
                                car_model_name: $('#J_carSelector').find("[name=model]").find('option:selected').text(),
                                car_id: $('#J_carSelector').find("[name=car]").val(),
                                car_name: $('#J_carSelector').find("[name=car]").find('option:selected').text(),
                                activity_name: "双十一预热_PC",
                                source:1,
                                flag: 2,
                                id:26,
                                activity_number: '11YR_PC'
                            },
                            success:function(data){
                                console.log(data);
                                if(data && data.status && data.status === 1){
                                    layer.close(index);

                                    layer.alert('尊敬的用户，您好，我们的客服已收到您的购车需求，请您耐心等待我们的客服给您致电，帮您用最实惠的价格，挑选最心仪的爱车', {
                                        skin: 'layui-layer-molv' //样式类名
                                        ,closeBtn: 0
                                    });
                                }else{
                                    layer.close(index);
                                    layer.msg(data.msg);
                                }
                            }
                        });
                    }
                });

            }
        });

    });
})
$('#J_carSelector').cxSelect({
    selects: ['brand', 'model', 'car'],
    jsonName: 'name',
    jsonValue: 'value'
});
</script>

</body>
</html>