<!--login footer-->
<div class="footer">
	<ul class="G_f14">
		<li><a href="/index.php/Guide/process" title="购车指南">购车指南</a><b>|</b></li>
		<li><a href="/index.php/Guide/problem_price" title="常见问题">常见问题</a><b>|</b></li>
		<li><a href="/index.php/Guide/introduce" title="公司简介">公司简介</a><b>|</b></li>
		<li><a href="/index.php/Guide/contact" title="商务合作">商务合作</a><b>|</b></li>
		<li><a href="/index.php/Guide/contact" title="客服电话">客服电话</a><b>|</b></li>
		<li><a href="/index.php/Guide/feedback" title="在线反馈">在线反馈</a></li>
	</ul>
	<p>CopyRight @2015-2016 gouchehui.com All rights reserved 版权所有南京易橙汇网络科技有限公司</p>
	<p>备案号:苏ICP备13031090号-3</p>
</div>
<div style="display:none">
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?d54eca841141d8a4565de0cc62ccdb42";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8ee160ab7cf066c5b5eadcdb24bb415a' type='text/javascript'%3E%3C/script%3E")); </script>
	<script src="http://s95.cnzz.com/z_stat.php?id=1258873107&web_id=1258873107" language="JavaScript"></script>
</div>
<script src="{$Think.const.js_URL}jquery-1.8.1.min.js"></script>
<script src="{$Think.const.js_URL}log.js" type="text/javascript" charset="utf-8"></script>